<div class="row">
    <div class="col-6">
        <h3>Entity Settings</h3>
    </div>
    <div class="col-6 text-right">
        <a [routerLink]="['/dashboard/entity']">
            <button type="submit" class="btn btn-outline-secondary ml-2">
                <i class="fas fa-arrow-left" style="margin-right:5px"></i>Back
            </button>
        </a>
    </div>
</div>

<div class="tab-config">
    <app-card [hidHeader]="true" cardClass="tab-card ">
        <div class="row">
            <div class="col-3">
                <ngb-accordion [closeOthers]="true" activeIds="static-1" class="settings-tabs">
                    <ngb-panel id="static-1">
                        <ng-template ngbPanelTitle>
                            <span><i class="fas fa-bars"></i>&nbsp;<b> Settings</b></span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <ul class="settings-submenu">
                                <li *ngFor="let item of tabDetails" (click)="onClickTab(item)">
                                    <a class="cursor-pointer" [ngClass]="{'active': item.isActive}">
                                        {{item.tabName}}
                                    </a>
                                </li>
                            </ul>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
            <div class="col-9">
                <div class="tab-dtls">
                    <div class="tab-cnt" [ngClass]="{'active': activeTabId === 'alerts'}">
                        <h4 class="tab-heading">Alerts</h4>

                    </div>
                    <div class="tab-cnt" [ngClass]="{'active': activeTabId === 'threatagentconfiguration'}">
                        <h4 class="tab-heading">Threat Agent Configuration</h4>

                    </div>
                    <div class="tab-cnt" [ngClass]="{'active': activeTabId === 'usermanage'}">
                        <h4 class="tab-heading">User Management</h4>
                    </div>
                </div>
            </div>
        </div>
    </app-card>
</div>