.tab-dtls {
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    columns: #adb7be;

    .tab-cnt {
        padding: 15px;
        width: 100%;
        display: none;

        &.active {
            display: block;
        }
    }

    .tab-heading {
        font-size: 22px;
        color: #fff;
        font-weight: 700;
        margin: 0 0 30px;
    }
}

