<div class="row">
    <div class="col-6">
        <h3>Organization Settings</h3>
    </div>
    <div class="col-6"></div>
</div>

<app-card [hidHeader]="true" cardClass="tab-card">
    <div class="row">
        <div class="col-3">
            <app-vertical-tab [tabList]="tabDetails" (tabActiveId)="getActiveTabId($event)"></app-vertical-tab>
        </div>
        <div class="col-9">
            <div class="tab-dtls">
                <div class="tab-cnt" [ngClass]="{'active': activeTabId === 'threatagentconfiguration'}">
                    <h4 class="tab-heading">Configuration</h4>
                    Threat Agent Configuration
                </div>
                <div class="tab-cnt" [ngClass]="{'active': activeTabId === 'samlIntegrations'}">
                    <h4 class="tab-heading">SAML Integration</h4>
                    
                </div>
                <div class="tab-cnt" [ngClass]="{'active': activeTabId === 'integrations'}">
                    <h4 class="tab-heading">Integrations</h4>
                    <p> Jira Integration</p>
                       <p> Slack Integration</p>
                </div>
            </div>
        </div>
    </div>
</app-card>