<div *ngIf='obsEntity | async as entity;'>
  <div class="row">
    <!-- <div class="col-6">
      <h3><span *ngIf="entity.parentEntityId"><a (click)="changeEntity(entity.parentEntityId)" style="font-size:15px;cursor: pointer;"><i class="fas fa-level-up-alt m-r-5"></i>Parent BU</a> / </span>{{entity.name}}</h3>
    </div> -->
    <div class="col-6">
      <h3 class="entity-ttl"><i class="fas fa-layer-group entity-icon"></i> <span *ngIf="entity.parentEntityId">
          <!-- <a (click)="changeEntity(entity.parentEntityId,entity.name,false)" style="font-size:15px;cursor: pointer;">
            <i class="fas fa-level-up-alt m-r-5"></i>Parent BU</a> /  -->
        </span>{{entity.name}}</h3>
    </div>
    <div class="col-6 entity-btns" style="text-align:right">
      <a [routerLink]="['/admin/entity']">
        <button type="submit" class="btn btn-outline-warning ml-2">
          <i class="fas fa-level-down-alt" style="margin-right:5px"></i>Add Child
        </button>
      </a>
      <a [routerLink]="['/dashboard/scan/',entity.entityId]">
        <button type="submit" class="btn btn-outline-info ml-2">
          <i class="fas fa-fingerprint" style="margin-right:5px"></i>Execute ThreatScan
        </button>
      </a>
      <a [routerLink]="['/dashboard/entity-setting']">
        <button type="submit" class="btn btn-outline-secondary ml-2">
          <i class="fas fa-cogs" style="margin-right:5px"></i>Settings
        </button>
      </a>
      <a [routerLink]="['/dashboard/policy/list/',entity.entityId]">
        <button type="submit" class="btn btn-outline-info ml-2">
          <i class="fas fa-feather-alt" style="margin-right:5px"></i>Policies
        </button>
      </a>
    </div>
    <div class="col-12 entity-breadcrumb">
      <div *ngFor="let bread of entityNewBreadCum;let i = index">
        <a *ngIf="i  != (entityNewBreadCum.length - 1)"
          [ngClass]="{'text-primary': i  != (entityNewBreadCum.length - 1)}"
          (click)="goBackfromBreadcum(bread.id,i)">{{bread.name}}</a>
        <span *ngIf="i == (entityNewBreadCum.length -1)">{{bread.name}}</span>
        <span *ngIf="i  != (entityNewBreadCum.length - 1)">/
        </span>
      </div>
    </div>
  </div>


  <div class="row" style="padding:20px 0px 20px 0px"
    *ngIf="!entity.entityMetricsGroup || entity.entityMetricsGroup.entityMetrics.length == 0">
    <div class="col-md-5">
      <app-card [hidHeader]="true" cardClass="proj-t-card">
        <span style="font-size:20px;color:#4680ff">
          A fresh dashboard ready to get to work.
        </span>
        <div style="margin-top:20px;text-align: justify;">
          <p><b>Child dashboards</b> always propagate their scan data up to your dashboard. This allows you to create a
            hierarchy of company Divisions, Business Units, Teams or even individual developers
            who can scan their own projects while automatically sharing the data with your team.</p>
          <p>Risk Metrics, from child entities, will also be rolled up to your dashboard so as to easily assess the risk
            across your organization.</p>
          <a [routerLink]="['/admin/entity']">
            <button type="submit" class="btn btn-outline-warning ml-2">
              <i class="fas fa-level-down-alt" style="margin-right:5px"></i>Add Child Dashboard
            </button>
          </a>
        </div>
        <div style="margin-top:20px;text-align: justify;">
          <p>Get started quickly by connecting Threatrix with your Github, GitLab or Bitbucket accounts to see results
            in seconds.</p>
          <a [routerLink]="['/dashboard/scan/',entity.entityId]">
            <button type="submit" class="btn btn-outline-info ml-2">
              <i class="fas fa-fingerprint" style="margin-right:5px"></i>Execute ThreatScan
            </button>
          </a>
        </div>
      </app-card>
    </div>
  </div>

  <!-- CHART DATA -->
  <div class="row entity-chart-row"
    *ngIf="entity.entityMetricsGroup && entity.entityMetricsGroup.entityMetrics.length >= 1">

    <div class="col-lg-3 col-md-3 entity-chart-blk cursor-pointer"
      (click)="initStackedChartAccordingToDonut('Vulnerability')">
      <app-card [hidHeader]="true" cardClass="proj-t-card">
        <div>
          <div class="chart-lbl-indi">
            <div style="margin-bottom:10px" class="chart-lbl">
              <h6><i class="fas fa-exclamation-triangle text-c-red f-15 m-r-5"></i>Vulnerabilities</h6>
            </div>
          </div>
        </div>
        <app-apex-chart chartID="vulnerabilityChart" [chartConfig]="vulnerabilityDonutChart"></app-apex-chart>
      </app-card>
    </div>

    <div class="col-lg-3 col-md-3 entity-chart-blk cursor-pointer"
      (click)="initStackedChartAccordingToDonut('Licenses')">
      <app-card [hidHeader]="true" cardClass="proj-t-card">
        <div>
          <div class="chart-lbl-indi">
            <div style="margin-bottom:10px" class="chart-lbl">
              <h6><i class="fas fa-balance-scale text-c-red f-15 m-r-5"></i>Licenses</h6>
              <div class="chart-options">
                <select class="form-control form-control-sm" id="license" (change)="changeLincesChartDropdown()"
                  [(ngModel)]="selectedlicenseChartDropValue" name="license">
                  <option *ngFor="let item of licenseChartDropValues">{{item.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>


        <div *ngIf="selectedlicenseChartDropValue == 'License Name'">
          <app-apex-chart chartID="licenseChart" [chartConfig]="licenseDonutChart"></app-apex-chart>
        </div>

        <span *ngIf="selectedlicenseChartDropValue == 'License Category'">
          <app-apex-chart chartID="assetChart" [chartConfig]="licenseCategoryChart"></app-apex-chart>
        </span>

        <span *ngIf="selectedlicenseChartDropValue == 'Risk'">
          <app-apex-chart chartID="assetChart" [chartConfig]="licenseRiskChart"></app-apex-chart>
        </span>

      </app-card>
    </div>


    <div class="col-lg-3 col-md-3 entity-chart-blk supply-chart cursor-pointer"
      (click)="initStackedChartAccordingToDonut('SupplyChain')">
      <app-card [hidHeader]="true" cardClass="proj-t-card">
        <div>
          <div class="chart-lbl-indi">
            <div style="margin-bottom:10px" class="chart-lbl">
              <h6><i class="fas fa-link text-c-red f-15 m-r-5"></i>Supply chain risk & quality</h6>
            </div>
          </div>
        </div>

        <div class="supply-external-class">
          <apx-chart [series]="supplyChainChart.series" [fill]="supplyChainChart.fill" [chart]="supplyChainChart.chart"
            [plotOptions]="supplyChainChart.plotOptions" [labels]="supplyChainChart.labels"
            [legend]="supplyChainChart.legend" [colors]="supplyChainChart.colors"
            [responsive]="supplyChainChart.responsive"></apx-chart>
        </div>

      </app-card>
    </div>


    <div class="col-lg-3 col-md-3 entity-chart-blk cursor-pointer"
      (click)="initStackedChartAccordingToDonut('Components')">
      <app-card [hidHeader]="true" cardClass="proj-t-card">
        <div>
          <div class="chart-lbl-indi">
            <div style="margin-bottom:10px" class="chart-lbl">
              <h6><i class="fas fa-cubes text-c-red f-15 m-r-5"></i>Components</h6>
              <div class="chart-options">
                <select class="form-control form-control-sm" id="component" (change)="changeComponentChartDropdown()"
                  [(ngModel)]="selectedComponentChartDropvalue" name="component">
                  <option *ngFor="let item of componentChartDropValues">{{item.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <span *ngIf="selectedComponentChartDropvalue == 'Vulnerabilities'">
          <app-apex-chart chartID="componentChart" [chartConfig]="componentVulnerabilityRiskChart">
          </app-apex-chart>
        </span>
        <span *ngIf="selectedComponentChartDropvalue == 'License Risk'">
          <app-apex-chart chartID="componentLicenseRiskChart" [chartConfig]="componentLicenseRiskChart">
          </app-apex-chart>
        </span>
        <span *ngIf="selectedComponentChartDropvalue == 'License Category'">
          <app-apex-chart chartID="componentLicenseCategory" [chartConfig]="componentLicenseCategory">
          </app-apex-chart>
        </span>
        <span *ngIf="selectedComponentChartDropvalue == 'License Name'">
          <app-apex-chart chartID="componentLicenseCategory" [chartConfig]="componentLicense">
          </app-apex-chart>
        </span>
      </app-card>
    </div>

    <div class="col-lg-3 col-md-3 entity-chart-blk cursor-pointer" (click)="initStackedChartAccordingToDonut('Assets')">
      <app-card [hidHeader]="true" cardClass="proj-t-card">
        <div>
          <div class="chart-lbl-indi">
            <div style="margin-bottom:10px" class="chart-lbl">
              <h6><i class="fas fa-code text-c-red f-15 m-r-5"></i>Assets</h6>
            </div>
          </div>
        </div>
        <app-apex-chart chartID="assetChart" [chartConfig]="assetDonutChart"></app-apex-chart>
      </app-card>
    </div>

  </div>


  <div class="row" *ngIf="entity.entityMetricsGroup && entity.entityMetricsGroup.entityMetrics.length >= 1">
    <div class="col-12 entity-chart-tabbing"
      [ngClass]="{'vulnerability-donut': selectedDonut == 'Vulnerability',
    'licenses-donut': selectedDonut == 'Licenses', 'supply-donut': selectedDonut == 'SupplyChain','Components-donut': selectedDonut == 'Components','Assets-donut': selectedDonut == 'Assets'}">
      <div class="card mb-3">
        <ngb-tabset [activeId]="lineChartActiveTab" [justify]="currentJustify"
          (tabChange)="onStackedChartTabChange($event)">
          <ngb-tab id="Week">
            <ng-template ngbTabTitle>Week</ng-template>
            <ng-template ngbTabContent>
              <div class="entity-tab-chart">
                <div class="row">
                  <div class="col-12" *ngIf="selectedDonut !== 'SupplyChain'">
                    <apx-chart [stroke]="stackedChartCommonOptions.stroke" [series]="weekSeriesOverTime.series"
                      [colors]="weekSeriesOverTime.colors" [chart]="stackedChartCommonOptions.chart"
                      [xaxis]="stackedChartCommonOptions.xaxis" [dataLabels]="stackedChartCommonOptions.dataLabels"
                      [legend]="stackedChartCommonOptions.legend" [fill]="stackedChartCommonOptions.fill"
                      [noData]="stackedChartCommonOptions.noData"></apx-chart>
                  </div>
                  <div class="col-12" *ngIf="selectedDonut === 'SupplyChain'">
                    <apx-chart [series]="weekSeriesOverTime.series" [chart]="areaChartCommonOption.chart"
                      [xaxis]="areaChartCommonOption.xaxis" [stroke]="areaChartCommonOption.stroke"
                      [tooltip]="areaChartCommonOption.tooltip" [dataLabels]="areaChartCommonOption.dataLabels"
                      [noData]="stackedChartCommonOptions.noData">
                    </apx-chart>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="Month">
            <ng-template ngbTabTitle>Month</ng-template>
            <ng-template ngbTabContent>
              <div class="entity-tab-chart">
                <div class="row">
                  <div class="col-12" *ngIf="selectedDonut !== 'SupplyChain'">
                    <apx-chart [stroke]="stackedChartCommonOptions.stroke" [series]="monthSeriesOverTime.series"
                      [chart]="stackedChartCommonOptions.chart" [xaxis]="stackedChartCommonOptions.xaxis"
                      [dataLabels]="stackedChartCommonOptions.dataLabels" [colors]="stackedChartCommonOptions.colors"
                      [legend]="stackedChartCommonOptions.legend" [fill]="stackedChartCommonOptions.fill"
                      [noData]="stackedChartCommonOptions.noData"></apx-chart>
                  </div>
                  <div class="col-12" *ngIf="selectedDonut === 'SupplyChain'">
                    <apx-chart [series]="monthSeriesOverTime.series" [chart]="areaChartCommonOption.chart"
                      [xaxis]="areaChartCommonOption.xaxis" [stroke]="areaChartCommonOption.stroke"
                      [tooltip]="areaChartCommonOption.tooltip" [dataLabels]="areaChartCommonOption.dataLabels"
                      [noData]="stackedChartCommonOptions.noData">
                    </apx-chart>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="Quarter">
            <ng-template ngbTabTitle>Quarter</ng-template>
            <ng-template ngbTabContent>
              <div class="entity-tab-chart">
                <div class="row">
                  <div class="col-12" *ngIf="selectedDonut !== 'SupplyChain'">
                    <apx-chart [stroke]="stackedChartCommonOptions.stroke" [series]="quarterSeriesOverTime.series"
                      [chart]="stackedChartCommonOptions.chart" [xaxis]="stackedChartCommonOptions.xaxis"
                      [dataLabels]="stackedChartCommonOptions.dataLabels" [colors]="stackedChartCommonOptions.colors"
                      [legend]="stackedChartCommonOptions.legend" [fill]="stackedChartCommonOptions.fill"
                      [noData]="stackedChartCommonOptions.noData"></apx-chart>
                  </div>
                  <div class="col-12" *ngIf="selectedDonut === 'SupplyChain'">
                    <apx-chart [series]="quarterSeriesOverTime.series" [chart]="areaChartCommonOption.chart"
                      [xaxis]="areaChartCommonOption.xaxis" [stroke]="areaChartCommonOption.stroke"
                      [tooltip]="areaChartCommonOption.tooltip" [dataLabels]="areaChartCommonOption.dataLabels"
                      [noData]="stackedChartCommonOptions.noData">
                    </apx-chart>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="Year">
            <ng-template ngbTabTitle>Year</ng-template>
            <ng-template ngbTabContent>
              <div class="entity-tab-chart">
                <div class="row">
                  <div class="col-12" *ngIf="selectedDonut !== 'SupplyChain'">
                    <apx-chart [stroke]="stackedChartCommonOptions.stroke" [series]="yearSeriesOverTime.series"
                      [chart]="stackedChartCommonOptions.chart" [xaxis]="stackedChartCommonOptions.xaxis"
                      [dataLabels]="stackedChartCommonOptions.dataLabels" [colors]="stackedChartCommonOptions.colors"
                      [legend]="stackedChartCommonOptions.legend" [fill]="stackedChartCommonOptions.fill"
                      [noData]="stackedChartCommonOptions.noData"></apx-chart>
                  </div>
                  <div class="col-12" *ngIf="selectedDonut === 'SupplyChain'">
                    <apx-chart [series]="yearSeriesOverTime.series" [chart]="areaChartCommonOption.chart"
                      [xaxis]="areaChartCommonOption.xaxis" [stroke]="areaChartCommonOption.stroke"
                      [tooltip]="areaChartCommonOption.tooltip" [dataLabels]="areaChartCommonOption.dataLabels"
                      [noData]="stackedChartCommonOptions.noData">
                    </apx-chart>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>

  </div>



  <div class="row" *ngIf="entity?.childEntities?.edges.length > 0 || entity.entityMetricsGroup?.projectCount > 0">
    <div class="col-12">
      <app-card [hidHeader]="true" cardClass="tab-card entity-table-card">
        <ngb-tabset type="pills" [activeId]="activeTab" (tabChange)="onTabChange($event)">


          <ngb-tab title="TEAMS" class="mb-3 ml-0 pl-0" *ngIf="entity.childEntities.edges.length > 0"
            id="BUSINESSUNITS">
            <ng-template ngbTabContent>

              <div class="row">
                <div class="col-sm-12">
                  <app-card [hidHeader]="true" cardClass="table-card tree-table-card" blockClass="px-0 py-0">

                    <p-treeTable [value]="entityTreeModel.data">
                      <ng-template pTemplate="header">
                        <tr>
                          <th class="lg-col">Name</th>
                          <th class="text-left projects-col">Projects</th>
                          <th class="text-left">Vulnerability Risk</th>
                          <th class="text-left">License Risk</th>
                          <th class="text-left">Supply Chain Risk</th>
                          <th class="text-left">Asset Composition</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                        <tr *ngIf="showAndHideRow(rowData)">
                          <td>
                            <div class="tree-data-parent cursor-pointer"
                              (click)="onEntityTreeNameSelect(rowData,rowNode)">

                              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                              {{rowData.name}}
                              <!-- <span class="tree-tbl-icn">
                                <i [ngClass]="{'fal fa-tachometer-alt': rowData.entityType === 'DASHBOARD',
                                'fas fa-divide': rowData.entityType === 'DIVISION',
                                'fas fa-users': rowData.entityType === 'TEAM',
                                'far fa-building': rowData.entityType === 'BUSINESS_UNIT'}"></i></span> -->
                            </div>
                          </td>
                          <td class="text-left">{{rowData?.entityMetrics?.projectCount}}</td>
                          <td class="text-left">
                            <div class="sparkline-chart-blk">
                              <!-- <span>{{rowData?.entityMetrics?.vulnerabilityMetrics?.total}}</span> -->
                              <apx-chart [stroke]="commonLineSparklineOptions.stroke" [series]="rowData.vulSericeData"
                                [chart]="commonLineSparklineOptions.chart"
                                [tooltip]="commonLineSparklineOptions.tooltip">
                              </apx-chart>
                            </div>
                          </td>
                          <td class="text-left">
                            <div class="sparkline-chart-blk">
                              <span>{{rowData?.entityMetrics?.licenseMetrics?.total}}</span>
                              <apx-chart [stroke]="commonLineSparklineOptions.stroke" [series]="rowData.licSericeData"
                                [chart]="commonLineSparklineOptions.chart"
                                [tooltip]="commonLineSparklineOptions.tooltip">
                              </apx-chart>
                            </div>
                          </td>
                          <td class="text-left">
                            <div class="sparkline-chart-blk">
                              <span>{{rowData?.entityMetrics?.assetMetrics?.total}}</span>
                              <apx-chart [stroke]="commonLineSparklineOptions.stroke"
                                [series]="rowData.supplySericeData" [chart]="commonLineSparklineOptions.chart"
                                [tooltip]="commonLineSparklineOptions.tooltip"></apx-chart>
                            </div>
                          </td>
                          <td class="text-left">
                            <div class="sparkline-chart-blk">
                              <span>{{rowData?.entityMetrics?.assetMetrics?.total}}</span>
                              <apx-chart [stroke]="commonLineSparklineOptions.stroke" [series]="rowData.assetSericeData"
                                [chart]="commonLineSparklineOptions.chart"
                                [tooltip]="commonLineSparklineOptions.tooltip"></apx-chart>
                            </div>
                          </td>
                        </tr>
                      </ng-template>
                    </p-treeTable>

                    <div class="tree-spinner" *ngIf="isTreeProgressBar">
                      <mat-progress-spinner style="margin:0 auto;" [mode]="'indeterminate'">
                      </mat-progress-spinner>
                    </div>

                  </app-card>
                </div>
              </div>

            </ng-template>
          </ngb-tab>

          <!-- PROJECTS -->
          <ngb-tab title="PROJECTS" *ngIf="entity.entityMetricsGroup?.projectCount > 0" id="PROJECTS">
            <ng-template ngbTabContent>
              <!-- product-section start -->
              <div class="row">
                <div class="col-sm-12">
                  <app-card [hidHeader]="true" cardTitle="" cardClass="table-card" blockClass="px-0 py-0">
                    <div class="table-responsive">
                      <perfect-scrollbar>
                        <p-treeTable class="table  m-b-0" [value]="projects">
                          <ng-template pTemplate="header">
                            <tr>
                              <th style="border-bottom:1px solid #4680ff;font-weight:bold; padding: 0.75rem;"
                                width="25%">PROJECT NAME</th>
                              <!-- <th
                                style="border-left:1px solid #4680ff;border-bottom:1px solid #4680ff;font-weight:bold; padding: 0.75rem;">
                                DIVISION</th> -->
                              <th class="text-left"
                                style="border-bottom:1px solid #4680ff;font-weight:bold; padding: 0.75rem;" width="15%">
                                Vulnerability Risk</th>
                              <th class="text-left"
                                style="border-bottom:1px solid #4680ff;font-weight:bold; padding: 0.75rem;" width="15%">
                                License Risk</th>
                              <th class="text-left"
                                style="border-bottom:1px solid #4680ff;font-weight:bold; padding: 0.75rem;" width="15%">
                                Supply Chain Risk</th>
                              <th style="border-bottom:1px solid #4680ff;font-weight:bold; padding: 0.75rem;"
                                width="15%">Asset Composition</th>
                              <th style="border-bottom:1px solid #4680ff;font-weight:bold; padding: 0.75rem;">Last Scan
                              </th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-rowNode let-project let-rowData="rowData">
                            <tr [ttRow]="rowNode">
                              <td style="font-weight:bold; padding: 0.75rem; overflow: hidden;">
                                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                                <a
                                  [routerLink]="['/dashboard/entity',entity.entityId, 'project',rowData.projectId]">{{rowData.name}}</a>
                              </td>
                              <!-- <td style="border-left:1px solid #4680ff; padding: 0.75rem;">{{entity.name}}</td> -->
                              <td style="padding: 0.75rem;">
                                <span title="Critical"
                                  class="badge m-r-5 badge-light-danger">{{rowData?.projectMetricsSummary?.vulnerabilityMetrics.critical}}</span>
                                <span title="High"
                                  class="badge m-r-5 badge-light-warning">{{rowData?.projectMetricsSummary?.vulnerabilityMetrics.high}}</span>
                                <span title="Medium"
                                  class="badge m-r-5 badge-light-success">{{rowData?.projectMetricsSummary?.vulnerabilityMetrics.medium}}</span>
                                <span title="Low"
                                  class="badge m-r-5 badge-light-info">{{rowData?.projectMetricsSummary?.vulnerabilityMetrics.low}}</span>
                                <span title="Info"
                                  class="badge m-r-5 badge-light-primary">{{rowData?.projectMetricsSummary?.vulnerabilityMetrics.info}}</span>
                              </td>
                              <td style="padding: 0.75rem;">
                                <span title="Copyleft Strong"
                                  class="badge m-r-5 badge-light-danger">{{rowData?.projectMetricsSummary?.licenseMetrics?.copyleftStrong}}</span>
                                <span title="Copyleft"
                                  class="badge m-r-5 badge-light-danger">{{rowData?.projectMetricsSummary?.licenseMetrics?.copyleft}}</span>
                                <span title="Copyleft Weak"
                                  class="badge m-r-5 badge-light-warning">{{rowData?.projectMetricsSummary?.licenseMetrics?.copyleftWeak}}</span>
                                <span title="Copyleft Partial"
                                  class="badge m-r-5 badge-light-warning">{{rowData?.projectMetricsSummary?.licenseMetrics?.copyleftPartial}}</span>
                                <span title="Copyleft Limited"
                                  class="badge m-r-5 badge-light-warning">{{rowData?.projectMetricsSummary?.licenseMetrics?.copyleftLimited}}</span>
                                <span title="Dual"
                                  class="badge m-r-5 badge-light-warning">{{rowData?.projectMetricsSummary?.licenseMetrics?.dual}}</span>
                                <span title="Custom"
                                  class="badge m-r-5 badge-light-warning">{{rowData?.projectMetricsSummary?.licenseMetrics?.custom}}</span>
                                <span title="Permissive"
                                  class="badge m-r-5 badge-light-primary">{{rowData?.projectMetricsSummary?.licenseMetrics?.permissive}}</span>
                              </td>
                              <td style="padding: 0.75rem;">
                                <span title="Risk Score"
                                  class="badge m-r-5 badge-light-danger">{{rowData?.projectMetricsSummary?.supplyChainMetrics.risk}}</span>
                                <span title="Quality Score"
                                  class="badge m-r-5 badge-light-warning">{{rowData?.projectMetricsSummary?.supplyChainMetrics.quality}}</span>
                              </td>
                              <td style="padding: 0.75rem;">
                                <span title="Open Source"
                                  class="badge m-r-5 badge-light-warning">{{rowData?.projectMetricsSummary?.assetMetrics?.openSource}}</span>
                                <span title="Embedded"
                                  class="badge m-r-5 badge-light-warning">{{rowData?.projectMetricsSummary?.assetMetrics?.embedded}}</span>
                                <span title="Unique"
                                  class="badge m-r-5 badge-light-success">{{rowData?.projectMetricsSummary?.assetMetrics?.unique}}</span>
                              </td>
                              <td style="padding: 0.75rem;">{{rowData?.projectMetricsSummary?.measureDateTime | date
                                :'M/d/y h:mmaa' | lowercase}}</td>
                            </tr>
                          </ng-template>
                        </p-treeTable>
                        <!--                         <table class="table table-hover m-b-0">
                          <thead>
                          <tr>
                            <th style="border-bottom:1px solid #4680ff;font-weight:bold" width="250px">PROJECT NAME</th>
                            <th style="border-left:1px solid #4680ff;border-bottom:1px solid #4680ff;font-weight:bold" width="150px">DIVISION</th>
                            <th style="border-bottom:1px solid #4680ff;font-weight:bold">Vulnerabilities</th>
                            <th style="border-bottom:1px solid #4680ff;font-weight:bold">Licenses</th>
                            <th style="border-bottom:1px solid #4680ff;font-weight:bold">Components</th>
                            <th style="border-bottom:1px solid #4680ff;font-weight:bold">Assets</th>
                            <!-- <th style="border-bottom:1px solid #4680ff;font-weight:bold">Leaked Assets</th> -->
                        <!--                            <th style="border-bottom:1px solid #4680ff;font-weight:bold">Last Scan</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let projectEdge of entity.projects?.edges">
                            <td style="font-weight:bold"><a (click)="navigateToProject(projectEdge.node.projectId)">{{projectEdge.node.name}}</a></td>
                            <td style="border-left:1px solid #4680ff">{{entity.name}}</td>
                            <td>
                              <span title="Critical" class="badge m-r-5 badge-light-danger">{{projectEdge.node.latestScan.scanMetrics?.vulnerabilityMetrics.critical}}</span>
                              <span title="High" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.vulnerabilityMetrics.high}}</span>
                              <span title="Medium" class="badge m-r-5 badge-light-success">{{projectEdge.node.latestScan.scanMetrics?.vulnerabilityMetrics.medium}}</span>
                              <span title="Low" class="badge m-r-5 badge-light-info">{{projectEdge.node.latestScan.scanMetrics?.vulnerabilityMetrics.low}}</span>
                              <span title="Info" class="badge m-r-5 badge-light-primary">{{projectEdge.node.latestScan.scanMetrics?.vulnerabilityMetrics.info}}</span>
                            </td>
                            <td>
                              <span title="Copyleft Strong" class="badge m-r-5 badge-light-danger">{{projectEdge.node.latestScan.scanMetrics?.licenseMetrics?.copyleftStrong}}</span>
                              <span title="Copyleft Weak" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.licenseMetrics?.copyleftWeak}}</span>
                              <span title="Copyleft Partial" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.licenseMetrics?.copyleftPartial}}</span>
                              <span title="Copyleft Limited" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.licenseMetrics?.copyleftLimited}}</span>
                              <span title="Copyleft" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.licenseMetrics?.copyleft}}</span>
                              <span title="Dual" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.licenseMetrics?.dual}}</span>
                              <span title="Custom" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.licenseMetrics?.custom}}</span>
                              <span title="Permissive" class="badge m-r-5 badge-light-primary">{{projectEdge.node.latestScan.scanMetrics?.licenseMetrics?.permissive}}</span>
                            </td>
                            <td>
                              <span title="Latest" class="badge m-r-5 badge-light-success">{{projectEdge.node.latestScan.scanMetrics?.componentMetrics.latest}}</span>
                              <span title="Not Latest" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.componentMetrics.notLatest}}</span>
                              <span title="Dual" class="badge m-r-5 badge-light-danger">{{projectEdge.node.latestScan.scanMetrics?.componentMetrics.vulnerabilities}}</span>
                              <!--<span title="Custom" class="badge m-r-5 badge-light-success">{{project.latestScan.scanMetrics.componentMetrics.riskyLicenses}}</span>-->
                        <!--                            </td>
                            <td>
                              <span title="Analyzed" class="badge m-r-5 badge-light-success">{{projectEdge.node.latestScan.scanMetrics?.assetMetrics?.analyzed}}</span>
                              <span title="Embedded" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.assetMetrics?.embedded}}</span>
                              <span title="Skipped" class="badge m-r-5 badge-light-primary">{{projectEdge.node.latestScan.scanMetrics?.assetMetrics?.skipped}}</span>
                            </td>
                            <!-- <td>
                              <span title="Analyzed" class="badge m-r-5 badge-light-primary">{{projectEdge.node.latestScan.scanMetrics?.assetMetrics?.analyzed}}</span>
                              <span title="Embedded" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.assetMetrics?.embedded}}</span>
                              <span title="Skipped" class="badge m-r-5 badge-light-primary">{{projectEdge.node.latestScan.scanMetrics?.assetMetrics?.skipped}}</span>
                            </td> -->
                        <!--                            <td>{{projectEdge.node.created | date :'M/d/y h:mmaa' | lowercase}}</td>
                          </tr>
                          <ng-container *ngFor="let childEntityEdge of entity.childEntities?.edges">
                            <tr *ngFor="let projectEdge of childEntityEdge.node.projects?.edges">
                              <td style="font-weight:bold"><a (click)="navigateToProject(projectEdge.node.projectId)">{{projectEdge.node.name}}</a></td>
                              <td style="border-left:1px solid #4680ff">{{childEntityEdge.node.name}}</td>
                              <td>
                                <span title="Critical" class="badge m-r-5 badge-light-danger">{{projectEdge.node.latestScan.scanMetrics?.vulnerabilityMetrics.critical}}</span>
                                <span title="High" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.vulnerabilityMetrics.high}}</span>
                                <span title="Medium" class="badge m-r-5 badge-light-success">{{projectEdge.node.latestScan.scanMetrics?.vulnerabilityMetrics.medium}}</span>
                                <span title="Low" class="badge m-r-5 badge-light-info">{{projectEdge.node.latestScan.scanMetrics?.vulnerabilityMetrics.low}}</span>
                                <span title="Info" class="badge m-r-5 badge-light-primary">{{projectEdge.node.latestScan.scanMetrics?.vulnerabilityMetrics.info}}</span>
                              </td>
                              <td>
                                <span title="Copyleft Strong" class="badge m-r-5 badge-light-danger">{{projectEdge.node.latestScan.scanMetrics?.licenseMetrics?.copyleftStrong}}</span>
                                <span title="Copyleft Weak" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.licenseMetrics?.copyleftWeak}}</span>
                                <span title="Copyleft Partial" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.licenseMetrics?.copyleftPartial}}</span>
                                <span title="Copyleft Limited" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.licenseMetrics?.copyleftLimited}}</span>
                                <span title="Copyleft" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.licenseMetrics?.copyleft}}</span>
                                <span title="Dual" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.licenseMetrics?.dual}}</span>
                                <span title="Custom" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.licenseMetrics?.custom}}</span>
                                <span title="Permissive" class="badge m-r-5 badge-light-primary">{{projectEdge.node.latestScan.scanMetrics?.licenseMetrics?.permissive}}</span>
                              </td>
                              <td>
                                <span title="Latest" class="badge m-r-5 badge-light-success">{{projectEdge.node.latestScan.scanMetrics?.componentMetrics.latest}}</span>
                                <span title="Not Latest" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.componentMetrics.notLatest}}</span>
                                <span title="Dual" class="badge m-r-5 badge-light-danger">{{projectEdge.node.latestScan.scanMetrics?.componentMetrics.vulnerabilities}}</span>
                                <!--<span title="Custom" class="badge m-r-5 badge-light-success">{{project.latestScan.scanMetrics.componentMetrics.riskyLicenses}}</span>-->
                        <!--                              </td>
                              <td>
                                <span title="Analyzed" class="badge m-r-5 badge-light-success">{{projectEdge.node.latestScan.scanMetrics?.assetMetrics?.analyzed}}</span>
                                <span title="Embedded" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.assetMetrics?.embedded}}</span>
                                <span title="Skipped" class="badge m-r-5 badge-light-primary">{{projectEdge.node.latestScan.scanMetrics?.assetMetrics?.skipped}}</span>
                              </td>
                              <!-- <td>
                                <span title="Analyzed" class="badge m-r-5 badge-light-primary">{{projectEdge.node.latestScan.scanMetrics?.assetMetrics?.analyzed}}</span>
                                <span title="Embedded" class="badge m-r-5 badge-light-warning">{{projectEdge.node.latestScan.scanMetrics?.assetMetrics?.embedded}}</span>
                                <span title="Skipped" class="badge m-r-5 badge-light-primary">{{projectEdge.node.latestScan.scanMetrics?.assetMetrics?.skipped}}</span>
                              </td> -->
                        <!--                              <td>{{projectEdge.node.created | date :'M/d/y h:mmaa' | lowercase}}</td>
                            </tr>
                          </ng-container>


                          </tbody>
                        </table>-->
                      </perfect-scrollbar>
                    </div>
                  </app-card>
                </div>
              </div>
              <!-- product-section end -->
            </ng-template>
          </ngb-tab>

          <!-- ORG TREE -->
          <ngb-tab title="ORG TREE" class="mb-3 ml-0 pl-0" *ngIf="entity.childEntities.edges.length > 0"
            id="ORGANIZATION">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-sm-12">
                  <app-card [hidHeader]="true" cardClass="table-card" blockClass="px-0 py-0">
                    <p-organizationChart [value]="organizationTreeModel" selectionMode="single"
                      [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)" styleClass="luna-blue">
                      <ng-template let-node pTemplate="entity">
                        <div class="node-header node-header-top p-corner-top" ngbTooltip="{{node.name}}"
                          tooltipClass="my-custom-class">{{node.name}}</div>
                        <div class="node-content node-content-top">
                          <div class="node-no-data"
                            *ngIf="!node.data || !node.data.entityMetricsSummaryGroup || node.data.entityMetricsSummaryGroup.entityMetricsSummaries.length == 0">
                            <p class="no-data-text">No metrics data yet</p>
                          </div>
                          <div class="chart-hdr-box"
                            *ngIf="!!node.data.entityMetricsSummaryGroup && node.data.entityMetricsSummaryGroup.entityMetricsSummaries.length >= 1">
                            <div class="count-blk vulnerabilities-col">
                              <p *ngIf="!!node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries.length >= 1">
                                Vuln:</p>
                              <span>{{getSum(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].vulnerabilityMetrics)}}</span>
                            </div>
                            <div class="count-blk license-col">
                              <p *ngIf="!!node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries.length >= 1">
                                Licns:</p>
                              <span>{{getSum(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].licenseMetrics)}}</span>
                            </div>
                            <div class="count-blk components-col">
                              <p *ngIf="!!node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries.length >= 1">
                                Supply:</p>
                              <span>{{getSum(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics)}}</span>
                            </div>
                            <div class="count-blk assets-col">
                              <p *ngIf="!!node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries.length >= 1">
                                Assets:</p>
                              <span>{{getSum(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].assetMetrics)}}</span>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </p-organizationChart>
                    <div class="tree-spinner" *ngIf="isTreeProgressBar">
                      <mat-progress-spinner style="margin:0 auto;" [mode]="'indeterminate'">
                      </mat-progress-spinner>
                    </div>
                  </app-card>
                </div>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- VULNERABILITIES -->
          <!-- <ngb-tab title="VULNERABILITIES" class="mb-3 ml-0 pl-0" *ngIf="entity.entityMetrics?.projectCount > 0" id="VULNERABILITIES">
            <ng-template ngbTabContent>

              <div class="row">
                <div class="col-sm-12">
                  <app-card cardTitle="" cardClass="table-card" blockClass="px-0 py-0">
                    <div class="table-responsive">
                      <perfect-scrollbar [style.max-height]="'600px'">
                        <table class="table table-hover m-b-0">
                          <thead>
                            <tr>
                              <th style="border-bottom:1px solid #4680ff;font-weight:bold">VULNERABILITY</th>
                              <th style="border-left:1px solid #4680ff;border-bottom:1px solid #4680ff;font-weight:bold">SEVERITY</th>
                              <th style="border-bottom:1px solid #4680ff;font-weight:bold">IN PROJECTS</th>
                              <th style="border-bottom:1px solid #4680ff;font-weight:bold">CVSS 2/3</th>
                              <th style="border-bottom:1px solid #4680ff;font-weight:bold">COMPONENT</th>
                              <th style="border-bottom:1px solid #4680ff;font-weight:bold">GROUP</th>
                              <th style="border-bottom:1px solid #4680ff;font-weight:bold">VERSION</th>
                              <th style="width: 100px;border-bottom:1px solid #4680ff;font-weight:bold">CWE</th>
                            </tr>
                          </thead>

                          <tbody *ngIf="componentsEntity as componentsEntity;">
                            <ng-container *ngFor="let componentEdge of componentsEntity.entityComponents?.edges">
                              <tr *ngFor="let vulnerabilityEdge of componentEdge.node.entityComponentVulnerabilities?.edges">
                                <td *ngIf="vulnerabilityEdge?.node.source === 'OSSINDEX'"><span class="badge m-r-5 badge-light-info">{{vulnerabilityEdge?.node.source}}</span> {{vulnerabilityEdge?.node.vulnId | slice:0:8 | uppercase}} </td>
                                <td *ngIf="vulnerabilityEdge?.node.source != 'OSSINDEX'"><span class="badge m-r-5 badge-light-info">{{vulnerabilityEdge?.node.source}}</span> {{vulnerabilityEdge?.node.vulnId}} </td>
                                <td style="border-left:1px solid #4680ff">
                                  <span *ngIf="vulnerabilityEdge?.node.severity === 'CRITICAL'" class="badge m-r-5 badge-light-danger" style="width:60px">{{vulnerabilityEdge?.node.severity}}</span>
                                  <span *ngIf="vulnerabilityEdge?.node.severity === 'HIGH'" class="badge m-r-5 badge-light-danger" style="width:60px">{{vulnerabilityEdge?.node.severity}}</span>
                                  <span *ngIf="vulnerabilityEdge?.node.severity === 'MEDIUM'" class="badge m-r-5 badge-light-warning" style="width:60px">{{vulnerabilityEdge?.node.severity}}</span>
                                  <span *ngIf="vulnerabilityEdge?.node.severity === 'LOW'" class="badge m-r-5 badge-light-info" style="width:60px">{{vulnerabilityEdge?.node.severity}}</span>
                                  <span *ngIf="vulnerabilityEdge?.node.severity === 'INFO'" class="badge m-r-5 badge-light-success" style="width:60px">{{vulnerabilityEdge?.node.severity}}</span>
                                </td>
                                <td>Unknown</td>
                                <td>{{vulnerabilityEdge?.node.cvssV2BaseScore | number : '1.1-1'}} / {{vulnerabilityEdge?.node.cvssV3BaseScore | number : '1.1-1'}}</td>
                                <td>{{componentEdge?.node.name}}</td>
                                <td>{{componentEdge?.node.group}}</td>
                                <td>{{componentEdge?.node.version}}</td>
                                <td style="width: 100px;overflow: hidden;" ><span *ngIf="vulnerabilityEdge?.node.cwe"> CWE-{{vulnerabilityEdge?.node.cwe?.cweId}} : {{vulnerabilityEdge?.node.cwe?.name | slice:0:50}}</span></td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </perfect-scrollbar>
                    </div>
                  </app-card>
                </div>
              </div>
               </ng-template>
          </ngb-tab> -->


          <!-- COMPONENTS -->
          <!-- <ngb-tab title="COMPONENTS" *ngIf="entity.entityMetrics?.projectCount > 0" id="COMPONENTS">
            <ng-template ngbTabContent>
              
              <div class="row">
                <div class="col-sm-12">
                  <app-card cardTitle="" cardClass="table-card" blockClass="px-0 py-0">
                    <div class="table-responsive">
                      <perfect-scrollbar [style.max-height]="'600px'">
                        <table class="table table-hover m-b-0">
                          <thead>
                          <tr>
                            <th style="border-bottom:1px solid #4680ff;font-weight:bold">COMPONENT</th>
                            <th style="border-bottom:1px solid #4680ff;font-weight:bold">GROUP</th>
                            <th style="border-bottom:1px solid #4680ff;font-weight:bold">VERSION</th>
                            <th style="border-bottom:1px solid #4680ff;font-weight:bold">INTERNAL</th>
                            <th style="border-bottom:1px solid #4680ff;font-weight:bold">LICENSES</th>
                            <th style="border-bottom:1px solid #4680ff;font-weight:bold">VULNERABILITIES</th>
                            <th style="border-bottom:1px solid #4680ff;font-weight:bold">IN PROJECTS</th>
                          </tr>
                          </thead>
                          <tbody *ngIf="componentsEntity as componentsEntity;">

                            <tr *ngFor="let componentEdge of componentsEntity.entityComponents?.edges">
                              <td>{{componentEdge?.node.name}}</td>
                              <td style="border-left:1px solid #4680ff">{{componentEdge?.node.group}}</td>
                              <td>{{componentEdge?.node.version}}</td>
                              <td>False</td>
                              <td>{{componentEdge?.node.entityComponentLicenses?.edges[0]?.node.name}}</td>
                              <td>{{componentEdge?.node.entityComponentVulnerabilities?.edges?.length}}</td>
                              <td>2</td>
                            </tr>

                          </tbody>
                        </table>
                      </perfect-scrollbar>
                    </div>
                  </app-card>
                </div>
              </div>
              
            </ng-template>
          </ngb-tab> -->


          <!-- LICENSES -->
          <!-- <ngb-tab title="LICENSES" *ngIf="entity.entityMetrics?.projectCount > 0" id="LICENSES">
            <ng-template ngbTabContent>

              <div class="row">
                <div class="col-sm-12">
                  <app-card cardTitle="License Data By License Type" cardClass="table-card" blockClass="px-0 py-0">
                    <div class="table-responsive">
                      <perfect-scrollbar >
                        <table class="table table-hover m-b-0">
                          <thead>
                            <tr>
                              <th style="border-bottom:1px solid #4680ff;font-weight:bold" width="250px">LICENSE Name</th>
                              <th style="border-left:1px solid #4680ff;border-bottom:1px solid #4680ff;font-weight:bold">SPDX</th>
                              <th style="border-bottom:1px solid #4680ff;font-weight:bold" >THREAT CATEGORY</th>
                              <th style="border-bottom:1px solid #4680ff;font-weight:bold" >STYLE</th>
                              <th style="border-bottom:1px solid #4680ff;font-weight:bold" >Publication Year</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let license of uniqueLicenses">
                              <td>{{license.shortName}}</td>
                              <td style="border-left:1px solid #4680ff">{{license.spdxId}}</td>
                              <td>
                                <span *ngIf="license.category === 'COPYLEFT_STRONG'" title="Copyleft Strong" class="badge m-r-5 badge-light-danger">COPYLEFT STRONG</span>
                                <span *ngIf="license.category === 'COPYLEFT_WEAK'" title="Copyleft Weak" class="badge m-r-5 badge-light-warning">COPYLEFT WEAK</span>
                                <span *ngIf="license.category === 'COPYLEFT_PARTIAL'" title="Copyleft Partial" class="badge m-r-5 badge-light-warning">COPYLEFT PARTIAL</span>
                                <span *ngIf="license.category === 'COPYLEFT_LIMITED'" title="Copyleft Limited" class="badge m-r-5 badge-light-warning">COPYLEFT LIMITED</span>
                                <span *ngIf="license.category === 'COPYLEFT'" title="Copyleft" class="badge m-r-5 badge-light-warning">COPYLEFT</span>
                                <span *ngIf="license.category === 'PERMISSIVE'" title="Permissive" class="badge m-r-5 badge-light-success">PERMISSIVE</span>
                                <span *ngIf="license.category === 'PUBLIC_DOMAIN'" title="Permissive" class="badge m-r-5 badge-light-success">PUBLIC DOMAIN</span>
                                <span *ngIf="license.category === 'UNDEFINED'" title="Copyleft Partial" class="badge m-r-5 badge-light-warning">UNDEFINED</span>
                              </td>
                              <td>{{license.style}}</td>
                              <td>{{license.publicationYear}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </perfect-scrollbar>
                    </div>
                  </app-card>
                </div>
              </div>
              
            </ng-template>
          </ngb-tab> -->



          <!-- <ngb-tab title="ASSETS" *ngIf="entity.entityMetrics?.projectCount > 0" id="ASSETS">
            <ng-template ngbTabContent>


                <div style="padding-top:20px;padding-bottom:25px;;margin-bottom:20px;text-align:right;">
                  <form action="javascript:" class="form-inline float-right form-filter">
                    <div class="form-group">
                      <input type="text" name="q" class="form-control" value="" placeholder="Search query...">
                    </div>
                    <button type="submit" class="btn btn-info ml-2">
                      <i class="feather icon-filter"></i>
                      Filter
                    </button>
                    <button type="submit" class="btn btn-warning ml-2">
                      <i class="feather icon-slash"></i>
                      Clear
                    </button>
                  </form>

                </div>
                <div class="table-responsive">
                  <perfect-scrollbar >
                    <table class="table table-hover m-b-0">
                      <thead>
                      <tr>
                        <th style="border-bottom:1px solid #4680ff;font-weight:bold" width="250px">LICENSE Name</th>
                        <th style="border-left:1px solid #4680ff;border-bottom:1px solid #4680ff;font-weight:bold">SPDX</th>
                        <th style="border-bottom:1px solid #4680ff;font-weight:bold" >THREAT CATEGORY</th>
                        <th style="border-bottom:1px solid #4680ff;font-weight:bold" >STYLE</th>
                        <th style="border-bottom:1px solid #4680ff;font-weight:bold" >Publication Year</th>
                      </tr>
                      </thead>
                      <tbody>

                      </tbody>
                    </table>
                  </perfect-scrollbar>
                </div>



            </ng-template>
          </ngb-tab> -->



          <!-- COPYRIGHTS -->
          <!-- <ngb-tab title="COPYRIGHTS" *ngIf="entity.entityMetrics?.projectCount > 0" id="COPYRIGHTS">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-sm-12">
                  <app-card cardTitle="" cardClass="table-card" blockClass="px-0 py-0">
                    <div class="table-responsive">
                      <perfect-scrollbar>
                        <table class="table table-hover m-b-0">
                          <thead>
                          <tr>
                            <th style="border-bottom:1px solid #4680ff;font-weight:bold" width="250px">TEXT</th>
                            <th style="border-left:1px solid #4680ff;border-bottom:1px solid #4680ff;font-weight:bold">START YEAR</th>
                            <th style="border-bottom:1px solid #4680ff;font-weight:bold">END YEAR</th>
                            <th style="border-bottom:1px solid #4680ff;font-weight:bold">COUNT</th>
                          </tr>
                          </thead>
                          <tbody>

                          <tr>
                            <td>Copyright 2009, Broadcom Corporation</td>
                            <td style="border-left:1px solid #4680ff">2009</td>
                            <td>present</td>
                            <td>15</td>
                          </tr>
                          <tr>
                            <td>Copyright 2006, 2007, Michael Buesch &lt;mb@bu3sch.de&gt;</td>
                            <td style="border-left:1px solid #4680ff">2006</td>
                            <td>present</td>
                            <td>5</td>
                          </tr>
                          <tr>
                            <td>Copyright 2010, Bernhard Loos &lt;bernhardloos@googlemail.com&gt;</td>
                            <td style="border-left:1px solid #4680ff">2010</td>
                            <td>present</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>Copyright 2011, Hauke Mehrtens &lt;hauke@hauke-m.de&gt;</td>
                            <td style="border-left:1px solid #4680ff">2011</td>
                            <td>present</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>Copyright (c) 2015, Intel Corporation.</td>
                            <td style="border-left:1px solid #4680ff">2015</td>
                            <td>present</td>
                            <td>112</td>
                          </tr>
                          <tr>
                            <td>Copyright (c) 2016 Christoph Hellwig.</td>
                            <td style="border-left:1px solid #4680ff">2015</td>
                            <td>present</td>
                            <td>43</td>
                          </tr>
                          <tr>
                            <td>Copyright (C) 2016 Jens Axboe</td>
                            <td style="border-left:1px solid #4680ff">2016</td>
                            <td>present</td>
                            <td>15</td>
                          </tr>
                          <tr>
                            <td>Copyright (c) 2015, Hannes Reinecke</td>
                            <td style="border-left:1px solid #4680ff">2015</td>
                            <td>present</td>
                            <td>37</td>
                          </tr>
                          <tr>
                            <td>Copyright (c) 2016, Damien Le Moal</td>
                            <td style="border-left:1px solid #4680ff">2016</td>
                            <td>present</td>
                            <td>2</td>
                          </tr>
                          </tbody>
                        </table>
                      </perfect-scrollbar>
                    </div>
                  </app-card>
                </div>
              </div>

            </ng-template>
          </ngb-tab> -->

          <!-- <ngb-tab title="LEAKED ASSETS">

          </ngb-tab> -->


        </ngb-tabset>
      </app-card>
    </div>
  </div>
</div>