<div *ngIf='obsEntity | async as entity;'>
  <div class="row">
    <!-- <div class="col-6">
      <h3><span *ngIf="entity.parentEntityId"><a (click)="changeEntity(entity.parentEntityId)" style="font-size:15px;cursor: pointer;"><i class="fas fa-level-up-alt m-r-5"></i>Project BU</a> / </span>{{entity.name}}</h3>
    </div> -->
    <div class="col-7">
      <div class="logo"></div>
      <h3 class="entity-ttl"><i class="fas fa-layer-group entity-icon"></i> <span *ngIf="entity.parentEntityId">
          <!-- <a (click)="changeEntity(entity.parentEntityId,entity.name,false)" style="font-size:15px;cursor: pointer;">
            <i class="fas fa-level-up-alt m-r-5"></i>Parent BU</a> /  -->
        </span> 
        <span class="text-wrap"> {{entity.name}}
        </span>
        <select *ngIf="!!entitySelectionItems && entitySelectionItems.length >= 2" [ngClass]="'ng-select'" class="form-control form-control-sm custom-select select-utility" id="entityType"
            [(ngModel)]="currentEntityId" (ngModelChange)="changeSelectedEntity()">
            <option *ngFor="let item of entitySelectionItems" [ngValue]="item.value">{{ item.label }}</option>
        </select>

        <sup style="display: inline-block; padding-left: 12px; font-weight: 400; font-size: 14px;"
          *ngIf="activeScanCount"> {{activeScanCount}} active
          <span *ngIf="activeScanCount==1">scan</span>
          <span *ngIf="activeScanCount>1">scans</span>
        </sup>
      </h3>
    </div>
    <div class="col-5 entity-btns" style="text-align:right">
      <a [routerLink]="['/admin/entity']" *ngIf="authorizationService.hasPermissions('ENTITY_CREATE')">
        <button type="submit" class="btn btn-outline-warning ml-2">
          <i class="fas fa-level-down-alt" style="margin-right:5px"></i>Add Child
        </button>
      </a>
      <a [routerLink]="['/dashboard/scan/',entity.entityId]">
        <button type="submit" class="btn btn-outline-info ml-2">
          <i class="fas fa-fingerprint" style="margin-right:5px"></i>Execute ThreatScan
        </button>
      </a>
      <!-- <a [routerLink]="['/dashboard/entity-setting/',entity.entityId]">
        <button type="submit" class="btn btn-outline-secondary ml-2">
          <i class="fas fa-cogs" style="margin-right:5px"></i>Settings
        </button>
      </a> -->
      <a [routerLink]="['/dashboard/policy/list/',entity.entityId]" *ngIf="authorizationService.hasPermissions('ENTITY_POLICY_MANAGE')">
        <button type="submit" class="btn btn-outline-info ml-2">
          <i class="fas fa-feather-alt" style="margin-right:5px"></i>Policies
        </button>
      </a>
    </div>
    <div class="col-12 entity-breadcrumbs" *ngIf="entityNewBreadCum.length > 1">
      <div *ngFor="let bread of entityNewBreadCum;let i = index">
        <a *ngIf="i  != (entityNewBreadCum.length - 1)"
          [ngClass]="{'text-primary': i  != (entityNewBreadCum.length - 1)}"
          (click)="goBackfromBreadcum(bread.id,i)">{{bread.name}}</a>
        <span *ngIf="i == (entityNewBreadCum.length -1)">{{bread.name}}</span>
        <span *ngIf="i  != (entityNewBreadCum.length - 1)">/
        </span>
      </div>
    </div>
  </div>


  <div class="row" style="padding:20px 0px 20px 0px"
    *ngIf="!entity.entityMetricsGroup || entity.entityMetricsGroup.entityMetrics.length == 0">
    <div class="col-md-5">
      <app-card [hidHeader]="true" cardClass="proj-t-card">
        <span style="font-size:20px;color:#00acc1"><!--#41a8e3-->
          This is your new Team dashboard, ready for action
        </span>
        <div style="margin-top:20px;text-align: justify;">
          <p>
            If you used GitHub or Gitlab to log in, you're all set to scan your first project. Threatrix
            supports more than 400 languages and currently supports the following package managers.
          <ul>
            <li>Maven</li>
            <li>Gradle 5+ (gradle.build for Java, !gradle.build.kts for Kotlin)</li>
            <li>NPM (Node.js v12.0.0 or higher)</li>
            <li>PIP & Poetry (Python 3.6+)</li>
            <li>Nuget (.NET Core 2.1, .NET Core 3.1, .NET 5.0 and .NET 6.0)</li>
            <li>More coming very soon..</li>
          </ul>

          <a [routerLink]="['/dashboard/scan/',entity.entityId]">
            <button type="submit" class="btn btn-outline-info ml-2">
              <i class="fas fa-fingerprint" style="margin-right: 5px"></i>Execute ThreatScan</button>
          </a>
        </div>
        <div style="margin-top:20px;text-align: justify;">
          <p>Check out our documentation for information on scan results, administration or automating
            Threatrix scans by <span style="color:#00acc1">integrating our Threat Agent into your build pipeline.</span></p>
          <a href="https://docs.threatrix.io" target="_blank">
            <button type="submit" class="btn btn-outline-info ml-2" >
              <i class="fad fa-books" style="margin-right: 5px"></i>Documentation</button>
          </a>
        </div>
        <div style="margin-top:20px;text-align: justify;">
          <p>When members of your team become part of Threatrix, it becomes more valuable.
            By automating security and compliance tasks, you can simplify their work.
          </p>

          <a href="javascript:"  (click)="inviteUser(inviteUrlDialog)">
            <button type="submit" class="btn btn-outline-info ml-2" >
              <i class="fas fa-user-plus" style="margin-right: 5px"></i>Add team members</button>
          </a>
        </div>
        <div style="margin-top:20px;text-align: justify;" *ngIf="authorizationService.hasPermissions('ENTITY_CREATE')">
          <p>
            Data from child dashboards always propagate to the parent dashboard. Create a hierarchy of
            company divisions, business units, teams, or individual developers who scan their projects
            and automatically share their results with your team. Risk metrics from child entities will
            also be rolled up to your dashboard to quickly assess the risk across your organization.
          </p>
            <a [routerLink]="['/admin/entity']">
              <button type="submit" class="btn btn-outline-warning ml-2">
                <i class="fas fa-level-down-alt" style="margin-right: 5px"></i>Add Child Dashboard</button>
            </a>

        </div>

      </app-card>
    </div>
  </div>


<div class="mt-10" *ngIf="entity.entityMetricsGroup && entity.entityMetricsGroup.entityMetrics.length >= 1">
  <ngb-accordion #acc="ngbAccordion" [activeIds]="panelActiveId" (panelChange)="toggleAccordian($event)" class="chart-panel">
    <ngb-panel id="chart-panel">
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="d-flex align-items-center justify-content-between">
          <button ngbPanelToggle class="btn btn-link p-0">&nbsp;<i class="fas fa-chart-bar"></i>&nbsp; View Charts</button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <!--DONUT CHART DATA -->
        <div class="row entity-chart-row">
          <div class="col-lg-3 col-md-3 cursor-pointer"
            [ngClass]="{'entity-chart-blk-active': selectedDonut === 'Vulnerability'}"
            (click)="initStackedChartAccordingToDonut('Vulnerability')">
            <entity-donut-chart [chartlabel]="'Vulnerabilities'" [chartId]="'vulnerabilityChart'"
              [chartConfig]="vulnerabilityDonutChart" [iconClass]="'fas fa-exclamation-triangle text-c-red f-15 m-r-5'">
            </entity-donut-chart>
          </div>

          <div class="col-lg-3 col-md-3 cursor-pointer"
            [ngClass]="{'entity-chart-blk-active': selectedDonut === 'Licenses'}"
            (click)="initStackedChartAccordingToDonut('Licenses')">
            <span *ngIf="selectedlicenseChartDropValue == 'License Name'">
              <entity-donut-chart [chartlabel]="'Licenses'" [chartId]="'licenseChart'" [chartConfig]="licenseDonutChart"
                (changeDropdownValue)="onChangeLicensedropdown($event)" (dropdownClick)="dropdownClick($event)"
                [nameSelection]="'License'" [iconClass]="'fas fa-balance-scale text-c-red f-15 m-r-5'"
                [dropdownValues]="licenseChartDropValues" [selecteddropdownValue]="selectedlicenseChartDropValue">
              </entity-donut-chart>
            </span>
            <span *ngIf="selectedlicenseChartDropValue == 'License Category'">
              <entity-donut-chart [chartlabel]="'Licenses'" [chartId]="'licenseCat'"
                [chartConfig]="licenseCategoryChart" (changeDropdownValue)="onChangeLicensedropdown($event)"
                (dropdownClick)="dropdownClick($event)" [nameSelection]="'License'"
                [iconClass]="'fas fa-balance-scale text-c-red f-15 m-r-5'" [dropdownValues]="licenseChartDropValues"
                [selecteddropdownValue]="selectedlicenseChartDropValue">
              </entity-donut-chart>
            </span>
          </div>

          <!-- <div class="col-lg-3 col-md-3 entity-chart-blk supply-chart cursor-pointer"
        [ngClass]="{'entity-chart-blk-active': selectedDonut === 'SupplyChain'}"
        (click)="initStackedChartAccordingToDonut('SupplyChain')">
        <entity-donut-chart [chartlabel]="'Supply chain risk & quality'" [supplyChainChart]="supplyChainChart" [iconClass]="'fas fa-link text-c-red f-15 m-r-5'">
        </entity-donut-chart>
      </div> -->


          <div class="col-lg-3 col-md-3 cursor-pointer"
            [ngClass]="{'entity-chart-blk-active': selectedDonut === 'Components'}"
            (click)="initStackedChartAccordingToDonut('Components')">
            <span *ngIf="selectedComponentChartDropvalue == 'Vulnerabilities'">
              <entity-donut-chart [chartlabel]="'Components'" [chartId]="'componentChart'"
                [chartConfig]="componentVulnerabilityRiskChart"
                (changeDropdownValue)="onChangeComponentdropdown($event)" (dropdownClick)="dropdownClick($event)"
                [nameSelection]="'Component'" [dropdownValues]="componentChartDropValues"
                [iconClass]="'fas fa-cubes text-c-red f-15 m-r-5'"
                [selecteddropdownValue]="selectedComponentChartDropvalue">
              </entity-donut-chart>
            </span>
            <span *ngIf="selectedComponentChartDropvalue == 'License Category'">
              <entity-donut-chart [chartlabel]="'Components'" [chartId]="'componentLicenseCategory'"
                [iconClass]="'fas fa-cubes text-c-red f-15 m-r-5'" [chartConfig]="componentLicenseCategory"
                (changeDropdownValue)="onChangeComponentdropdown($event)" (dropdownClick)="dropdownClick($event)"
                [nameSelection]="'Component'" [dropdownValues]="componentChartDropValues"
                [selecteddropdownValue]="selectedComponentChartDropvalue">
              </entity-donut-chart>
            </span>
            <span *ngIf="selectedComponentChartDropvalue == 'License Name'">
              <entity-donut-chart [chartlabel]="'Components'" [chartId]="'componentLicenseCategory'"
                [iconClass]="'fas fa-cubes text-c-red f-15 m-r-5'" [chartConfig]="componentLicense"
                (changeDropdownValue)="onChangeComponentdropdown($event)" (dropdownClick)="dropdownClick($event)"
                [nameSelection]="'Component'" [dropdownValues]="componentChartDropValues"
                [selecteddropdownValue]="selectedComponentChartDropvalue">
              </entity-donut-chart>
            </span>

          </div>

          <div class="col-lg-3 col-md-3 cursor-pointer"
            [ngClass]="{'entity-chart-blk-active': selectedDonut === 'Assets'}"
            (click)="initStackedChartAccordingToDonut('Assets')">
            <entity-donut-chart [chartlabel]="'Assets'" [chartId]="'assetChart'" [chartConfig]="assetDonutChart"
              [iconClass]="'fas fa-code text-c-red f-15 m-r-5'">
            </entity-donut-chart>
          </div>
        </div>


        <div class="row">
          <div class="col-12 entity-chart-tabbing">
            <div class="card mb-3">
              <ngb-tabset [activeId]="lineChartActiveTab" [justify]="currentJustify"
                (tabChange)="onStackedChartTabChange($event)">
                <ngb-tab id="Week">
                  <ng-template ngbTabTitle>Week</ng-template>
                  <ng-template ngbTabContent>
                    <ng-container *ngTemplateOutlet="timeSericeChart;context:{stackedChartCommonOptions:stackedChartCommonOptions,
                              seriesOverTime:weekSeriesOverTime,areaChartCommonOption:areaChartCommonOption}">
                    </ng-container>
                  </ng-template>
                </ngb-tab>
                <ngb-tab id="Month">
                  <ng-template ngbTabTitle>Month</ng-template>
                  <ng-template ngbTabContent>
                    <ng-container *ngTemplateOutlet="timeSericeChart;context:{stackedChartCommonOptions:stackedChartCommonOptions,
                  seriesOverTime:monthSeriesOverTime,areaChartCommonOption:areaChartCommonOption}">
                    </ng-container>
                  </ng-template>
                </ngb-tab>
                <ngb-tab id="Quarter">
                  <ng-template ngbTabTitle>Quarter</ng-template>
                  <ng-template ngbTabContent>
                    <ng-container *ngTemplateOutlet="timeSericeChart;context:{stackedChartCommonOptions:stackedChartCommonOptions,
                  seriesOverTime:quarterSeriesOverTime,areaChartCommonOption:areaChartCommonOption}"></ng-container>
                  </ng-template>
                </ngb-tab>
                <ngb-tab id="Year">
                  <ng-template ngbTabTitle>Year</ng-template>
                  <ng-template ngbTabContent>
                    <ng-container *ngTemplateOutlet="timeSericeChart;context:{stackedChartCommonOptions:stackedChartCommonOptions,
                  seriesOverTime:yearSeriesOverTime,areaChartCommonOption:areaChartCommonOption}"></ng-container>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>




  <div class="row" *ngIf="entity?.childEntities?.edges.length > 0 || entity.entityMetricsGroup?.projectCount > 0">
    <div class="col-12">
      <app-card [hidHeader]="false" [cardClass]="cardClasses">
        <ngb-tabset type="pills" [activeId]="activeTab" (tabChange)="onTabChange($event)">

          <!-- PROJECTS -->
          <ngb-tab title="PROJECTS" *ngIf="entity.entityMetricsGroup?.projectCount > 0" id="PROJECTS">
            <ng-template ngbTabContent>
              <!-- product-section start -->
              <div class="row">
                <div class="col-sm-12">
                  <app-card [hidHeader]="true" cardTitle="" cardClass="table-card" blockClass="px-0 py-0">
                    <div class="table-responsive">
                      <perfect-scrollbar [style.max-height]="'600px'">
                        <p-treeTable class="table table-hover m-b-0" [value]="projects">
                          <ng-template pTemplate="header">
                            <tr>
                              <th style="border-bottom:1px solid #4680ff;font-weight:bold; padding: 0.75rem;"
                                  width="25%">PROJECT NAME</th>
                              <!-- <th
                                style="border-left:1px solid #4680ff;border-bottom:1px solid #4680ff;font-weight:bold; padding: 0.75rem;">
                                DIVISION</th> -->
                              <th class="text-left"
                                  style="border-bottom:1px solid #4680ff;font-weight:bold; padding: 0.75rem;" width="15%">
                                Vulnerability Risk</th>
                              <th class="text-left"
                                  style="border-bottom:1px solid #4680ff;font-weight:bold; padding: 0.75rem;" width="15%">
                                License Risk</th>
                              <!-- <th class="text-left"
                                style="border-bottom:1px solid #4680ff;font-weight:bold; padding: 0.75rem;" width="15%">
                                Supply Chain Risk</th> -->
                              <th style="border-bottom:1px solid #4680ff;font-weight:bold; padding: 0.75rem;"
                                  width="15%">Asset Composition</th>
                              <th style="border-bottom:1px solid #4680ff;font-weight:bold; padding: 0.75rem;">Last Scan
                              </th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-rowNode let-project let-rowData="rowData">
                            <tr [ttRow]="rowNode" class="cursor-pointer"
                                [routerLink]="['/dashboard/entity',entity.entityId, 'project',rowData.projectId]">
                              <td style="font-weight:bold; padding: 0.75rem; overflow: hidden;">
                                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                                <a
                                        [routerLink]="['/dashboard/entity',entity.entityId, 'project',rowData.projectId]">{{rowData.name}}</a>
                              </td>
                              <td style="padding: 0.75rem;">
                                <span title="Critical"
                                      class="badge m-r-5 badge-red">{{rowData?.projectMetricsSummary?.vulnerabilityMetrics.critical}}</span>
                                <span title="High"
                                      class="badge m-r-5 badge-pink">{{rowData?.projectMetricsSummary?.vulnerabilityMetrics.high}}</span>
                                <span title="Medium"
                                      class="badge m-r-5 badge-orange">{{rowData?.projectMetricsSummary?.vulnerabilityMetrics.medium}}</span>
                                <span title="Low"
                                      class="badge m-r-5 badge-yellow">{{rowData?.projectMetricsSummary?.vulnerabilityMetrics.low}}</span>
                                <span title="Info"
                                      class="badge m-r-5 badge-light-primary">{{rowData?.projectMetricsSummary?.vulnerabilityMetrics.info}}</span>
                              </td>
                              <td style="padding: 0.75rem;">
                                <span title="Copyleft Strong"
                                      class="badge m-r-5 badge-copyleftstrong">{{rowData?.projectMetricsSummary?.licenseMetrics?.copyleftStrong}}</span>
                                <span title="Copyleft"
                                      class="badge m-r-5 badge-copyLeft">{{rowData?.projectMetricsSummary?.licenseMetrics?.copyleft}}</span>
                                <span title="Copyleft Weak"
                                      class="badge m-r-5 badge-copyleftWeak">{{rowData?.projectMetricsSummary?.licenseMetrics?.copyleftWeak}}</span>
                                <span title="Copyleft Partial"
                                      class="badge m-r-5 badge-copyleftPartial">{{rowData?.projectMetricsSummary?.licenseMetrics?.copyleftPartial}}</span>
                                <span title="Copyleft Limited"
                                      class="badge m-r-5 badge-copyleftLimited">{{rowData?.projectMetricsSummary?.licenseMetrics?.copyleftLimited}}</span>
                                <span title="Dual"
                                      class="badge m-r-5 badge-light-warning">{{rowData?.projectMetricsSummary?.licenseMetrics?.dual}}</span>
                                <span title="Custom"
                                      class="badge m-r-5 badge-light-warning">{{rowData?.projectMetricsSummary?.licenseMetrics?.custom}}</span>
                                <span title="Permissive"
                                      class="badge m-r-5 badge-permissive">{{rowData?.projectMetricsSummary?.licenseMetrics?.permissive}}</span>
                                <span title="Proprietary"
                                      class="badge m-r-5 badge-permissive">{{rowData?.projectMetricsSummary?.licenseMetrics?.proprietary}}</span>
                                <span title="Proprietary Free"
                                        class="badge m-r-5 badge-permissive">{{rowData?.projectMetricsSummary?.licenseMetrics?.proprietaryFree}}</span>
                              </td>
                              <!-- <td style="padding: 0.75rem;">
                                <span title="Risk Score"
                                  class="badge m-r-5 badge-light-danger">{{rowData?.projectMetricsSummary?.supplyChainMetrics.risk}}</span>
                                <span title="Quality Score"
                                  class="badge m-r-5 badge-light-warning">{{rowData?.projectMetricsSummary?.supplyChainMetrics.quality}}</span>
                              </td> -->
                              <td style="padding: 0.75rem;">
                                <span title="Embedded"
                                      class="badge m-r-5 badge-blue">{{rowData?.projectMetricsSummary?.assetMetrics?.embedded}}</span>
                                <span title="Open Source"
                                      class="badge m-r-5 badge-yellow">{{rowData?.projectMetricsSummary?.assetMetrics?.openSource}}</span>
                                <span title="Unique"
                                      class="badge m-r-5 badge-green">{{rowData?.projectMetricsSummary?.assetMetrics?.unique}}</span>
                              </td>
                              <td style="padding: 0.75rem;">{{rowData?.projectMetricsSummary?.measureDateTime | date
                                      :'M/d/y h:mmaa' | lowercase}}</td>
                            </tr>
                          </ng-template>
                        </p-treeTable>
                      </perfect-scrollbar>
                    </div>
                  </app-card>
                </div>
              </div>
              <!-- product-section end -->
            </ng-template>
          </ngb-tab>

          <!-- TEAMS -->
          <ngb-tab title="TEAMS" class="mb-3 ml-0 pl-0" *ngIf="entity.childEntities.edges.length > 0"
            id="BUSINESSUNITS">
            <ng-template ngbTabContent>

              <div class="row">
                <div class="col-sm-12">
                  <app-card [hidHeader]="true" cardClass="table-card tree-table-card" blockClass="px-0 py-0">

                    <p-treeTable [value]="entityTreeModel.data">
                      <ng-template pTemplate="header">
                        <tr>
                          <th class="lg-col">Name</th>
                          <!--<th class="text-left projects-col">Projects</th>-->
                          <th class="text-left">Vulnerability Risk</th>
                          <th class="text-left">License Risk</th>
                          <!--<th class="text-left">Supply Chain Risk</th>-->
                          <th class="text-left">Asset Composition</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                        <tr *ngIf="showAndHideRow(rowData)" style="height:50px">
                          <td>
                            <div class="tree-data-parent cursor-pointer"
                              (click)="onEntityTreeNameSelect(rowData,rowNode)">

                              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                              {{rowData.name}}
                            </div>
                          </td>
                          <!--<td class="text-left">{{rowData?.entityMetrics?.projectCount}}</td>-->
                          <td class="text-left">
                            <div class="sparkline-chart-blk" *ngIf="sparkLinechartdelayFlag">
                              <!-- <span>{{rowData?.entityMetrics?.vulnerabilityMetrics?.total}}</span> -->
                              <apx-chart [stroke]="commonLineSparklineOptions.stroke" [series]="rowData.vulSericeData"
                                [chart]="commonLineSparklineOptions.chart"
                                [tooltip]="commonLineSparklineOptions.tooltip">
                              </apx-chart>
                            </div>
                          </td>
                          <td class="text-left">
                            <div class="sparkline-chart-blk" *ngIf="sparkLinechartdelayFlag">
                              <span>{{rowData?.entityMetrics?.licenseMetrics?.total}}</span>
                              <apx-chart [stroke]="commonLineSparklineOptions.stroke" [series]="rowData.licSericeData"
                                [chart]="commonLineSparklineOptions.chart"
                                [tooltip]="commonLineSparklineOptions.tooltip">
                              </apx-chart>
                            </div>
                          </td>
                          <!--
                          <td class="text-left">
                            <div class="sparkline-chart-blk" *ngIf="sparkLinechartdelayFlag">
                              <span>{{rowData?.entityMetrics?.assetMetrics?.total}}</span>
                              <apx-chart [stroke]="commonLineSparklineOptions.stroke"
                                [series]="rowData.supplySericeData" [chart]="commonLineSparklineOptions.chart"
                                [tooltip]="commonLineSparklineOptions.tooltip"></apx-chart>
                            </div>
                          </td>-->
                          <td class="text-left">
                            <div class="sparkline-chart-blk" *ngIf="sparkLinechartdelayFlag">
                              <span>{{rowData?.entityMetrics?.assetMetrics?.total}}</span>
                              <apx-chart [stroke]="commonLineSparklineOptions.stroke" [series]="rowData.assetSericeData"
                                [chart]="commonLineSparklineOptions.chart"
                                [tooltip]="commonLineSparklineOptions.tooltip"></apx-chart>
                            </div>
                          </td>
                        </tr>
                      </ng-template>
                    </p-treeTable>

                    <div class="tree-spinner" *ngIf="isTreeProgressBar">
                      <mat-progress-spinner style="margin:0 auto;" [mode]="'indeterminate'">
                      </mat-progress-spinner>
                    </div>

                  </app-card>
                </div>
              </div>

            </ng-template>
          </ngb-tab>

          <!-- TEAM TREE -->
          <ngb-tab title="TEAM TREE" class="mb-3 ml-0 pl-0" *ngIf="entity.childEntities.edges.length > 0"
            id="ORGANIZATION">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-sm-12">
                  <app-card [hidHeader]="true" cardClass="org-chart table-card" blockClass="px-0 py-0">
                    <perfect-scrollbar [style.max-height]="'600px'">
                      <p-organizationChart [value]="organizationTreeModel" selectionMode="single"
                        [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)" styleClass="luna-blue">
                        <ng-template let-node pTemplate="entity">
                          <div class="node-header node-header-top p-corner-top node-header-lg"
                            [ngStyle]="{'height':getContentHeight(nameContent)}">
                            <span #nameContent>{{node.name}}</span>
                          </div>
                          <div class="node-content node-content-top">
                            <div class="node-no-data"
                              *ngIf="!node.data || !node.data.entityMetricsSummaryGroup || node.data.entityMetricsSummaryGroup.entityMetricsSummaries.length == 0">
                              <p class="no-data-text">No metrics data yet</p>
                            </div>
                            <div class="chart-hdr-box"
                              *ngIf="!!node.data.entityMetricsSummaryGroup && node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries.length >= 1">

                              <!-- Vulnerabilities -->
                              <div>
                                <p>Vulnerabilities</p>
                                <div class="Progress">
                                  <ng-container
                                    *ngFor="let item of node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].vulnerabilityMetrics | keyvalue">
                                    <span *ngIf="item.key !== '__typename' && !!item.value && item.value != 0"
                                      [ngStyle]="{'background-color': getOrgChartValueByKey(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].vulnerabilityMetrics,item.key,item.value).color,
                                    'width':getOrgChartValueByKey(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].vulnerabilityMetrics,item.key,item.value).percentage}"
                                      class="Progress-item">
                                      <label class="chart-tooltip"
                                        [ngStyle]="{'background-color': getOrgChartValueByKey(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].vulnerabilityMetrics,item.key,item.value).color}">
                                        <span> {{item.key}}: {{item.value}}</span>
                                        <em class="arw"
                                          [ngStyle]="{'border-top-color': getOrgChartValueByKey(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].vulnerabilityMetrics,item.key,item.value).color}"></em>
                                      </label>
                                    </span>
                                  </ng-container>

                                </div>
                              </div>

                              <!-- Liceses -->
                              <div>
                                <p>Liceses</p>
                                <div class="Progress">
                                  <ng-container
                                    *ngFor="let item of node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].licenseMetrics | keyvalue">
                                    <span *ngIf="item.key !== '__typename' && !!item.value && item.value != 0"
                                      [ngStyle]="{'background-color': getOrgChartValueByKey(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].licenseMetrics,item.key,item.value).color,
                                    'width':getOrgChartValueByKey(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].licenseMetrics,item.key,item.value).percentage}"
                                      class="Progress-item">
                                      <label class="chart-tooltip"
                                        [ngStyle]="{'background-color': getOrgChartValueByKey(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].licenseMetrics,item.key,item.value).color}">
                                        <span> {{item.key}}: {{item.value}}</span>
                                        <em class="arw"
                                          [ngStyle]="{'border-top-color': getOrgChartValueByKey(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].licenseMetrics,item.key,item.value).color}"></em>
                                      </label>
                                    </span>
                                  </ng-container>
                                </div>
                              </div>

                              <!-- Supply chain risk
                              <div>
                                <p>Supply chain risk</p>
                                <div class="Progress">
                                  <span class="Progress-item"
                                    [ngClass]="{'supply-chain-risk-green':node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.risk > 0 && node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.risk <= 40,
                                              'supply-chain-risk-yellow':node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.risk > 40 && node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.risk <= 60,
                                              'supply-chain-risk-orang':node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.risk > 60 && node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.risk <= 80,
                                              'supply-chain-risk-red':node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.risk > 80 && node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.risk <= 100}"
                                    [ngStyle]="{'width':node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.risk + '%'}">
                                    <label class="chart-tooltip"
                                      [ngStyle]="{'background-color': getBackgroundcolorforSupplychain(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.risk,'Risk')}">
                                      <span> Risk:
                                        {{node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.risk}}</span>
                                      <em class="arw"
                                        [ngStyle]="{'border-top-color': getBackgroundcolorforSupplychain(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.risk,'Risk')}"></em>
                                    </label>
                                  </span>
                                </div>
                              </div>-->

                              <!-- Supply chain quality
                              <div>
                                <p>Supply chain quality</p>
                                <div class="Progress">
                                  <span class="Progress-item"
                                    [ngClass]="{'supply-chain-quality-red':node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.quality > 0 && node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.quality <= 40,
                                              'supply-chain-quality-orang':node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.quality > 40 && node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.quality <= 60,
                                              'supply-chain-quality-yellow':node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.quality > 60 && node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.quality <= 80,
                                              'supply-chain-quality-green':node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.quality > 80 && node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.quality <= 100}"
                                    [ngStyle]="{'width':node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.quality + '%'}">
                                    <label class="chart-tooltip"
                                      [ngStyle]="{'background-color': getBackgroundcolorforSupplychain(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.quality,'Quality')}">
                                      <span> Quality:
                                        {{node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.quality}}</span>
                                      <em class="arw"
                                        [ngStyle]="{'border-top-color': getBackgroundcolorforSupplychain(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].supplyChainMetrics.quality,'Quality')}"></em>
                                    </label>
                                  </span>
                                </div>
                              </div>-->

                              <!-- Asset Composition -->
                              <div>
                                <p>Asset Composition</p>
                                <div class="Progress">
                                  <ng-container
                                    *ngFor="let item of node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].assetMetrics | keyvalue">
                                    <span *ngIf="item.key !== '__typename' && !!item.value && item.value != 0"
                                      [ngStyle]="{'background-color': getOrgChartValueByKey(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].assetMetrics,item.key,item.value).color,
                                    'width':getOrgChartValueByKey(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].assetMetrics,item.key,item.value).percentage}"
                                      class="Progress-item">
                                      <label class="chart-tooltip"
                                        [ngStyle]="{'background-color': getOrgChartValueByKey(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].assetMetrics,item.key,item.value).color}">
                                        <span>
                                          {{item.key}}: {{item.value}}</span>
                                        <em class="arw"
                                          [ngStyle]="{'border-top-color': getOrgChartValueByKey(node?.data?.entityMetricsSummaryGroup?.entityMetricsSummaries[0].assetMetrics,item.key,item.value).color}"></em>
                                      </label>
                                    </span>
                                  </ng-container>
                                </div>
                              </div>

                            </div>
                          </div>
                        </ng-template>
                      </p-organizationChart>
                    </perfect-scrollbar>
                    <div class="tree-spinner" *ngIf="isTreeProgressBar">
                      <mat-progress-spinner style="margin:0 auto;" [mode]="'indeterminate'">
                      </mat-progress-spinner>
                    </div>
                  </app-card>
                </div>
              </div>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>
      </app-card>
    </div>
  </div>

  <ng-template #timeSericeChart let-stackedChartCommonOptions="stackedChartCommonOptions"
    let-seriesOverTime="seriesOverTime" let-areaChartCommonOption="areaChartCommonOption">
    <div class="entity-tab-chart">
      <div class="row">
        <div class="col-12" *ngIf="selectedDonut !== 'SupplyChain'">
          <apx-chart [stroke]="stackedChartCommonOptions.stroke" [series]="seriesOverTime.series"
            [chart]="stackedChartCommonOptions.chart" [xaxis]="stackedChartCommonOptions.xaxis"
            [dataLabels]="stackedChartCommonOptions.dataLabels" [colors]="seriesOverTime.colors"
            [legend]="stackedChartCommonOptions.legend" [fill]="stackedChartCommonOptions.fill"
            [noData]="stackedChartCommonOptions.noData"></apx-chart>
        </div>
        <div class="col-12" *ngIf="selectedDonut === 'SupplyChain'">
          <apx-chart [series]="seriesOverTime.series" [chart]="areaChartCommonOption.chart"
            [xaxis]="areaChartCommonOption.xaxis" [stroke]="areaChartCommonOption.stroke"
            [tooltip]="areaChartCommonOption.tooltip" [dataLabels]="areaChartCommonOption.dataLabels"
            [noData]="stackedChartCommonOptions.noData">
          </apx-chart>
        </div>
      </div>
    </div>
  </ng-template>

</div>
