.table,
.table-hover tbody tr:hover {
    cursor: pointer;
}

.entity-chart-blk {
    .col-md-3 {
        max-width: 20%;
        flex: 20%;
    }

    .apexcharts-legend {
        padding: 0;
    }
}
