.ui-state-highlight {
    -moz-box-shadow: inset 0 0 10px #4680ff;
    -webkit-box-shadow: inset 0 0 10px #4680ff;
    box-shadow: inset 0 0 10px #4680ff;
    color: #ffffff;
}

.chart-lbl {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h6 {
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 0;
    }

    i {
        margin-right: 5px;
    }

    .fa-exclamation-triangle {
        position: relative;
        top: 0;
    }

    svg {
        width: 13px;
        height: 13px;
    }
}

.chart-lbl-indi {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    filter: saturate(70%) !important;
    position: relative;
    z-index: 11;

    &:last-child {
        margin-bottom: 0;
    }

    label {
        display: block;
        font-size: 16px;
        color: #fff;
        margin-bottom: 10px;
    }

    ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;

        li {
            width: 25px;
            height: 25px;
            margin: 0 10px 10px 0;
            background: #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            color: var(--white);
            position: relative;
            font-weight: bolder;

            &.red {
                // background: rgb(255, 43, 43);
                background: transparent;
                color: rgb(255, 43, 43);
                border-bottom: 2px solid rgb(255, 43, 43);
                //border-radius: 4px;
                // border: 1px solid #555;
            }

            &.orange {
                // background: rgb(255, 82, 82);

                background: transparent;
                color: rgb(255, 82, 82);
                border-bottom: 2px solid rgb(255, 82, 82);
                //border-radius: 4px;
            }

            &.yellow {
                // background: rgb(255, 162, 29);
                color: rgb(255, 162, 29);
                background: transparent;
                border-bottom: 2px solid rgb(255, 162, 29);
                //border-radius: 4px;
            }

            &.lgt-blue {
                // background: rgb(0, 172, 193);
                color: rgb(0, 172, 193);
                background: transparent;
                border-bottom: 2px solid rgb(0, 172, 193);
                //border-radius: 4px;
            }

            &.green {
                // background: rgb(0, 227, 150);
                color: rgb(0, 227, 150);
                background: transparent;
                border-bottom: 2px solid rgb(0, 227, 150);
                //border-radius: 4px;
            }

            &.blue {
                // background: rgb(70, 128, 255);
                color: rgb(70, 128, 255);
                background: transparent;
                border-bottom: 2px solid rgb(70, 128, 255);
                //border-radius: 4px;
            }

            &.pink {
                color: rgb(199, 21, 133);
                background: transparent;
                border-bottom: 2px solid rgb(199, 21, 133);
                //border-radius: 4px;
            }

            &.white {
                color: rgb(248, 248, 255);
                background: transparent;
                border-bottom: 2px solid rgb(248, 248, 255);
                //border-radius: 4px;
            }

            .lgnd-tltp {
                position: absolute;
                min-width: 80px;
                border-radius: 4px;
                padding: 5px;
                background: var(--white);
                bottom: calc(100% + 10px);
                left: 50%;
                font-size: 14px;
                color: #000;
                z-index: 11;
                text-align: center;
                transform: translateX(-50%);

                &::after {
                    content: "";
                    width: 0;
                    height: 0;
                    border-top: 6px solid var(--white);
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    position: absolute;
                    transform: translateX(-50%);
                    bottom: -6px;
                    left: 50%;
                }
            }
        }
    }
}

.entity-chart-tabbing {
    padding: 0 9px;

    // &:before {
    //     content: '';
    //     width: 48px;
    //     height: 25px;
    //     background: url(assets\images\tab-arrow.png) no-repeat center;
    //     position: absolute;
    //     top: -24px;
    //     left: 85px;
    //     z-index: 1;
    //     background-size: 100% 100%;
    // }

    &.licenses-donut {
        &:before {
            left: 300px;
        }
    }

    &.Components-donut {
        &:before {
            left: 730px;
        }
    }

    &.Assets-donut {
        &:before {
            left: 945px;
        }
    }

    &.supply-donut {
        &:before {
            left: 0;
            right: 0;
            margin: auto;
            display: block;
        }
    }

    .card {
        padding: 10px 15px;
    }

    .nav-tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
}

.entity-breadcrumbs {
    display: flex;
    align-items: center;

    span {
        color: #adb7be !important;
        margin-right: 5px;
        font-size: 14px;
    }

    a {
        font-size: 14px;
        color: #adb7be !important;
        margin-right: 10px;

        &:hover {
            color: #4680ff !important;
        }
    }
}

.entity-icon {
    font-size: 18px;
    margin-right: 10px;
    color: #d65d5d;
}

.pcoded-content {
    padding-top: 15px;
}

.chart-options {
    position: relative;

    select {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 75px;
        border: 1px solid #6c757d;
        height: 23px;
        padding: 0 10px 0 0;
        background: none;
        appearance: none;
        -webkit-appearance: none;
        background: #2a3641 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%238796a3' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat 95% center/8px 10px;
        padding: 0 12px 0 5px;
        @media screen and (min-width:1550px) {
            max-width: 115px;
        }

        &:focus {
            background-position: right center;
        }
    }

    .chart-opt-selected {
        display: flex;
        align-items: center;
        font-size: 14px;
        text-align: right;

        span {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 55px;
        }

        i,
        svg {
            margin: 0 0 0 3px;
        }
    }

    .entity-opt-list {
        min-width: 130px;
        position: absolute;
        top: 30px;
        right: -5px;
        background: #fff;
        z-index: 11;
        display: none;

        &.entity-opt-list-open {
            display: block;
        }

        &:before {
            content: '';
            width: 0;
            height: 0;
            border-bottom: 8px solid #fff;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            position: absolute;
            top: -8px;
            right: 10px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            box-shadow: 0 3px 5px 4px rgba(0, 0, 0, 0.1);

            li {
                font-size: 14px;
                color: #adb7be;
                background: #2a3641;
                padding: 2px 10px;
                width: 100%;
                display: inline-block;
                height: auto !important;
                margin: 0;
                font-weight: 400;
                cursor: pointer;


                &:hover,
                &.active {
                    background: #1e90ff;
                    color: #fff;
                }
            }

            // &:hover {
            //     li {
            //         background: #6c757d;

            //         &:hover,
            //         &.active {
            //             background: #1e90ff;
            //             color: #fff;
            //         }
            //     }
            // }
        }
    }
}


.entity-chart-blk-active {
    position: relative;

    &:before {
        content: '';
        width: 48px;
        height: 25px;
        background: url(assets\images\tab-arrow.png) no-repeat center;
        position: absolute;
        bottom: -1px;
        left: 50%;
        z-index: 11;
        background-size: 100% 100%;
        transform: translate(-50%, 0);
    }
}

.Progress {

    display: flex;
    height: 8px;
    overflow: hidden;
    background-color: #adb7be;
    border-radius: 6px;
    outline: 1px solid transparent;
    filter: saturate(70%) !important;
}

.Progress-item {
    outline: 2px solid transparent;
}

.supply-chain-risk-green {
    background: linear-gradient(to right, rgb(17, 193, 91));
}

.supply-chain-risk-orang {
    background: linear-gradient(to right, rgb(17, 193, 91), rgb(230, 230, 0), rgb(255, 162, 29))
}

.supply-chain-risk-yellow {
    background: linear-gradient(to right, rgb(17, 193, 91), rgb(230, 230, 0));
}

.supply-chain-risk-red {
    background: linear-gradient(to right, rgb(17, 193, 91), rgb(230, 230, 0), rgb(255, 162, 29), rgb(255, 43, 43))
}


.supply-chain-quality-green {
    background: linear-gradient(to right, rgb(255, 43, 43),rgb(255, 162, 29),rgb(230, 230, 0),rgb(17, 193, 91))
}

.supply-chain-quality-orang {
    background: linear-gradient(to right, rgb(255, 43, 43),rgb(255, 162, 29));
}

.supply-chain-quality-yellow {
    background: linear-gradient(to right, rgb(255, 43, 43),rgb(255, 162, 29),rgb(230, 230, 0))
}

.supply-chain-quality-red {
    background: linear-gradient(to right, rgb(255, 43, 43))
}


.Progress {
    overflow: inherit;

    .Progress-item {
        position: relative;

        &:first-child {
            border-radius: 6px 0 0 6px;
        }

        &:last-child {
            border-radius: 0 6px 6px 0;
        }

        // &:nth-child(1) {
        //     border-radius: 6px 0 0 6px;
        // }

        // &:nth-child-last(1) {
        //     border-radius: 0 6px 6px 0;
        // }

        .chart-tooltip {
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 2px;
            border: 1px solid #adb7be;
            padding: 3px 5px;
            text-align: center;
            z-index: 11;
            background: #32404e;
            min-width: 60px;
            white-space: nowrap;
            font-size: 12px;
            display: none;
            color: #fff;
            box-shadow: 0 -1px 0px 0px rgba(0, 0, 0, 1) inset;

            .arw {
                width: 0;
                height: 0;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                border-top: 7px solid #32404e;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                bottom: -6px;
            }
        }

        &:hover {
            .chart-tooltip {
                display: block;
            }
        }
    }
}