<div class="row" style="height:100vh;margin: 0px;min-width:800px">
  <div class="col-6 col-lg-6 col-xl-8 auth-left-panel">
    <div class="auth-bgimg-div"></div>
    <div style="float:right;margin:250px 100px 0 0;color:#adb7be;">
      <div style="font-size:25px"><img width="300" src="/assets/images/website_logo_white-letters-transparent_background-large.png">
      </div>
      <div style="position:relative;top:-17px;text-align:right;font-size:25px;">ThreatCenter</div>
      <div style="color:#41a8e3;text-align:right;font-size:25px;padding-left:10px;padding-top:40px">Advanced Threat Intelligence</div>
    </div>
  </div>
  <div class="col-6 col-lg-6 col-xl-4 auth-div">
    <div>

      <div class="row" style="margin-bottom:20px;border-bottom:2px solid #41a8e3;font-size:15px;font-weight:bold">
        <div style="float:left">Don't have an account?</div>
      </div>
      <div class="row">
        <div class="col-sm-12" style="padding:0px 10px 0px 10px">
          <button _ngcontent-whn-c3="" class="btn btn-primary btn-block ">Sign Up!</button>
        </div>
      </div>



      <div class="row" style="margin-top:50px;margin-bottom:20px;border-bottom:2px solid #41a8e3;font-size:15px;font-weight:bold">
        OAuth Authentication<i style="margin-top:3px;margin-left:3px" class="far fa-question-circle"></i>
      </div>
      <div id="auth01" class="row" style="margin-bottom:20px">
        <div class="col-xl-6">
          <a href="http://localhost:8080/account/github_login">
            <div class="auth-button"><i class="fab fa-github"></i></div>
          </a>
        </div>
        <div class="col-xl-6">
          <div class="auth-button"><i class="fab fa-gitlab"></i></div>
        </div>
      </div>
      <div id="auth02" class="row mb-0">
        <div class="col-xl-6">
          <div class="auth-button"><i class="fab fa-bitbucket"></i></div>
        </div>
        <div class="col-xl-6">
          <div class="auth-button"><i class="fab fa-google"></i></div>
        </div>
      </div>
      By clicking login you agree to our <a href="#">Terms of Service</a>
      <div class="row" style="margin-top:40px;border-bottom:2px solid #41a8e3;font-size:15px;font-weight:bold">
        Basic Authentication
      </div>
      <div class="form-group row" style="padding:10px 10px 0px 10px">
        <div class="col-xl-12" style="padding:10px 0px 10px 0px">
          <input  class="form-control" id="username" placeholder="Username">
        </div>
        <div class="col-sm-12" style="padding:10px 0px 0px 0px">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" style="padding:0px 10px 0px 10px">
          <button _ngcontent-whn-c3="" class="btn btn-primary btn-block ">Login</button>
        </div>
      </div>
      By clicking login you agree to our <a href="#">Terms of Service</a>
    </div>
  </div>
</div>
