
<div class="col-xl-12">
    <div *ngIf='obsScan | async as scan;'>

      <div style="float:left;clear: both;">
        <ng-template pTemplate="caption">
          <div style="text-align: left;float:left;width=50px;height:50px;margin-right:10px">
            header
          </div>
          <div style="text-align: right;float:right;margin-bottom:10px;clear: both;">
            <input type="text" pInputText size="50" placeholder="Filter"
                   (input)="dt.filterGlobal($event.target.value, 'contains')"
                   style="width:160px;display:inline" class="form-control">
          </div>
        </ng-template>
      </div>

      <perfect-scrollbar [style.max-height]="'650px'">
        <p-table #dt [columns]="columns" [value]="scan.licenses" [paginator]="false" [rows]="50"
                 tableStyleClass="table table-striped table-bordered table-hover dataTable no-footer"
                 [autoLayout]="true" [filterDelay]="0" [globalFilterFields]="['name']">

          <ng-template pTemplate="caption">
            <div style="text-align: right">
              <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
              <input type="text" class="form-control" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;display:inline">
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{col}}
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-license>
            <tr [routerLink]="['/dashboard/project/license',license.licenseId]">
              <td>{{license.name}}</td>
              <td>{{license.spdxId}}</td>
              <td>
                <span *ngIf="license.category === 'Copyleft Strong'" title="Copyleft Strong" class="badge m-r-5 badge-light-danger">COPYLEFT STRONG</span>
                <span *ngIf="license.category === 'Copyleft Weak'" title="Copyleft Weak" class="badge m-r-5 badge-light-warning">COPYLEFT WEAK</span>
                <span *ngIf="license.category === 'Copyleft Partial'" title="Copyleft Partial" class="badge m-r-5 badge-light-warning">COPYLEFT PARTIAL</span>
                <span *ngIf="license.category === 'Copyleft Limited'" title="Copyleft Limited" class="badge m-r-5 badge-light-warning">COPYLEFT LIMITED</span>
                <span *ngIf="license.category === 'Copyleft'" title="Copyleft" class="badge m-r-5 badge-light-warning">COPYLEFT</span>
                <span *ngIf="license.category === 'Permissive'" title="Permissive" class="badge m-r-5 badge-light-success">PERMISSIVE</span>
              </td>
              <td>{{license.style}}</td>
              <td>{{license.isOsiApproved}}</td>
              <td>{{license.isFsfLibre}}</td>
            </tr>
        </ng-template>
        </p-table>
      </perfect-scrollbar>

    </div>


</div>
