<div class="col-xl-12">
  <div *ngIf='obsScan | async as scan;'>

    <div style="float:left;clear: both;">
      <ng-template pTemplate="caption">
        <div style="text-align: left;float:left;width:50px;height:50px;margin-right:10px">
          header
        </div>
        <div style="text-align: right;float:right;margin-bottom:10px;clear: both;">
          <input type="text" pInputText size="50" placeholder="Filter"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:160px;display:inline"
            class="form-control">
        </div>
      </ng-template>
    </div>
    <div class="text-center center-table-progressbar" *ngIf="isDisablePaggination">
      <mat-progress-spinner strokeWidth="5" [diameter]="40" [mode]="'indeterminate'">
      </mat-progress-spinner>
    </div>
    <perfect-scrollbar *ngIf="!isDisablePaggination" [style.max-height]="'650px'">
      <p-table #dt [columns]="columns" [value]="licensesDetails.licenses?.edges" [paginator]="false" [rows]="50"
        tableStyleClass="table table-striped table-bordered table-hover dataTable no-footer table-width" [autoLayout]="true"
        [filterDelay]="0" [globalFilterFields]="['name']">

        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input type="text" class="form-control" pInputText size="50" placeholder="Global Filter"
              (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;display:inline">
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col}}
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of columns">
              <input *ngIf="col =='Name'" id="nameSearch" type="text" placeholder="{{col}}" name="search-name"
                     class="form-control" (input)="filterColumn(col, $event.target.value,'nameSearch')" [value]="getColumnFilterValue(col)"/>
              <input *ngIf="col =='SPDX'" id="spdxSearch" type="text" placeholder="{{col}}" name="search-name"
                     class="form-control" (input)="filterColumn(col, $event.target.value,'spdxSearch')" [value]="getColumnFilterValue(col)"/>
              <input *ngIf="col =='Threat Category'" id="threatCategorySearch" type="text" placeholder="{{col}}" name="search-name"
                     class="form-control" (input)="filterColumn(col, $event.target.value,'threatCategorySearch')" [value]="getColumnFilterValue(col)"/>
              <input *ngIf="col =='Style'" id="styleSearch" type="text" placeholder="{{col}}" name="search-name"
                     class="form-control" (input)="filterColumn(col, $event.target.value,'styleSearch')" [value]="getColumnFilterValue(col)"/>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-license>
          <tr (click)="gotoDetails(license.node.licenseId)" class="cursor-pointer">
            <td>{{license.node.name}}</td>
            <td>{{license.node.spdxId}}</td>
            <td>
              <span *ngIf="license.node.category === 'COPYLEFT_STRONG'" title="Copyleft Strong"
                class="badge m-r-5 badge-light-danger">COPYLEFT STRONG</span>
              <span *ngIf="license.node.category === 'COPYLEFT_WEAK'" title="Copyleft Weak"
                class="badge m-r-5 badge-light-warning">COPYLEFT WEAK</span>
              <span *ngIf="license.node.category === 'COPYLEFT_PARTIAL'" title="Copyleft Partial"
                class="badge m-r-5 badge-light-warning">COPYLEFT PARTIAL</span>
              <span *ngIf="license.node.category === 'COPYLEFT_LIMITED'" title="Copyleft Limited"
                class="badge m-r-5 badge-light-warning">COPYLEFT LIMITED</span>
              <span *ngIf="license.node.category === 'COPYLEFT'" title="Copyleft"
                class="badge m-r-5 badge-light-warning">COPYLEFT</span>
              <span *ngIf="license.node.category === 'PERMISSIVE'" title="Permissive"
                class="badge m-r-5 badge-light-success">PERMISSIVE</span>
            </td>
            <td>{{license.node.style}}</td>
            <td>{{license.node.isOsiApproved}}</td>
            <td>{{license.node.isFsfLibre}}</td>
          </tr>
        </ng-template>
      </p-table>
    </perfect-scrollbar>
    <div class="col-sm-12">
      <mat-paginator [hidePageSize]="false" [disabled]="isDisablePaggination" [length]="licensesDetails.licenses?.totalCount"
        [pageSize]="defaultPageSize" [pageSizeOptions]="[25, 50, 100]" (page)="changePage($event)">
      </mat-paginator>
    </div>
  </div>


</div>
