<div class="matrix-task-section">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="tasks-card">
                <div class="task-ttl">
                    <h6><i><img src="/assets/images/bug-icon.svg" alt="Policy Violations"></i> Policy Violations
                    </h6>
                </div>
                <div class="tasks-listing">
                    <p>No policy violations.</p>
                </div>
                <!-- <div class="tasks-listing">
                    <ul>
                        <li><a href="#">Break build ON HS - FAILED</a></li>
                        <li><a href="#">No GPL Licenses - FAILED</a></li>
                        <li><a href="#">No Apache Licenses - FAILED</a></li>
                        <li><a href="#">No Copyleft Licenses - FAILED</a></li>
                    </ul>
                    <div class="more-act">
                        <a href="#">6 more...</a>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="tasks-card">
                <div class="task-ttl">
                    <h6><i><img src="/assets/images/bug-icon.svg" alt="Policy Violations"></i> Compliance Tasks</h6>
                </div>
                <div class="tasks-listing">
                    <p>No current tasks.</p>
                </div>
                <!-- <div class="tasks-listing">
                    <ul>
                        <li><a href="#"><i><img src="/assets/images/bug-cross.svg" alt="Policy Violations"></i>
                                Annotate source file ProxyFilter.java with Apache header</a></li>
                        <li><a href="#"><i><img src="/assets/images/bug-cross.svg" alt="Policy Violations"></i>
                                Annotate source file ProxyFilter.java with Apache header</a></li>
                        <li><a href="#"><i><img src="/assets/images/bug-cross.svg" alt="Policy Violations"></i>
                                Annotate source file ProxyFilter.java with Apache header</a></li>
                        <li><a href="#"><i><img src="/assets/images/bug-cross.svg" alt="Policy Violations"></i>
                                Annotate source file ProxyFilter.java with Apache header</a></li>
                    </ul>
                    <div class="more-act">
                        <a href="#">12 more...</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>