.document-logo{
    max-width: 30px;
    max-height: 30px;
    font-size: 20px;
    padding: 5px;
    // border-radius: 50%;
    // background-color: white;
    color: #00acc1;
    line-height: 21px;
    /* margin-top: 15px; */
    /* padding-top: 4px; */
    top: 3px;
    right: 0px;
}