<div class="row" style="margin-bottom:20px">
  <div class="col-md-12" *ngIf="!!breadcumDetail">
    <span style="font-size:15px">
        <a class="cursor-pointer" [routerLink]="['/dashboard/entity']"><i class="far fa-building"></i>&nbsp;{{breadcumDetail?.SelectedEntity?.name}}</a> /
        <a class="cursor-pointer" (click)="gotoProject()">{{breadcumDetail.SelectedProject.name}}</a> /
        <a class="cursor-pointer" *ngIf="breadcumDetail?.IsFromComponent && !!breadcumDetail?.SelectedComponent" (click)="gotoComponent()">{{breadcumDetail.SelectedComponent.name}}</a> 
        <span *ngIf="breadcumDetail?.IsFromComponent && !!breadcumDetail.SelectedComponent"> / </span>
        <span style="color: #ffffff;">{{licenseName}}</span>
      </span>
  </div>

</div>
<license-dimension [licenseId]="licenseId" [scanId]="scanId" [projectId]="projectId" [entityId]="entityId" [isFromComponent]="breadcumDetail?.IsFromComponent" (getLicenseName)="getLicenseName($event)"></license-dimension>
<ngx-spinner [fullScreen]="true" color="#4680ff" type="pacman" size="large"></ngx-spinner>
