
<div class="col-xl-12">
    <div *ngIf='obsScan | async as scan;'>

      <div style="float:left;clear: both;">
        <ng-template pTemplate="caption">
          <div style="text-align: left;float:left;width:50px;height:50px;margin-right:10px">
            header
          </div>
        </ng-template>
      </div>
      <div class="text-center center-table-progressbar" *ngIf="isDisablePaggination">
        <mat-progress-spinner strokeWidth="5" [diameter]="40" [mode]="'indeterminate'">
        </mat-progress-spinner>
      </div>
      <perfect-scrollbar *ngIf="!isDisablePaggination" [style.max-height]="'auto'">
        <p-table *ngIf="scanAssetDetails" #dt [columns]="columns" [value]="sort(scanAssetDetails.scanAssetsTree.edges)" [paginator]="false" [rows]="50"
                 tableStyleClass="table table-striped table-bordered table-hover dataTable no-footer table-width"
                 [autoLayout]="true" [filterDelay]="0" [globalFilterFields]="['name']" sortField="embedded" [sortOrder]="-1">

          <ng-template pTemplate="caption">
            <div class="row">
              <div class="col-md-7" style="text-align: left;">
                <span *ngFor="let bread of story; let i = index">
                  <span [ngClass]="{'text-primary': i  != (story.length - 1)}" (click)="goBackfromBreadcum(bread.id,i)">{{bread.name}}</span> <span *ngIf="i  != (story.length - 1)"> / </span>
                </span>
              </div>
              <!-- <div class="col-md-5">
                <div style="text-align: right">
                  <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" class="form-control" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;display:inline">
                </div>
              </div> -->
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>File Size</th>
              <th>Status</th>
              <th>Embedded Assets</th>
              <th>Attribution</th>
              <th>Match Type</th>
            </tr>
            <tr>
              <th *ngFor="let col of columns">
                <input *ngIf="col=='Name'" id="nameSearch" type="text" placeholder="{{col}}" name="search-name"
                       class="form-control" (input)="filterColumn(col, $event.target.value,'nameSearch')"
                       [value]="getColumnFilterValue(col)"/>
                <select *ngIf="col == 'Status'" id="statusSearch" class="form-control custom-select"
                        [value]="getColumnFilterValue(col)"
                        (change)="filterColumn(col, $event.target.value,'statusSearch')">
                  <option value="ALL" selected>- All -</option>
                  <option value="IGNORED_SIZE_SMALL">IGNORED_SIZE_SMALL</option>
                  <option value="IGNORED_SIZE_LARGE">IGNORED_SIZE_LARGE</option>
                  <option value="IGNORED_SIZE_EMPTY">IGNORED_SIZE_EMPTY</option>
                  <option value="IGNORED_TYPE_UNSUPPORTED">IGNORED_TYPE_UNSUPPORTED</option>
                  <option value="ACCEPTED">ACCEPTED</option>
                </select>
                <select *ngIf="col == 'File Size'" id="fileSizeSearch" class="form-control custom-select"
                        [value]="getColumnFilterValue(col)"
                        (change)="filterColumn(col, $event.target.value,'fileSizeSearch')">
                  <option value="ALL" selected>- All -</option>
                  <option value="1kb">0-1kb</option>
                  <option value="1kb-1mb">1kb-1mb</option>
                  <option value="1mb-10mb">1mb-10mb</option>
                  <option value="10mb+">10mb+</option>
                </select>
                <select *ngIf="col == 'Embedded Assets'" id="embededSearch" class="form-control custom-select"
                        [value]="getColumnFilterValue(col)"
                        (change)="filterColumn(col, $event.target.value,'embededSearch')">
                  <option value="ALL" selected>- All -</option>
                  <option value="over0" [label]="messages.asset.filter.embedded_and_opensource"></option>
                  <option value="0-10">0-10%</option>
                  <option value="11-30">11-30%</option>
                  <option value="31-50">31-50%</option>
                  <option value="51-70">51-70%</option>
                  <option value="71-100">71-100%</option>
                </select>
                <select *ngIf="col == 'Attribution'" id="attributionSearch" class="form-control custom-select"
                        [value]="getColumnFilterValue(col)"
                        (change)="filterColumn(col, $event.target.value,'attributionSearch')">
                  <option value="ALL" selected>- All -</option>
                  <option value="REVIEWED">REVIEWED</option>
                  <option value="IGNORED">IGNORED</option>
                  <option value="COMPLETE">COMPLETE</option>
                </select>
                <select *ngIf="col == 'Match Type'" class="form-control" id="matchTypeSearch"
                        [value]="getColumnFilterValue(col)"
                        (change)="filterColumn(col, $event.target.value,'matchTypeSearch')">
                  <option value="ALL" selected>- All -</option>
                  <option value="UNIQUE_PROPRIETARY">UNIQUE PROPRIETARY</option>
                  <option value="PROPRIETARY">PROPRIETARY</option>
                  <option value="EMBEDDED_OPEN_SOURCE">EMBEDDED OPEN SOURCE</option>
                  <option value="OPEN_SOURCE">OPEN SOURCE</option>
                  <option value="OPEN_COMPONENT">OPEN COMPONENT</option>
                </select>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-scanAsset let-rowIndex="rowIndex">
            <tr *ngIf="story.length>0 && rowIndex==0" class="cursor-pointer">
              <td (click)="goBack()" colspan="7"><i class="fas fa-folder-open"></i>&nbsp;&nbsp;...</td>
            </tr>
            <tr class="cursor-pointer" *ngIf="scanAsset.node.status === 'ACCEPTED' || scanAsset.node.assetType === 'DIR'"
            (click)="gotoDetails(scanAsset)">
              <td>
                <i *ngIf="scanAsset.node.assetType === 'DIR'" class="fas fa-folder"></i>
                <i *ngIf="scanAsset.node.assetType != 'DIR'" class="fas fa-file"></i>
                &nbsp;&nbsp;{{getName(scanAsset.node.name)}}
              </td>
              <td *ngIf="scanAsset.node.assetSize >= 1024 && scanAsset.node.assetType != 'DIR'">{{scanAsset.node.assetSize/1024 | number:'1.0-1'}} kB</td>
              <td *ngIf="scanAsset.node.assetSize < 1024 && scanAsset.node.assetType != 'DIR'">{{scanAsset.node.assetSize | number:'1.0-0'}} bytes</td>
              <td *ngIf="scanAsset.node.assetType === 'DIR'"></td>
              <td>{{scanAsset.node.status}}</td>
              <td *ngIf="scanAsset.node.assetType != 'DIR'">{{scanAsset.node.embeddedAssets.edges.length}} <span *ngIf='scanAsset.node.embeddedAssets.edges[0]'> / {{getSummationOfEmbeded(scanAsset.node.embeddedAssets.edges) | number:'1.1-2'}}%</span></td>
              <td *ngIf="scanAsset.node.assetType === 'DIR'"></td>
              <td *ngIf="scanAsset.node.assetType != 'DIR'">{{scanAsset.node.attributionStatus}}</td>
              <td *ngIf="scanAsset.node.assetType === 'DIR'"></td>
              <td *ngIf="scanAsset.node.assetType != 'DIR'">{{!!scanAsset.node.matchType?scanAsset.node.matchType.replaceAll('_',' '):''}}</td>
              <td *ngIf="scanAsset.node.assetType === 'DIR'"></td>
            </tr>
            <tr style="cursor: not-allowed;" *ngIf="scanAsset.node.status != 'ACCEPTED' && scanAsset.node.assetType != 'DIR'" >
              <td>
                <i *ngIf="scanAsset.node.assetType === 'DIR'" class="fas fa-folder"></i>
                <i *ngIf="scanAsset.node.assetType != 'DIR'" class="fas fa-file"></i>
                &nbsp;&nbsp;{{scanAsset.node.name}}
              </td>
              <td *ngIf="scanAsset.node.assetSize >= 1024 && scanAsset.node.assetType != 'DIR'">{{scanAsset.node.assetSize/1024 | number:'1.0-1'}} kB</td>
              <td *ngIf="scanAsset.node.assetSize < 1024 && scanAsset.node.assetType != 'DIR'">{{scanAsset.node.assetSize | number:'1.0-0'}} bytes</td>
              <td *ngIf="scanAsset.node.assetType === 'DIR'"></td>
              <td>{{scanAsset.node.status}}</td>
              <td *ngIf="scanAsset.node.assetType != 'DIR'">{{scanAsset.node.embeddedAssets.edges.length}} <span *ngIf='scanAsset.node.embeddedAssets.edges[0]'> / {{getSummationOfEmbeded(scanAsset.node.embeddedAssets.edges) | number:'1.1-2'}}%</span></td>
              <td *ngIf="scanAsset.node.assetType === 'DIR'"></td>
              <td *ngIf="scanAsset.node.assetType != 'DIR'">{{scanAsset.node.attributionStatus}}</td>
              <td *ngIf="scanAsset.node.assetType === 'DIR'"></td>
              <td *ngIf="scanAsset.node.assetType != 'DIR'">{{!!scanAsset.node.matchType?scanAsset.node.matchType.replaceAll('_',' '):''}}</td>
              <td *ngIf="scanAsset.node.assetType === 'DIR'"></td>
            </tr>
          </ng-template>
        </p-table>
      </perfect-scrollbar>
      <div class="col-sm-12">
        <mat-paginator [hidePageSize]="false" [disabled]="isDisablePaggination" [length]="scanAssetDetails.scanAssetsTree?.totalCount"
          [pageSize]="defaultPageSize" [pageSizeOptions]="[25, 50, 100]" (page)="changePage($event)">
        </mat-paginator>
      </div>
    </div>


</div>
