

    <div *ngIf='obsScan | async as scan;'>

      <div style="float:left;clear: both;">
        <ng-template pTemplate="caption">
          <div style="text-align: left;float:left;width:50px;height:50px;margin-right:10px">
            header
          </div>
        </ng-template>
      </div>

      <div class="row">
        <div class="col-md-12" style="text-align: left;">
          <span *ngFor="let bread of story; let i = index">
            <span [ngClass]="{'text-primary': i  != (story.length - 1)}" (click)="goBackfromBreadcum(bread.id,i)">{{bread.name}}</span> <span *ngIf="i  != (story.length - 1)"> / </span>
          </span>
        </div>
      </div>

      <div class="text-center center-table-progressbar" *ngIf="isDisablePaggination">
        <mat-progress-spinner strokeWidth="5" [diameter]="40" [mode]="'indeterminate'">
        </mat-progress-spinner>
      </div>

        <p-table *ngIf="scanAssetDetails" #dt [columns]="columns" [value]="sort(scanAssetDetails.scanAssetsTree.edges)" [paginator]="false" [rows]="50"
                 tableStyleClass="table table-striped table-bordered table-hover dataTable no-footer table-width"
                 [autoLayout]="true" [filterDelay]="0" [globalFilterFields]="['name']" sortField="embedded" [sortOrder]="-1">


          <ng-template pTemplate="header" >
            <tr>
              <th>Name</th>
              <th>File Size</th>
              <th>Status</th>
              <th>Embedded Assets / Total %</th>
              <th>Attribution</th>
              <th>Match Type</th>
            </tr>
            <tr>
              <th *ngFor="let col of columns">
                <input *ngIf="col=='Name'" id="nameSearch" type="text" placeholder="{{col}}" name="search-name"
                       class="form-control" (input)="filterColumn(col, $event.target.value,'nameSearch')"
                       [value]="getColumnFilterValue(col)"/>
                <select *ngIf="col == 'Status'" id="statusSearch" class="form-control custom-select"
                        [value]="getColumnFilterValue(col)"
                        (change)="filterColumn(col, $event.target.value,'statusSearch')">
                  <option value="ALL" selected>- All -</option>
                  <option value="IGNORED_SIZE_SMALL">IGNORED_SIZE_SMALL</option>
                  <option value="IGNORED_SIZE_LARGE">IGNORED_SIZE_LARGE</option>
                  <option value="IGNORED_SIZE_EMPTY">IGNORED_SIZE_EMPTY</option>
                  <option value="IGNORED_TYPE_UNSUPPORTED">IGNORED_TYPE_UNSUPPORTED</option>
                  <option value="ACCEPTED">ACCEPTED</option>
                </select>
                <select *ngIf="col == 'File Size'" id="fileSizeSearch" class="form-control custom-select"
                        [value]="getColumnFilterValue(col)"
                        (change)="filterColumn(col, $event.target.value,'fileSizeSearch')">
                  <option value="ALL" selected>- All -</option>
                  <option value="1kb">0-1kb</option>
                  <option value="1kb-1mb">1kb-1mb</option>
                  <option value="1mb-10mb">1mb-10mb</option>
                  <option value="10mb+">10mb+</option>
                </select>
                <select *ngIf="col == 'Embedded Assets'" id="embededSearch" class="form-control custom-select"
                        [value]="getColumnFilterValue(col)"
                        (change)="filterColumn(col, $event.target.value,'embededSearch')">
                  <option value="ALL" selected>- All -</option>
                  <option value="over0" [label]="messages.asset.filter.embedded_and_opensource"></option>
                  <option value="0-10">0-10%</option>
                  <option value="11-30">11-30%</option>
                  <option value="31-50">31-50%</option>
                  <option value="51-70">51-70%</option>
                  <option value="71-100">71-100%</option>
                </select>
                <select *ngIf="col == 'Attribution'" id="attributionSearch" class="form-control custom-select"
                        [value]="getColumnFilterValue(col)"
                        (change)="filterColumn(col, $event.target.value,'attributionSearch')">
                  <option value="ALL" selected>- All -</option>
                  <option value="REQUIRED">REQUIRED</option>
                  <option value="PARTIAL">PARTIAL</option>
                  <option value="COMPLETE">COMPLETE</option>
                  <option value="REVIEWED_IGNORED">REVIEWED_IGNORED</option>
                </select>
                <select *ngIf="col == 'Match Type'" class="form-control" id="matchTypeSearch"
                        [value]="getColumnFilterValue(col)"
                        (change)="filterColumn(col, $event.target.value,'matchTypeSearch')">
                  <option value="ALL" selected>- All -</option>
                  <option value="UNIQUE_PROPRIETARY">PROPRIETARY</option>
                  <option value="PROPRIETARY">PROPRIETARY/OPEN SOURCE</option>
                  <option value="EMBEDDED_OPEN_SOURCE">OPEN SOURCE/PROPRIETARY</option>
                  <option value="OPEN_SOURCE">OPEN SOURCE</option>
                  <option value="OPEN_COMPONENT">OPEN SOURCE COMPONENT</option>
                </select>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-scanAsset let-rowIndex="rowIndex">
            <tr *ngIf="story.length>0 && rowIndex==0" class="cursor-pointer">
              <td (click)="goBack()" colspan="7"><i class="fas fa-folder-open"></i>&nbsp;&nbsp;...</td>
            </tr>
            <tr [ngStyle]="{'cursor': scanAsset.node.scanAssetType == 'DIR' || scanAsset.node.matchCount > 0 ? 'pointer' : 'not-allowed' }"
                *ngIf="scanAsset.node.status === 'ACCEPTED' || scanAsset.node.scanAssetType === 'DIR'"
            (click)="gotoDetails(scanAsset)">
              <td>
                <i *ngIf="scanAsset.node.scanAssetType === 'DIR'" class="fas fa-folder"></i>
                <i *ngIf="scanAsset.node.scanAssetType != 'DIR'" class="far fa-file"></i>
                &nbsp;&nbsp;{{getName(scanAsset.node.name)}}
                <i class="fas fa-cubes" triggers="mouseenter:mouseleave" [ngbPopover]="popContent" style="color:#2DC6DB;margin-left: 3px"
                   *ngIf="scanAsset.node.matchType === 'OPEN_COMPONENT' && scanAsset.node.component">
                </i>
                <i *ngIf="scanAsset.node.scanAssetType !== 'DIR' && this.columnsFilter.size >= 1" triggers="mouseenter:mouseleave" [ngbPopover]="popContentWorkspace"
                  style="color:#2DC6DB;margin-left: 3px;cursor: pointer" class="fad fa-folder-tree">
                </i>
                <ng-template #popContent>
                  {{scanAsset.node.component.name+":"+scanAsset.node.component.group+":"+scanAsset.node.component.version}}
                </ng-template>
                <ng-template #popContentWorkspace>
                  {{scanAsset?.node?.workspacePath}}
                </ng-template>
              </td>
              <td *ngIf="scanAsset.node.assetSize >= 1024 && scanAsset.node.scanAssetType != 'DIR'">{{scanAsset.node.assetSize/1024 | number:'1.0-1'}} kB</td>
              <td *ngIf="scanAsset.node.assetSize < 1024 && scanAsset.node.scanAssetType != 'DIR'">{{scanAsset.node.assetSize | number:'1.0-0'}} bytes</td>
              <td *ngIf="scanAsset.node.scanAssetType === 'DIR'"></td>
              <td>{{scanAsset.node.status}}</td>
              <td *ngIf="scanAsset.node.scanAssetType != 'DIR'">{{scanAsset.node.matchCount}} <span *ngIf='scanAsset.node.matchCount>0'> / {{scanAsset?.node?.percentEmbedded | number:'1.1-2'}}%</span></td>
              <td *ngIf="scanAsset.node.scanAssetType === 'DIR'"></td>
              <td *ngIf="scanAsset.node.scanAssetType != 'DIR'">{{scanAsset.node.attributionStatus}}</td>
              <td *ngIf="scanAsset.node.scanAssetType === 'DIR'"></td>
              <td *ngIf="scanAsset.node.scanAssetType != 'DIR'">{{!!scanAsset.node.matchType?matchTypeVal2Caption(scanAsset.node.matchType):''}}</td>
              <td *ngIf="scanAsset.node.scanAssetType === 'DIR'"></td>
            </tr>
            <tr style="cursor: not-allowed;" *ngIf="scanAsset.node.status != 'ACCEPTED' && scanAsset.node.scanAssetType != 'DIR'" >
              <td>
                <i *ngIf="scanAsset.node.scanAssetType === 'DIR'" class="fas fa-folder"></i>
                <i *ngIf="scanAsset.node.scanAssetType != 'DIR'" class="far fa-file"></i>
                &nbsp;&nbsp;{{scanAsset.node.name}}
              </td>
              <td *ngIf="scanAsset.node.assetSize >= 1024 && scanAsset.node.scanAssetType != 'DIR'">{{scanAsset.node.assetSize/1024 | number:'1.0-1'}} kB</td>
              <td *ngIf="scanAsset.node.assetSize < 1024 && scanAsset.node.scanAssetType != 'DIR'">{{scanAsset.node.assetSize | number:'1.0-0'}} bytes</td>
              <td *ngIf="scanAsset.node.scanAssetType === 'DIR'"></td>
              <td>{{scanAsset.node.status}}</td>
              <td *ngIf="scanAsset.node.scanAssetType != 'DIR'">{{scanAsset.node.matchCount}} <span *ngIf='scanAsset.node.matchCount>0'> / {{scanAsset?.node?.percentEmbedded | number:'1.1-2'}}%</span></td>
              <td *ngIf="scanAsset.node.scanAssetType === 'DIR'"></td>
              <td *ngIf="scanAsset.node.scanAssetType != 'DIR'">{{scanAsset.node.attributionStatus}}</td>
              <td *ngIf="scanAsset.node.scanAssetType === 'DIR'"></td>
              <td *ngIf="scanAsset.node.scanAssetType != 'DIR'">{{!!scanAsset.node.matchType?matchTypeVal2Caption(scanAsset.node.matchType):''}}</td>
              <td *ngIf="scanAsset.node.scanAssetType === 'DIR'"></td>
            </tr>
          </ng-template>
        </p-table>

      <div class="col-sm-12">
          <span *ngIf="!!scanAssetDetails.scanAssetsTree && scanAssetDetails.scanAssetsTree.edges.length == 0 && story.length > 0" 
             class="cursor-pointer text-primary back-link" (click)="goBack()"> 
            <i class="fas fa-arrow-left"></i> &nbsp;back
          </span> 
      
        <mat-paginator [hidePageSize]="false" [disabled]="isDisablePaggination" [length]="scanAssetDetails.scanAssetsTree?.totalCount"
          [pageSize]="defaultPageSize" [pageSizeOptions]="[25, 50, 100]" (page)="changePage($event)">
        </mat-paginator>
      </div>
     
    </div>


