<app-card [hidHeader]="true" [options]="false">
    <h4>{{typeName | titlecase}} alerts</h4>

    <div class="form-group">
        <div class="switch switch-info d-inline m-r-10">
            <input type="checkbox" checked>
            <label class="cr"></label>
        </div>
        <label>Subscribe {{typeName | lowercase}} alerts</label>
    </div>


    <h6>Notifications</h6>
    <div class="form-group">
        <select class="form-control custom-select">
            <option value="null">Choose...</option>
            <option value="1" selected>Dashboard alert</option>
            <option value="2">Slack message</option>
            <option value="3">Email</option>
            <option value="4">Jira ticket</option>
        </select>
    </div>
    <div class="form-group">
        <select class="form-control custom-select">
            <option value="null">Choose...</option>
            <option value="1">Dashboard alert</option>
            <option value="2" selected>Slack message</option>
            <option value="3">Email</option>
            <option value="4">Jira ticket</option>
        </select>
        <button class="btn btn-link text-warning"><i class="far fa-times-circle"></i></button>
    </div>
    <div class="form-group">
        <select class="form-control custom-select">
            <option value="null" selected>Choose...</option>
            <option value="1">Dashboard alert</option>
            <option value="2">Slack message</option>
            <option value="3">Email</option>
            <option value="4">Jira ticket</option>
        </select>
        <button class="btn btn-link text-warning"><i class="far fa-times-circle"></i></button>
    </div>

    <button class="btn btn-outline-info btn-sm"><i class="fas fa-plus"></i> Add notification</button>
</app-card>
