<div class="row entry-page">
    <div class="col-6 graph-background-col">
        <div class="graph-background"></div>
        <div class="threatrix-title">
            <div><img class="logo" src="/assets/images/website_logo_white-letters-transparent_background-large.png"></div>
            <div class="app-title">ThreatCenter</div>
            <div class="app-tagline">Open Source Supply Chain <br/>Risk Analysis & Mitigation</div>
        </div>
    </div>
    <div class="col-6 white-col-approval">
        <div>

            <app-alert type="warning"><p class="lead mb-0">Your account is pending approval.</p></app-alert>
            <h5 class="mb-4">Thank you for your interest in Threatrix!</h5>
            <h5 class="mb-4">All accounts are currently moderated. We will approve your account shortly.</h5>
            <div style="font-weight: bold; font-size: 30px;">
                Threatrix is a "Game Changer"
            </div>
            <div style="font-size: 18px">
                <div class="intro-text-div">
                    Threatrix has been in stealth mode, for more than three years, building the most comprehensive, and accurate
                    open source detection, reporting and risk mitigation solution on earth.
                </div>
                <div class="intro-text-div">
                    See why Threatrix is being called a <b>"Game-Changer"</b> by our customers when they compare our scan results to other tools.
                </div>
            </div>




            <div class="mt-5">
                <app-alert type="info" [dismiss]="true" *ngIf="messageInfo">{{ messageInfo }}</app-alert>

                <app-alert type="danger" [dismiss]="true" *ngIf="messageError">{{ messageError }}</app-alert>
            </div>

            <form *ngIf="!user?.invitedByUsername && (user?.email == null || user?.email == '' || user?.organization == null || user?.organization.name == null || user?.coverLetter == null)"
                  name="form" class="auth-form mt-2" (ngSubmit)="f.form.valid && updateAccount()" #f="ngForm" novalidate>

                <h6>
                    Please help us by providing a bit of detail about your project.
                    <p>
                    <ul>
                        <li>Languages</li>
                        <li>Dependency Managers (Maven, NPM, Poetry, etc..)</li>
                        <li>SCM (Github/Gitlab, Bitbutcket)</li>
                        <li>Build tools (Jenkins, CicleCI, etc..)</li>
                        <li>Current tools for open source risk management(if any)</li>
                    </ul>

                </h6>

                <!-- org name -->
                <div class="form-group" *ngIf="user?.organization == null || user?.organization.name == null || user?.organization.name == '' || user?.organization.name == user?.organization.orgId"
                     [ngClass]="{ 'has-error': f.submitted && !orgName.valid }">
                    <input class="form-control" name="companyName" [(ngModel)]="model.orgName" #orgName="ngModel" required placeholder="Company name">
                    <div class="text-danger" *ngIf="f.submitted && !orgName.valid">Please provide the name of the the company you represent.</div>
                </div>

                <!-- position -->
                <div class="form-group" *ngIf="user?.position == null || user?.position == ''" [ngClass]="{ 'has-error': f.submitted && !position.valid }">
                    <input class="form-control" name="position" [(ngModel)]="model.position" #position="ngModel" required placeholder="Position">
                    <div class="text-danger" *ngIf="f.submitted && !position.valid">Please tell us your position.</div>
                </div>

                <!-- email -->
                <div class="form-group" *ngIf="user?.email == null || user?.email == ''" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                    <input class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [email]="true" required placeholder="Email (to receive notifications)">
                    <div class="text-danger" *ngIf="f.submitted && !email.valid">Please provide valid email to receive account approval and other notifications.</div>
                </div>

                <!-- phone
                <div class="form-group" *ngIf="user?.phone == null || user?.phone == ''" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
                    <input class="form-control" name="phone" [(ngModel)]="model.phone" #phone="ngModel" placeholder="Phone number">
                </div>-->

                <!-- cover letter -->
                <div class="form-group" *ngIf="user?.coverLetter == null || user?.coverLetter == ''" [ngClass]="{ 'has-error': f.submitted && !coverLetter.valid }">
                    <textarea class="form-control" name="coverLetter" [(ngModel)]="model.coverLetter" #coverLetter="ngModel" rows="4"
                              placeholder="Please tell us a little bit about your interest in Threatrix."></textarea>
                    <div class="text-danger" *ngIf="f.submitted && !coverLetter.valid">Please tell us a little bit about your interest in Threatrix.</div>
                </div>


                <button [disabled]="loading" class="btn btn-primary btn-block ">Submit</button>
            </form>


            <div class="lead mt-5">Once your account is approved, you may <a href="javascript:" (click)="logout()">login here</a> or <a href="javascript:" (click)="logout()">login as another user</a></div>


        </div>
    </div>
</div>
