<div>
  <nav aria-label="breadcrumb" class="float-right">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard/policy/list/{{entityId}}/{{projectId}}">Policies</a></li>
          <li class="breadcrumb-item active text-muted" aria-current="page">Policy</li>
      </ol>
  </nav>
  <h1>Policy</h1>
</div>


<app-messages [messages]="messages"></app-messages>


<ng-template [ngIf]="policy != undefined">
  <div style="padding:40px 0px 40px 0px;margin-left:5px;margin-right:5px">
    <ngb-tabset type="pills" [activeId]="activeTabIdString">    
      <ngb-tab id="policyGeneralInfo" title="Policy" >
        <ng-template ngbTabContent>
          <app-card cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between" cardTitle="General Info">
            <div class="pt-4" style="width: 100%;">
              <ng-template [ngIf]="policy.active == true">
                <span title="Info" class=" badge m-r-5 badge-light-success" style="margin-bottom: 16px;">Active</span>
              </ng-template>
              
              <div *ngIf="policy.entity" class="form-group " style="padding-left: 0px">
                <label >Entity</label>
                <input disabled class="form-control" style="width: 100%;" value="{{policy.entity?.name}}"/>
              </div>
              <div *ngIf="policy.project" class="form-group " style="padding-left: 0px">
                <label >Project</label>
                <input disabled class="form-control" style="width: 100%;" value="{{policy.project?.name}}"/>
              </div>
              <div class="form-group " style="padding-left: 0px">
                <label >Policy Name</label>
                <input disabled class="form-control" style="width: 100%;" value="{{policy.name}}"/>
              </div>
              <div class="form-group" style="padding-left: 0px" *ngIf="false">
                <label>Policy Title</label>
                <input disabled class="form-control" value="{{policy.title}}"/>
              </div>
              <div class="form-group">
                <label class="font-weight-bolder">Policy Type</label>
                <input disabled class="form-control" value="{{conditionTypes[policy.conditionType]}}"/>
              </div>
              <div class="form-group">
                <label class="font-weight-bolder">Description</label>
                <input disabled class="form-control" value="{{policy.description}}"/>
              </div>
              <div class="form-group">
                <label class="font-weight-bolder">Apply to children</label>
                <input disabled type="checkbox" class="ml-3" [ngModel]="policy.applyToChilds"/>
              </div>
              <div class="form-group">
                <label class="font-weight-bolder">Policy Description</label>
                <textarea disabled class="form-control" value="{{policy.description}}" rows="5"></textarea>
              </div>
              <div class="form-group" style="padding-left: 0px" *ngIf="false">
                <label class="font-weight-bolder">Overrides policy</label>
                <input disabled class="form-control" value="{{policy.overridePolicyTitle}}"/>
              </div>
              <div class="form-group" style="padding-left: 0px" *ngIf="false">
                  <label class="font-weight-bolder">Created by</label>
                  <input disabled class="form-control" value="{{policy.createdBy}}"/>
              </div>
              <div class="form-group" style="padding-left: 0px" *ngIf="false">
                <label class="font-weight-bolder">Created date</label>
                <input disabled class="form-control" value="{{policy.createDate | date :'M/d/y h:mmaa' | lowercase}}"/>
              </div>
              <div *ngIf="false" class="form-group">
                <label class="font-weight-bolder">Last state change</label>
                <input disabled class="form-control" value="{{policy.dateLastStateChange | date :'M/d/y h:mmaa' | lowercase}}"/>
              </div>

              <div class="actions mt-4">
                <button  (click)="gotoTab('policyConditions')" class="btn btn-outline-secondary float-right">
                  Conditions
                  <i class="feather icon-chevrons-right" style="font-size: medium;"></i>
                </button>
              </div>  
            </div>
          </app-card>
        </ng-template>
      </ngb-tab>
      <!-- Conditions -->
      <ngb-tab id="policyConditions"> 
        <ng-template ngbTabTitle>Conditions&nbsp;
          <span class="badge badge-light">
            {{policy.conditions?.groups[0]?.conditions.length+policy.conditions?.groups[1]?.conditions.length}}
          </span>
        </ng-template>
        <ng-template ngbTabContent>
          <app-card cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between" [cardTitle]="conditionTypeTitle+' Conditions'">
            <div class="pt-4" style="width: 100%;">
              <condition-builder style="width: 100%" [parentGroup]="policy.conditions" [readonly]="true" [policy]="policy">
              </condition-builder>  
              <div class="actions mt-4">
                <button  (click)="gotoTab('policyActions')" class="btn btn-outline-secondary float-right">
                  Actions
                  <i class="feather icon-chevrons-right" style="font-size: medium;"></i>
                </button>
                <button  (click)="gotoTab('policyGeneralInfo')" class="btn btn-outline-secondary float-left mr-2">
                  <i class="feather icon-chevrons-left" style="font-size: medium;"></i>
                  General Info
                </button>
              </div>  
            </div>  
          </app-card>  
        </ng-template>
      </ngb-tab>
      <!-- Actions  -->
      <ngb-tab id="policyActions">
        <ng-template ngbTabTitle>Actions&nbsp;
          <span class="badge badge-light">
            {{policy.actions.length}}
          </span>
        </ng-template>
        <ng-template ngbTabContent>
          <app-card cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between" cardTitle="Actions">
            <perfect-scrollbar [style.max-height]="'500px'">
              <p-table #dt [columns]="actionCols" [value]="policy.actions" [paginator]="false" [rows]="50"
                       tableStyleClass="table table-striped table-bordered table-hover dataTable no-footer"
                       [filterDelay]="0" [globalFilterFields]="['actionType', 'actionName']">
    
                <ng-template pTemplate="caption">
                  <div style="text-align: right;float:right;margin-bottom:10px; margin-right: 4px;">
                    <input type="text" pInputText size="30" placeholder="Filter"
                           (input)="dt.filterGlobal($event.target.value, 'contains')"
                           style="width:100px;display:inline" class="form-control">
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th>Type</th>
                    <th>Name</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-action>
                  <tr>
                    <td>{{!!action.actionType?actionTypeMap[action.actionType]:''}}</td>
                    <td>{{!!action.actionName?actionNameMap[action.actionType][action.actionName]:''}}</td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="actions mt-4">
                <button  (click)="gotoTab('policyConditions')" class="btn btn-outline-secondary float-left mr-2">
                  <i class="feather icon-chevrons-left" style="font-size: medium;"></i>
                  Conditions
                </button>
              </div>  
            </perfect-scrollbar>
    
          </app-card>
        </ng-template>
      </ngb-tab>

    </ngb-tabset> 
  </div>    
  <div class="actions mt-4">
      <ng-template [ngIf]="policy.active == true">
        <a routerLink="/dashboard/policy/edit/{{policy.policyId}}/{{entityId}}/{{projectId}}" class="btn btn-outline-info">
            <i class="feather icon-edit"></i>
            Edit
        </a>
      </ng-template>  

      <a routerLink="/dashboard/policy/list/{{entityId}}/{{projectId}}" class="btn btn-outline-secondary">
          <i class="feather icon-list"></i>
          Back to list
      </a>

      <a  (click)="enablePolicy()" class="btn btn-outline-danger float-right">
          <i class="feather icon-x"></i>
          {{policy.active? 'Disable': 'Enable'}}
      </a>

      <a  (click)="removePolicy()" class="btn btn-outline-danger float-right">
          <i class="feather icon-trash"></i>
          Delete
      </a>
  </div>
</ng-template>


<ng-template [ngIf]="policy === undefined">
  <app-alert type="warning">Policy not found.</app-alert>

  <a routerLink="/dashboard/policy/list/{{entityId}}/{{projectId}}" class="btn btn-outline-secondary">
      <i class="feather icon-list"></i>
      Back to list
  </a>
</ng-template>
