<div style="width: 100%; margin-top: 8px;">
  <div>
    <p style="margin-top:8px; font-weight: bold;">JIRA Integration</p>
    <div class="form-group " style="padding-left: 0px">
      <label class="font-weight-bolder">Project URL</label>
      <input name="projectUrl" required placeholder="Project URL" class="form-control" style="width: 100%;" [(ngModel)]="entitySettings?.jiraCredentials.projectUrl"/>
    </div>
    <div class="form-group " style="padding-left: 0px">
      <label class="font-weight-bolder">Project ID</label>
      <input name="projectId" required placeholder="Project ID" class="form-control" style="width: 100%;" [(ngModel)]="entitySettings?.jiraCredentials.projectId"/>
    </div>
    <div class="form-group " style="padding-left: 0px">
      <label class="font-weight-bolder">Issue Type ID</label>
      <input name="issueTypeId" required placeholder="Issue Type ID" class="form-control" style="width: 100%;" [(ngModel)]="entitySettings?.jiraCredentials.issueTypeId"/>
    </div>
    <div class="form-group " style="padding-left: 0px">
      <label class="font-weight-bolder">Login/e-mail</label>
      <input name="email" required placeholder="Login/e-mail" class="form-control" style="width: 100%;" [(ngModel)]="entitySettings?.jiraCredentials.email"/>
    </div>
    <div class="form-group " style="padding-left: 0px">
      <label class="font-weight-bolder">API token</label>
      <input name="apiToken" type="password" required placeholder="API token" class="form-control" style="width: 100%;" [(ngModel)]="entitySettings?.jiraCredentials.apiToken"/>
    </div>
  </div>
  <div class="actions mt-4">
    <button type="button" class="btn btn-success" [disabled] = "!validateData()" (click)="saveCredentials()" >
        <i class="feather icon-save"></i>
        Save
    </button>
    <button type="button" class="btn btn-secondary" (click)="resetCredentials()" >
      <i class="feather icon-x"></i>
      Reset
    </button>


  </div>

</div>
