.container {
    text-align: center;
    width: 300px;
    height: auto;
    padding-top: 20px;
}

.big-btn {
    width: 110px;
    height: 45px;
}

.contain {
    width: 800px;
    margin: 100px auto 0px auto;
}