<div *ngIf='obsProject | async as project; '>
  <div class="row">
    <div class="col-md-6">
      <h3>
        <span style="font-size:15px"><a [routerLink]="['/dashboard/entity',project.entityId]">
            <i class="fas fa-level-up-alt" style="margin-right:5px"></i>Parent BU</a> / </span> {{project.name}}
      </h3>
    </div>
    <div class="col-6" style="text-align: right;">
      <!-- <a [routerLink]="['/dashboard/project-setting']">
        <button type="submit" class="btn btn-outline-secondary ml-2">
          <i class="fas fa-cogs" style="margin-right:5px"></i>Settings
        </button>
      </a> -->
      <a [routerLink]="['/dashboard/policy/list/',project.entityId, project.projectId]">
        <button type="submit" class="btn btn-outline-info ml-2">
          <i class="fas fa-feather-alt" style="margin-right:5px"></i>Policies
        </button>
      </a>
      <button class="btn btn-outline-info ml-2" (click)="openProjectTagDialog(projectTags)">
        <i class="feather icon-tag" style="margin-right:5px"></i>Project Tags
      </button>
    </div>
  </div>

  <div class="row chart-block-p">
    <div class="col-lg-3 col-md-3">
      <project-chart [chartLabel]="'Vulnerabilities'" [chartArray]='vulnerabilityChart.series'
        [chartId]="'projectVulnerabilityChart'" [chartconfig]="vulnerabilityChart" [iconClass]="'fas fa-exclamation-triangle text-c-red f-15 m-r-5'"></project-chart>
    </div>
    <div class="col-lg-3 col-md-3">
      <project-chart [chartLabel]="'Licenses'" [chartArray]='licenseChart.series' [chartId]="'projectLicenseChart'"
        [chartconfig]="licenseChart" [iconClass]="'fas fa-balance-scale text-c-red f-15 m-r-5'"></project-chart>
    </div>

    <div class="col-lg-3 col-md-3">
      <project-chart [chartLabel]="'Components'" [chartArray]='componentChart.series'
        [chartId]="'projectComponentChart'" [chartconfig]="componentChart" [iconClass]="'fas fa-cubes text-c-red f-15 m-r-5'"></project-chart>
    </div>
    <div class="col-lg-3 col-md-3">
      <project-chart [chartLabel]="'Asset Composition'" [chartArray]='assetChart.series' [chartId]="'projectAssetChart'"
        [chartconfig]="assetChart" [iconClass]="'fas fa-code text-c-red f-15 m-r-5'"></project-chart>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-card [hidHeader]="true" cardClass="tab-card">

        <div style="float: right; text-align: right" *ngIf="stateService.project_tabs_selectedTab === 'scan'">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input type="text" size="50" pInputText placeholder="Branch name" id="branchName" name="search-name"class="form-control"
                   (input)="filterColumn($event.target.value,'branchName')" style="width:auto;display:inline"
                   [value]="getColumnFilterValue()"/>
        </div>
        
        <ngb-tabset type="pills" [activeId]="stateService.project_tabs_selectedTab" (tabChange)="onTabChange($event)">

          <!-- SCANS TAB -->
          <ngb-tab id="scan">
            <ng-template ngbTabTitle>Scans&nbsp;
              <span class="badge badge-light">
                {{projectDetails.scans?.totalCount}}
              </span>
            </ng-template>
            <ng-template ngbTabContent>
              <div style="float:left;clear: both;">
                <ng-template pTemplate="caption">
                  <div style="text-align: left;float:left;width:50px;height:50px;margin-right:10px">
                    header
                  </div>
                  <div style="text-align: right;float:right;margin-bottom:10px;clear: both;">
                    <input type="text" pInputText size="50" placeholder="Filter"
                      (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:160px;display:inline"
                      class="form-control">
                  </div>
                </ng-template>
              </div>
              <div class="text-center center-table-progressbar" *ngIf="isDisablePaggination">
                <mat-progress-spinner strokeWidth="5" [diameter]="40" [mode]="'indeterminate'">
                </mat-progress-spinner>
              </div>
              <perfect-scrollbar *ngIf="!isDisablePaggination" [style.max-height]="'auto'">
                <p-table id="tabPanels" [columns]="columns" [value]="scanList" [paginator]="false" [rows]="50"
                  tableStyleClass="table table-bordered table-hover dataTable no-footer table-width" selectionMode="single"
                  [(selection)]="stateService.selectedScan" (onRowUnselect)="rowUnselect($event)" [autoLayout]="true"
                  (onRowSelect)="onRowSelect($event)">

                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th>ID</th>
                      <th>Commit</th>
                      <th>Branch name</th>
                      <th>Tag</th>
                      <th>Created</th>
                      <th>Vulnerabilities</th>
                      <th>Licenses</th>
                      <th>Supply Chain</th>
                      <th title="Asset Composition">ASSETS</th>
                      <th>Status</th>
                      <!--<th>Policy Violations</th>-->
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-scan let-columns="columns">
                    <tr [pSelectableRow]="scan" [pSelectableRowIndex]="rowIndex"
                      [ngClass]="{'selected-table-row': isHighlightNewScan == true && highlitedScanId == scan.node?.scanId }">
                      <td (click)="copyToClipboard(scan.node?.scanId, 'ID copied to clipboard');">{{(scan.node?.scanId | slice:0:4) + ".." + (scan.node?.scanId | slice:-4)}}</td>
                      <td (click)="copyToClipboard(scan.node?.versionHash,'Commit number copied to clipboard');">{{scan.node?.versionHash}}</td>
                      <td>{{scan.node?.branch}}</td>
                      <td>{{scan.node?.tag}}</td>
                      <td>{{scan.node?.created | date :'M/d h:mmaa' | lowercase}}</td>
                      <td>
                        <span title="Critical"
                          class="badge m-r-5 badge-red">{{scan.node.scanMetricsSummary?.vulnerabilityMetrics?.critical}}</span>
                        <span title="High"
                          class="badge m-r-5 badge-pink">{{scan.node.scanMetricsSummary?.vulnerabilityMetrics?.high}}</span>
                        <span title="Medium"
                          class="badge m-r-5 badge-orange">{{scan.node.scanMetricsSummary?.vulnerabilityMetrics?.medium}}</span>
                        <span title="Low"
                          class="badge m-r-5 badge-yellow">{{scan.node.scanMetricsSummary?.vulnerabilityMetrics?.low}}</span>
                        <span title="Info"
                          class="badge m-r-5 badge-light-primary">{{scan.node.scanMetricsSummary?.vulnerabilityMetrics?.info}}</span>
                      </td>
                      <td>
                        <span title="Copyleft Strong"
                          class="badge m-r-5 badge-light-danger">{{scan.node.scanMetricsSummary?.licenseMetrics?.copyleftStrong}}</span>
                        <span title="Copyleft Weak"
                          class="badge m-r-5 badge-light-warning">{{scan.node.scanMetricsSummary?.licenseMetrics?.copyleftWeak}}</span>
                        <span title="Copyleft Partial"
                          class="badge m-r-5 badge-light-warning">{{scan.node.scanMetricsSummary?.licenseMetrics?.copyleftPartial}}</span>
                        <span title="Copyleft Limited"
                          class="badge m-r-5 badge-light-warning">{{scan.node.scanMetricsSummary?.licenseMetrics?.copyleftLimited}}</span>
                        <span title="Copyleft"
                          class="badge m-r-5 badge-light-warning">{{scan.node.scanMetricsSummary?.licenseMetrics?.copyleft}}</span>
                        <span title="Dual"
                          class="badge m-r-5 badge-light-warning">{{scan.node.scanMetricsSummary?.licenseMetrics?.dual}}</span>
                        <span title="Custom"
                          class="badge m-r-5 badge-light-warning">{{scan.node.scanMetricsSummary?.licenseMetrics?.custom}}</span>
                        <span title="Permissive"
                          class="badge m-r-5 badge-light-primary">{{scan.node.scanMetricsSummary?.licenseMetrics?.permissive}}</span>
                      </td>
                      <td>
                        <span title="supply-chain"
                          class="badge m-r-5 badge-light-danger">{{scan.node.scanMetricsSummary?.supplyChainMetrics?.risk}}</span>
                        <span title="Risky Licenses"
                          class="badge m-r-5 badge-light-warning">{{scan.node.scanMetricsSummary?.supplyChainMetrics?.quality}}</span>
                      </td>
                      <td>
                        <span title="Embedded"
                          class="badge m-r-5 badge-light-primary">{{scan.node.scanMetricsSummary?.assetMetrics?.embedded}}</span>
                        <span title="Open Source"
                          class="badge m-r-5 badge-light-warning">{{scan.node.scanMetricsSummary?.assetMetrics?.openSource}}</span>
                        <span title="Unique"
                          class="badge m-r-5 badge-light-primary">{{scan.node.scanMetricsSummary?.assetMetrics?.unique}}</span>
                      </td>
                      <td style="text-align: center">
                        <span *ngIf="!!scan.node?.errorMsg;else successMsg">
                          <button class="btn badge-light-danger error-btn" title="Show log and error messages"  
                            (click)="openLogs(scanError, scan.node.errorMsg, scan.node.log)">
                            <i class="feather icon-x badge-light-danger" style="font-size: 14px; font-weight: 800; background: none; display: inline-block; padding-top: 3px;"></i>
                          </button>
                        </span>
                        <ng-template #successMsg><span>
                            <button *ngIf="!!scan.node?.errorMsg||!!scan.node?.log"
                              class="btn badge-light-success error-btn" title="Show log" 
                              (click)="openLogs(scanError, scan.node.errorMsg, scan.node.log)">
                              <i class="feather icon-check badge-light-success"
                                style="font-size: 14px; font-weight: 800; background: none; display: inline-block; padding-top: 3px;"></i>
                            </button>
                            <i *ngIf="!scan.node?.errorMsg&&!scan.node?.log"
                              class="feather icon-check badge-light-success"
                              style="font-size: 14px; font-weight: 800; background: none; display: inline-block; padding-top: 3px;"></i>
                          </span></ng-template>
                      </td>

                      <!--<th>Policy Violations</th -->
                    </tr>
                  </ng-template>
                </p-table>

              </perfect-scrollbar>
              <div class="col-sm-12">
                <mat-paginator [hidePageSize]="false" [disabled]="isDisablePaggination" [length]="projectDetails.scans?.totalCount"
                  [pageSize]="defaultPageSize" [pageSizeOptions]="[25, 50, 100]" (page)="changePage($event)">
                </mat-paginator>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- VULNERABILITIES TAB -->
          <ngb-tab id="vulnerabilities">
            <ng-template ngbTabTitle>Vulnerabilities&nbsp;
              <span class="badge badge-light">
                {{vulnerabilityCount}}
              </span>
            </ng-template>
            <ng-template ngbTabContent>
              <app-vulnerabilities [scanId]="stateService.selectedScan?.node.scanId" [obsScan]="vulScanData">
              </app-vulnerabilities>
            </ng-template>
          </ngb-tab>

          <!-- COMPONENTS TAB -->
          <ngb-tab id="components">
            <ng-template ngbTabTitle>Components&nbsp;
              <span class="badge badge-light">
                {{componentCount}}
              </span>
            </ng-template>
            <ng-template ngbTabContent>

              <app-components [scanId]="stateService.selectedScan?.node.scanId" [obsScan]="componentScanData">
              </app-components>
              <!--
              NEED COMPONENT AGE METRIC!!
              vulns in component,
              ip license risks
              obscelences risk
              which repositories they come from
              last used released date
              number of versions
              number of CVE's
              latest release date
              versions in use
              licenses,
              technology(java)
              Release timeline view popup. wtih CVE correlation
              Need list of releases from repository
              repositoryMetaData should be a list with all the repos where we find the component(source[github] and binary [maven])

              Dependencies view with starburst drill down for dependecies!!! Full page!
              -->


            </ng-template>
          </ngb-tab>

          <!-- LICENSES TAB -->
          <ngb-tab id="licenses">
            <ng-template ngbTabTitle>Licenses&nbsp;
              <span class="badge badge-light">
                {{licensesCount}}
              </span>
            </ng-template>
            <ng-template ngbTabContent>
              <app-licenses [scanId]="stateService.selectedScan?.node.scanId" [obsScan]="licensesScanData">
              </app-licenses>
            </ng-template>
          </ngb-tab>

          <!-- ASSETS TAB -->
          <ngb-tab id="assets">
            <ng-template ngbTabTitle>Assets&nbsp;
              <span class="badge badge-light" ngbTooltip="{{assetCountTooltip}}">
                {{assetCount}}
              </span>
            </ng-template>
            <ng-template ngbTabContent>
              <app-scanassets [scanId]="stateService.selectedScan?.node.scanId" [obsScan]="assetScanData"
                (isAssetStory)="getStory($event)"></app-scanassets>
              <p></p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </app-card>
    </div>
  </div>
  <ng-template #scanError let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Scan info</h4>
    </div>
    <div class="modal-body">
      <ngb-tabset style="margin-top: 10px;" type="pills">
        <!-- ERRORS TAB -->
        <ngb-tab id="scanErrors" *ngIf="!!errorMsg">
          <ng-template ngbTabTitle>
            ERRORS
          </ng-template>
          <ng-template ngbTabContent>
            <perfect-scrollbar [style.max-height]="'500px'"
              [config]="{useBothWheelAxes: true, suppressScrollX: false, suppressScrollY: false}">
              <div style="display: inline-block; margin-top: 10px;">
                <pre style="text-align: left">{{errorMsg}}</pre>
              </div>
            </perfect-scrollbar>
          </ng-template>
        </ngb-tab>
        <!-- LOGS TAB -->
        <ngb-tab id="scanLogs" *ngIf="!!log">
          <ng-template ngbTabTitle>
            LOG
          </ng-template>
          <ng-template ngbTabContent>
            <perfect-scrollbar [style.max-height]="'500px'"
              [config]="{useBothWheelAxes: true, suppressScrollX: false, suppressScrollY: false}">
              <div style="display: inline-block; margin-top: 10px;">
                <pre style="text-align: left">{{log}}</pre>
              </div>
            </perfect-scrollbar>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-light" (click)="modal.close('click')">Close</button>
    </div>
  </ng-template>
  <ng-template #projectTags let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Project Tags</h4>
    </div>
    <div class="modal-body">
      <mat-chip-list #tagList>
        <mat-chip *ngFor="let tag of project.tags"
                 removable="true">
          {{tag}}
          <button type="button" class="btn btn-icon float-right" title="Remove Tag" (click)="removeProjectTag(project, tag)"
          style="color: #c9d0d5; padding: unset;">
            <i class="feather icon-x" style="font-weight: 800;"></i>
          </button>
        </mat-chip>
        <input placeholder="Project Tags..." class = "next-dark form-control place-holder"
               [matChipInputFor]="tagList" [(ngModel)]="projectTagInputValue"
               (matChipInputTokenEnd)="addProjectTagHandler(project, $event)">
      </mat-chip-list>
      <div class="hint-block">hit "enter" to add tag then "Save Project Tags" to save your changes</div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('click'); setProjectTags(project);">Save Project Tags</button>
      <button type="button" class="btn btn-outline-light" (click)="modal.close('click')">Close</button>
    </div>
  </ng-template>

</div>
