.matrix-chart {
    display: block;
    margin: 20px 0 0;

    .matrix-chart-card {
        width: 100%;
        padding: 15px;
        background: #202932;
        border: 1px solid #888888;
        height: 100%;

        .matrix-chart-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;

            h6 {
                font-size: 20px;
                color: #2DC6DB;
                font-weight: 400;
                margin: 0;
            }

            .graph-act {
                cursor: pointer;
            }
        }

        .matrix-chart-btm {
            width: 100%;
            display: flex;

            .matrix-chart-blk {
                width: 50%;

                img {
                    max-width: 100%;
                }
            }

            .matrix-chart-legend {
                width: 50%;
                padding-left: 10px;

                p {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 0 3px;
                    font-size: 14px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    span {
                        color: #fff;

                        &.red {
                            color: #FB5B5B;
                        }

                        &.orange {
                            color: #EE8144;
                        }

                        &.yellow {
                            color: #D2E032;
                        }

                        &.pink {
                            color: #DE3FD8;
                        }

                        &.skyblue {
                            color: #58C7C0;
                        }

                        &.lgt-yellow {
                            color: #C9E282;
                        }

                        &.lgt-green {
                            color: #26F08F;
                        }
                    }

                    small {
                        font-size: 14px;
                        color: #fff;
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}

.more-act {
    text-align: center;
    margin: 25px 0 0;
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;

    a {
        color: #fff;
        font-size: 20px;

        &:hover {
            color: #2DC6DB !important;
        }
    }
}

.matrix-dash-tab {
    margin: 40px 0 0;

    .dash-tab-form {
        padding: 15px;
        background: #445361;
        border: 1px solid #888888;

        .form-group {
            margin-bottom: 0;
        }

        .checkbox {
            &.checkbox-info {
                input[type=checkbox]+.cr:before {
                    width: 16px;
                    height: 16px;
                    margin-right: 5px;
                    font-size: 13px;
                    line-height: 12px;
                    position: relative;
                    top: -1px;
                }
            }
        }
    }
}

.vulnerabilites-data {
    margin-top: 20px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        .data-item {
            // display: flex;
            // flex-wrap: wrap;
            padding: 15px;
            background: #202932;
            border-left: 5px solid transparent;
            margin-bottom: 10px;
            line-height: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            &.high-data-card {
                border-color: #CE6262;
            }

            &.green-data-card {
                border-color: #11C15B;
            }

            p {
                font-size: 15px;
                color: #fff;
                font-weight: 300;
                margin-bottom: 0;
                line-height: 20px;
            }

            .vulner-data-lt {
                width: 100%;
                padding-right: 10px;

                .data-tag-ttl {
                    display: flex;
                    align-items: center;
                    width: 100%;
                }

                .data-code {
                    font-size: 16px;
                    font-weight: 700;
                    color: #fff;
                }

                .data-hdng {
                    font-size: 16px;
                    font-weight: 700;
                    color: #fff;
                    margin: 0 0 0 10px;
                }
            }

            .vulner-data-rt {
                width: 100%;
                display: flex;
                align-items: flex-end;
                flex-direction: column;

                .info-cols {
                    flex-direction: column;
                    font-size: 13px;
                    align-items: flex-start;
                    line-height: 18px;
                }
            }

            .component-fixed-box {
                display: flex;
                padding: 15px;
                border: 1px solid #888;

                .vulner-data-rt {
                    width: 40%;
                    align-items: flex-start;

                    &.vulner-sts-data {
                        width: 60%;
                    }
                }
            }

            .data-row {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 10px;
            }
        }
    }
}

.component-vulner-sts {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #fff;
        font-weight: 300;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }

        em {
            font-size: 12px;
            font-style: normal;
            color: #fff;
            border: 1px solid #818181;
            width: 18px;
            height: 18px;
            line-height: 18px;
            text-align: center;
            flex-shrink: 0;
            margin-right: 5px;
            font-weight: 700;
        }

        &.high {
            color: #FF0000;

            em {
                color: #FF0000;
            }
        }

        &.medium {
            color: #FF9900;

            em {
                color: #FF9900;
            }
        }
    }
}

.data-tag {
    display: inline-block;
    min-width: 60px;
    line-height: 28px;
    text-align: center;
    padding: 0 5px;
    font-size: 14px;
    color: #029eab;
    background: #1a4554;
    border-radius: 2px;
    margin-bottom: 0;
    flex-shrink: 0;

    &.red-tag {
        background: rgba(252, 16, 16, 0.2);
        color: #EC6755;
    }

    &.blue-tag {
        background: #1a4554;
        color: #00acc1;
    }

    &.purple-tag {
        background: #283b5b;
        color: #467ff8;
    }

    &.green-tag {
        background: rgba(17, 204, 17, 0.2);
        color: #11C15B;
    }
}

.info-cols {
    display: flex;
    font-size: 15px;
    color: #fff;
    align-items: center;
    font-weight: 300;

    small {
        color: #2DC6DB;
        margin-right: 5px;
        font-size: 15px;
    }
}

.action-btns {
    display: flex;
    align-items: center;

    .data-cta {
        min-width: 70px;
        line-height: 36px;
        text-align: center;
        padding: 0 10px;
        color: #fff;
        background: #2EA54F;
        font-size: 15px;
        text-align: center;

        &:hover {
            background: #128532;
        }

        &.ingore-cta {
            background: #818181;

            &:hover {
                background: #242E38;
            }
        }
    }
}

.mr-5 {
    margin-right: 5px;
}