<p-table [columns]="tabColumns" [value]="values" [paginator]="ispaginator" [rows]="rows"
    tableStyleClass="table table-striped table-bordered table-hover dataTable no-footer">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:60%">Repository</th>
            <th>Branch</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-selectedRepo>
        <tr>
            <td>
                <div *ngIf="!!selectedRepo.node;else repoName" style="float:left">{{selectedRepo?.node?.name}}</div>
                <ng-template #repoName>
                    <div style="float:left">{{selectedRepo.name}}</div>
                </ng-template>
            </td>
            <td>
                <div *ngIf="!!selectedRepo.node && selectedRepo?.node.refs.edges.length == 1;else branchName">
                    {{selectedRepo?.node.defaultBranchRef?.name}}
                </div>

                <ng-template #branchName>
                    <span *ngIf="!!selectedRepo.repository && !!selectedRepo.repository?.rootRef">{{selectedRepo.repository.rootRef}}</span>
                </ng-template>

                <div *ngIf="!!selectedRepo?.node && selectedRepo?.node.refs.edges.length > 1">
                    <select [(ngModel)]="selectedItem" (ngModelChange)="changeBranch($event)" class="form-control"
                        style="height:25px;padding:2px">
                        <option *ngFor="let branch of selectedRepo.node.refs.edges"
                            [selected]="branch.node.name == selectedRepo.node.defaultBranchRef?.name"
                            value='{{branch.node.name}}'>{{branch.node.name}}</option>
                    </select>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>