<div>
    <nav aria-label="breadcrumb" class="float-right">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin/role/list">Roles</a></li>
            <li class="breadcrumb-item active text-muted" aria-current="page">Role</li>
        </ol>
    </nav>
    <h1>Role</h1>
</div>


<app-messages [messages]="messages"></app-messages>


<ng-template [ngIf]="role != undefined">
    <div >
        <div class="form-group row">
            <label class="col-sm-2 font-weight-bolder">Role ID</label>
            <div class="col-sm-9">{{role.roleId}}</div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 font-weight-bolder">Description</label>
            <div class="col-sm-9">{{role.description}}</div>
        </div>
    </div>

    <div class="form-group row mb-0">
        <div class="col-sm-2 font-weight-bolder mb-1">Permissions</div>
        <div class="col-sm-9" *ngIf="!role.rolePermissions || role.rolePermissions.length === 0">
            {{role.roleId}} role has no permissions.
        </div>
        <div class="col-sm-12" *ngIf="!!role.rolePermissions && role.rolePermissions.length >= 1">
            <table class="table table-hover mb-0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let permission of role.rolePermissions">
                        <td>{{permission.name}}</td>
                        <td>{{permission.title}}</td>
                        <td>{{permission.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="actions mt-4">
        <a routerLink="/admin/role/edit/{{role.roleId}}" class="btn btn-outline-info">
            <i class="feather icon-edit"></i>
            Edit
        </a>

        <a routerLink="/admin/role/list" class="btn btn-outline-secondary">
            <i class="feather icon-list"></i>
            Back to list
        </a>

        <a (click)="removeRole()" class="btn btn-outline-danger float-right">
            <i class="feather icon-trash"></i>
            Delete
        </a>
    </div>
</ng-template>


<ng-template [ngIf]="role === undefined">
    <app-alert type="warning">Role not found.</app-alert>

    <a routerLink="/admin/role/list" class="btn btn-outline-secondary">
        <i class="feather icon-list"></i>
        Back to list
    </a>
</ng-template>
