<h1>Entity Manager</h1>
<div class="row">

    <div class="col-lg-4 col-md-4 col-sm-12 entiy-tree">
        <app-card [hidHeader]="true">
            <tree-root #tree [nodes]="entityTreeNodeList" [focused]="true" (initialized)="onTreeLoad($event)"
                (toggleExpanded)="onEvent($event)" (activate)="onEvent($event)" [options]="treeNodeOptions">
                <ng-template #treeNodeTemplate let-node let-index="index">
                    <span [ngClass]="node.data.classes">{{ node.data.name }} </span>&nbsp;
                </ng-template>
            </tree-root>


        </app-card>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12">

        <app-card [hidHeader]="true" *ngIf="!!selectedTreeNode.entityId">
            <div class="row col-12">
                <h4>Selected entity</h4>
            </div>
            <div class="row mt-20">
                <div class="col-12">
                    <form #entityForm="ngForm"
                        (ngSubmit)="entityForm.form.valid && entityForm.form.dirty && editEntity()">
                        <div class="form-group row">
                            <label for="entity" class="col-sm-3 col-form-label">Entity</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm" id="entity"
                                    [(ngModel)]="selectedTreeNode.name" #entityName="ngModel" name="entity"
                                    placeholder="Enter entity name" required />
                                <div class="invalid-form"
                                    *ngIf="entityForm.submitted || (entityName.errors && (entityName.dirty || entityName.touched))">
                                    <p *ngIf="entityName.errors && entityName.errors?.required">Entity name is
                                        required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="entityType" class="col-sm-3 col-form-label">Entity type</label>
                            <div class="col-sm-9">
                                <select class="form-control form-control-sm" id="entityType"
                                    [(ngModel)]="selectedTreeNode.entityType" #entityType="ngModel" name="entityType"
                                    required>
                                    <option value="" selected disabled>Select entity type</option>
                                    <option value="DASHBOARD">Dashboard</option>
                                    <option value="DIVISION">Divison</option>
                                    <option value="BUSINESS_UNIT">Business Unit</option>
                                    <option value="TEAM">Team</option>
                                </select>
                                <div class="invalid-form"
                                    *ngIf="entityForm.submitted || (entityType.errors && (entityType.dirty || entityType.touched))">
                                    <p *ngIf="entityType.errors && entityType.errors?.required">Entity type is
                                        required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-9 text-right actions">
                                <button *ngIf="!!selectedTreeNode.entityId" type="submit" class="btn btn-outline-info">
                                    <i class="feather icon-save"></i>&nbsp;
                                    Save
                                </button>&nbsp;&nbsp;
                                <button (click)="deleteEntity(selectedTreeNode)"
                                    *ngIf="!!selectedTreeNode.entityId && !selectedTreeNode.isProjects && !selectedTreeNode.isChildEntity"
                                    type="button" class="btn btn-outline-danger">
                                    <i class="feather icon-trash"></i>&nbsp;
                                    Delete
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </app-card>
        <app-card [hidHeader]="true" cardTitle="Child Entity">
            <div class="row">
                <div class="col-12 text-right actions">
                    <button type="button" class="btn btn-outline-info" (click)="addChildEntity()">
                        <i class="feather icon-plus"></i>
                        Add child entity
                    </button>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-12">
                    <div class="dt-responsive table-responsive">
                        <table datatable class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Child Entity Name</th>
                                    <th>Entity Type</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of childDataList">
                                    <td>{{data.name}}</td>
                                    <td>{{data.entityType}}</td>
                                    <td class="text-center">
                                        <div class="overlay-edit">
                                            <a class="text-success" (click)="editChildEntity(data)"><i
                                                    class="feather icon-edit fa-lg"></i></a>&nbsp;&nbsp;
                                            <!-- <a class="text-danger" (click)="deleteEntity(data)"
                                                *ngIf="!data.isChildEntity && !data.isProjects">
                                                <i class="feather icon-trash-2 fa-md"></i></a> -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row mt-20 text-center" *ngIf="!childDataList || childDataList.length == 0">
                <h5 class="col-12">{{selectedTreeNode.name}} has no child entities</h5>
            </div>

        </app-card>
    </div>

</div>