<div class="row entry-page">
    <div class="col-6 col-lg-6 col-xl-8 graph-background-col">
        <div><img class="logo" width="250" style="position: absolute;left: 50px;top:50px" src="/assets/images/website_logo_white-letters-transparent_background-large.png"></div>
        <div style="margin-left: 50px; ">
            <div class="graph-background" style="background-size: contain;width: 400px; height: 400px"></div>
            <div class="threatrix-title" style="color:white;text-align: left">

                <div class="row">
                    <div class="col-1">
                        <i class="fal fa-user" style="font-size: 30px;color: #41a8e3;"></i>
                    </div>
                    <div class="col-11">
                        <span style="padding-left:10px">Devs and small teams are free</span>
                    </div>
                </div>

                <div class="row" style="margin-top:20px;margin-bottom: 25px;">
                    <div class="col-1">
                        <i class="fal fa-users" style="font-size: 30px;color: #41a8e3;"></i>
                    </div>
                    <div class="col-11">
                        <span style="padding-left:10px">Large teams start free</span>
                        <br/>
                        <span style="padding-left:10px">and scale globally with ease</span>

                    </div>
                </div>

                <div class="signup-list-item">
                    <i class="far fa-play-circle p-r-10"></i>Get started in seconds
                </div>
                <div class="signup-list-item">
                    <i class="fal fa-tachometer-fast p-r-10"></i>Runs Scans instantly
                </div>
                <div class="signup-list-item">
                    <i class="fal fa-rocket-launch p-r-10"></i>Results in seconds
                </div>
                <div class="signup-list-item">
                    <i class="far fa-check-square p-r-10"></i>Easily automate scans for any build
                </div>
                <div class="signup-list-item">
                    <i class="fas fa-flag-checkered p-r-10"></i>Security and Compliance during build time. Done!
                </div>
                <hr style="border: 1px solid #41a8e3;margin-top:30px;margin-bottom: 30px">
                <div style="text-align: center">
                    <div style="color:white;margin-bottom: 30px;font-size: 17px">These companies trust their security and compliance to Threatrix*</div>
                    <img width="80px" style="margin-right:40px" src="assets/images/corp-logos/cyberdyne.png">
                    <img width="60px" style="margin-right:40px" src="assets/images/corp-logos/star-fleet.png">
                    <img width="60px" style="margin-right:40px" src="assets/images/corp-logos/robocop.png">
                    <img width="110px" style=""  src="assets/images/corp-logos/wayne.png">
                    <br/>
                    <br/>
                    <img width="150px" style="margin-right:40px" src="assets/images/corp-logos/stark.png">
                    <img width="120px"  src="assets/images/corp-logos/dunder.png">
                </div>
                <div style="margin-top:30px;font-size: 10px;color: white;text-align: right">*Your company coming soon!</div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-6 col-xl-4 white-col">

        <div>

            <!-- OAuth login -->
            <div class="caption-blue-underline mt-50">
                Create account with OAuth Authentication
                <a href="javascript:" [placement]="'auto'" [popoverTitle]="'OAuth Authentication'" ngbPopover="Login or sign up with your GitHub, GitLab, BitBucket or Google account.">
                    <i class="far fa-question-circle" ></i>
                </a>
            </div>
            <div>
                <app-alert type="warning" *ngIf="errorMessage">{{errorMessage}}</app-alert>
            </div>
            <div id="auth01" class="row" style="margin-bottom:20px">
                <div class="col-xl-6">
                    <a (click)="externalLogin('github_login', repoTypeDialog)" class="cursor-pointer">
                        <div class="auth-button"><i class="fab fa-github"></i></div>
                    </a>
                </div>
                <div title="Gitlab login coming soon!" class="col-xl-6">
                    <a  (click)="externalLogin('gitlab_login', repoTypeDialog)" class="cursor-pointer">
                        <div class="auth-button disabled"><i class="fab fa-gitlab"></i></div>
                    </a>
                </div>
            </div>
            <div id="auth02" class="row" style="margin-bottom:20px">
                <div title="Bitbucket login coming soon!" class="col-xl-6">
                    <a (click)="externalLogin('bitbucket_login', repoTypeDialog)" class="cursor-pointer disabled">
                        <div class="auth-button disabled"><i class="fab fa-bitbucket"></i></div>
                    </a>
                </div>
                <div title="Google login coming soon!" class="col-xl-6">
                    <a (click)="externalLogin('google_login', repoTypeDialog)" class="cursor-pointer disabled">
                        <div class="auth-button disabled"><i class="fab fa-google"></i></div>
                    </a>
                </div>
            </div>
            <div id="auth03" class="row mb-0">
                <div title="Docker login coming soon!" class="col-xl-6">
                    <a (click)="externalLogin('docker_login', repoTypeDialog)" class="cursor-pointer disabled">
                        <div class="auth-button disabled"><i class="fab fa-docker"></i></div>
                    </a>
                </div>
                <div title="Azure login coming soon!" class="col-xl-6">
                    <a (click)="externalLogin('azure_login', repoTypeDialog)" class="cursor-pointer disabled">
                        <div class="auth-button disabled"><img style="opacity: 0.25;padding-bottom: 3px" width="25px" src="assets/images/azure-gray.png"></div>
                    </a>
                </div>
            </div>
            <div class="hint-block">By clicking log in or signing up, you agree to our policies, including our <a href="https://threatrix.io/terms">Terms of Service</a> and <a href="https://threatrix.io/privacy">Privacy Policy</a></div>

            <div>
                {{errorMessage}}
            </div>

            <div class="caption-blue-underline mt-50">
                Create standard account
            </div>


            <form name="form" class="auth-form" (ngSubmit)="f.form.valid && createAccount()" #f="ngForm" novalidate>

                <!-- Company name -->
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !companyName.valid }">
                    <div class="input-group">
                        <input class="form-control fontAwesome" name="companyName" [(ngModel)]="model.companyName" 
                            [required] = "!inviteHash"
                            [ngClass]="{ 'disabled-input': !!inviteHash }"
                            #companyName="ngModel" placeholder="Company name ">
                        <div class="input-group-append" *ngIf = "!inviteHash">
                            <span class="input-group-text text-danger" id="basic-addon2"><i class="fa fa-asterisk"
                                    aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="text-danger" *ngIf="f.submitted && !companyName.valid">Company name is required</div>
                </div>

                <!-- Full name -->
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fullName.valid }">
                    <div class="input-group">
                        <input class="form-control" name="fullName" [(ngModel)]="model.fullName" #fullName="ngModel"
                            required placeholder="Full name *">
                        <div class="input-group-append">
                            <span class="input-group-text text-danger" id="basic-addon2"><i class="fa fa-asterisk"
                                    aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="text-danger" *ngIf="f.submitted && !fullName.valid">Full name is required</div>
                </div>

                <!-- Position -->
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !position.valid }">
                    <div class="input-group">
                        <input class="form-control" name="position" [(ngModel)]="model.position" #position="ngModel"
                            [required] = "!inviteHash" [placeholder]="(!!inviteHash)? 'Position': 'Position *'">
                        <div class="input-group-append"  *ngIf = "!inviteHash">
                            <span class="input-group-text text-danger" id="basic-addon2"><i class="fa fa-asterisk"
                                    aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="text-danger" *ngIf="f.submitted && !position.valid">Position is required</div>
                </div>

                <!-- Phone number -->
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone.valid }" [hidden] = "!!inviteHash">
                    <div class="input-group">
                        <input class="form-control" name="phone" [(ngModel)]="model.phone" #phone="ngModel" 
                            placeholder="Phone number">
                    </div>
                </div>

                <!-- Email -->
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                    <div class="input-group">
                        <input class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required
                            placeholder="Work Email *" [email]="true">
                        <div class="input-group-append">
                            <span class="input-group-text text-danger" id="basic-addon2"><i class="fa fa-asterisk"
                                    aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="text-danger" *ngIf="f.submitted && !email.valid">Valid email is required</div>
                </div>

                <!--
                    Password:
                        At least 8 characters in length
                        Lowercase letters
                        Uppercase letters
                        Numbers
                        Special characters

                        [pattern]="'(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}'"
                -->
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <div class="input-group">
                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password"
                            #password="ngModel" required placeholder="Password *"
                            [pattern]="'(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z0-9$@$!%*?&].{7,}'">
                        <div class="input-group-append">
                            <span class="input-group-text text-danger" id="basic-addon2"><i class="fa fa-asterisk"
                                    aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <!--<div class="text-danger" *ngIf="f.submitted && !password.valid">Password is required</div>-->
                    <div class="text-danger" *ngIf="f.submitted && password.errors && password.errors.required">Password
                        is required</div>
                    <div class="text-danger" *ngIf="f.submitted && password.errors && password.errors.pattern">
                        Password have to meet the following requirements:
                        <ul>
                            <li>At least 8 characters in length <br>(one of following: @$!%*?&)</li>
                            <li>Contains Lowercase letters</li>
                            <li>Contains Uppercase letters</li>
                            <li>Contains Numbers</li>
                            <li>Contains Special characters</li>
                        </ul>
                    </div>
                </div>

                <!-- Cover letter -->
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !coverLetter.valid }">
                    <textarea class="form-control" name="coverLetter" [(ngModel)]="model.coverLetter"
                        #coverLetter="ngModel" rows="4" [hidden] = "!!inviteHash"
                        placeholder="Please tell us a little bit about your interest in Threatrix."></textarea>
                    <div class="text-danger" *ngIf="f.submitted && !coverLetter.valid">Please tell us a little bit about
                        your interest in Threatrix.</div>
                </div>

                <!-- submit -->
                <button [disabled]="loading" class="btn btn-primary btn-block">Sign up</button>

                <div class="hint-block">By clicking log in or signing up, you agree to our policies, including our <a href="https://threatrix.io/terms">Terms of Service</a> and <a href="https://threatrix.io/privacy">Privacy Policy</a></div>

                <div class="text-center mt-3"><a href="javascript:" (click)="this.router.navigate(['/login'])">Back to
                        login page</a></div>
            </form>

        </div>
        <ng-template #repoTypeDialog let-modal>
            <div class="modal-header">
              <h3 class="modal-title" id="modal-basic-title">Choose the available types of repositories</h3>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Repository types</h5>
                    <div class="form-group">
                        <div class="radio radio-primary d-inline">
                            <input [(ngModel)]="choosenRepoType" type="radio" value="private" name="choosenRepoType-private" id="choosenRepoType-private">
                            <label for="choosenRepoType-private" class="cr">Public and private repositories.</label>
                            <p class="m-l-30 m-b-0">Public and private repositories will be available for processing </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="radio radio-primary d-inline">
                            <input [(ngModel)]="choosenRepoType" type="radio" value="public" name="choosenRepoType-public" id="choosenRepoType-public">
                            <label for="choosenRepoType-public" class="cr">Only public repositories.</label>
                            <p class="m-l-30 m-b-0">Only your public repositories will be available for processing</p>
                        </div>
                    </div>
       
                </div>
            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="modal.close('click'); setGithubRepoType();">OK</button>
              <button type="button" class="btn btn-secondary" (click)="modal.close('click')">Cancel</button>
            </div>
          </ng-template>
    </div>
</div>
