.disabled {
    color: #e6e6e6;
    cursor: not-allowed;
    text-decoration: underline;
    pointer-events: none;
}

.disabled-input {
    color: #a4a4a4;
    cursor: not-allowed;
    pointer-events: none;
}
