.disabled {
    color: #e6e6e6;
    cursor: not-allowed;
    text-decoration: underline;
    pointer-events: none;
}

.disabled-input {
    color: #a4a4a4;
    cursor: not-allowed;
    pointer-events: none;
}
.signup-list-item {
    color: #41a8e3;
    padding-top: 20px;
    font-size: 20px;
}
.signup-teams {
    font-size: 25px;
    color:white;
    padding-bottom:30px;
}
