<p-table #dt [columns]="tabColumns" [value]="values" [paginator]="ispaginator" [rows]="rows" selectionMode="single"
    [(selection)]="selectedRepos" tableStyleClass="table table-striped table-bordered table-hover dataTable no-footer"
    [filterDelay]="filterDelay" [globalFilterFields]="globalFilterFields" (onRowSelect)="onRowSelect($event)"
    (onRowUnselect)="onRowUnselect($event)">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:70%">Repository</th>
            <th *ngIf="isLanguage">Language</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-repo let-rowIndex="rowIndex">
        <tr [pSelectableRow]="repo" [pSelectableRowIndex]="rowIndex">
            <td style="width:70%">
                <div *ngIf="!!repo.node;else reponame" style="float:left">{{repo.node['name']}}</div>
                <ng-template #reponame>
                    <div style="float:left">{{repo['name']}}</div>
                </ng-template>
            </td>
            <td *ngIf="isLanguage">
                <div *ngIf="!!repo.node && !!repo.node.primaryLanguage;else repoLang">
                    {{repo.node.primaryLanguage['name']}}
                </div>
                <ng-template #repoLang>
                    <div style="float:left">{{repo?.language}}</div>
                </ng-template>
            </td>
        </tr>
    </ng-template>
</p-table>