.badge-light-COPYLEFT_STRONG {
    background: rgba(255, 82, 82, 0.2);
    border-color: #ffcfcf;
    color: #ff5252;
}

.badge-light-PERMISSIVE {
    background: rgba(17, 193, 91, 0.2);
    border-color: #bceed1;
    color: #11c15b;
}
