.actions {
    .btn {
        min-width: 120px;
        margin-left:  4px;
        margin-right: 4px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.btn-xs {
    padding: 0.2rem 0.5rem 0.1rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.2;
    border-radius: 1px;
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 15px;
}
