// PROJECT DASHBOARD CHART STYLES

.chart-class {
    filter: saturate(70%) !important;
}

.project-chart-blk {
    .apexcharts-legend {
        display: none;
    }

    .proj-t-card {
        overflow: inherit;
    }

    .card {
        margin-bottom: 15px;
    }
}

.proj-t-card {
    overflow: inherit;
}

.arrow_box {
    position: relative;
    background: #fff;
}

.arrow_box:after,
.arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(85, 85, 85, 0);
    border-right-color: #555;
    border-width: 10px;
    margin-top: -10px;
}

.arrow_box:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000000;
    border-width: 13px;
    margin-top: -13px;
}

.chart-overlay {

    border-radius: 4px;
    font-size: 14px;
    color: #000;
    text-align: center;
    min-width: 130px;
    white-space: initial;

    .active-fig {
        padding: 5px;
        background: rgba(0, 0, 0, 0.1);
        color: #000;
        font-size: 16px;
        border-radius: 4px;
        display: block;
        width: 100%;
    }


    ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding-left: 0;
        list-style: none;
        margin: 0;
        padding: 10px;
        flex-direction: column;

        li {
            //width: 50%;
            position: relative;
            padding: 0 0 0 15px;
            font-size: 14px;
            color: #000;
            margin: 5px 0;
            text-align: left;
            //word-break: break-all;

            &:after {
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 5px;
                background: #f2f2f2;
            }

            &:nth-child(2n) {
                padding-right: 0;
            }

            &.red:after {
                background: rgb(255, 43, 43);
            }

            &.orange:after {
                background: rgb(255, 82, 82);
            }

            &.yellow:after {
                background: rgb(255, 162, 29);
            }

            &.lgt-blue:after {
                background: rgb(0, 172, 193);
            }

            &.green:after {
                background: rgb(0, 227, 150);
            }

            &.blue::after {
                background: rgb(70, 128, 255);
            }

            &.pink::after {
                background: rgb(199, 21, 133);
            }

            &.white::after {
                background: rgb(248, 248, 255);
            }

        }
    }
}

//Project dashboard chart styles End
////////////////////////////////////////////////////////////////

//Entity Page Chart Style
.entity-chart-tabbing {
    .nav-tabs {
        display: table;
        margin: 0 auto;
        border-radius: 2px;
        padding: 7px;
        background: #242e38;

        .nav-item {
            margin: 0 3px;
            display: inline-block;

            .nav-link {
                box-shadow: none;
                min-width: 50px;
                line-height: 20px;
                text-align: center;
                padding: 0 10px;
                background: #32404e !important;

                &.active,
                &:hover {
                    background: #4680ff !important;
                    border-color: #4680ff !important;
                }


            }
        }
    }

    .tab-content {
        box-shadow: none !important;

        .tab-info-text {
            margin-bottom: 0;
        }
    }
}

body.next-dark .entity-chart-tabbing .nav-tabs .nav-item .nav-link:hover {
    background: #4680ff !important;
    border-color: #4680ff !important;
}

.entity-chart-row {
    margin-top: 10px;
    padding: 10px 0 0;

    .entity-chart-blk {
        flex: 0 1 20%;
        max-width: 20%;
        padding: 0 5px;
    }

    .proj-t-card {
        .card-body {
            padding: 10px;
            min-height: 200px;
            height: 200px;

            // app-apex-chart {
            //     div:first-of-type {
            //         // height: 125px !important;
            //         // min-height: inherit !important;
            //     }
            // }
        }
    }

    .apexcharts-canvas {
        transform: scale(0.6);
        -webkit-transform-origin: top center;
        transform-origin: top center;

        svg {
            overflow: inherit;
        }
    }

    .card {
        margin-bottom: 15px;
    }
}

.entity-ttl {
    margin-bottom: 3px;
}

.entity-btns {
    .btn {
        padding: 0.25rem 0.5rem;
    }
}


.ui-treetable .ui-treetable-thead>tr>th,
.ui-treetable .ui-treetable-tbody>tr>td,
.ui-treetable .ui-treetable-tfoot>tr>td {
    padding: 5px 7px;
    height: 40px;
    font-size: 14px;
    font-family: "Mada", sans-serif;
    line-height: 16px;
}

.ui-treetable .ui-treetable-thead>tr>th {
    background: #2e3d48;
    font-weight: 400;
    position: relative;

    &:nth-child(2) {
        padding-left: 15px;
    }

    &.lg-col {
        width: 270px;
    }

    &.type-col {
        width: 115px;
    }

    &.projects-col {
        width: 75px;
    }

    &.license-risk-col {
        width: 85px;
    }
}

.ui-treetable .ui-treetable-toggler {
    font-size: 10px;
    top: 0;
    margin-right: 3px;
}

.ui-treetable {
    .ui-treetable-tbody {
        tr {
            td {
                font-size: 13px;
                padding: 2px 7px;
                height: 34px;

                &:first-child {
                    border-right: 1px solid #1082fe;
                }

                &:nth-child(2) {
                    padding-left: 15px;
                }

                .tree-data-parent {
                    display: flex;
                    align-items: flex-start;
                    position: relative;

                    .tree-tbl-icn {
                        position: absolute;
                        right: 0;
                        top: 3px;
                    }
                }
            }

            &:first-child {
                td {
                    padding-top: 5px;
                }
            }
        }
    }
}


//Entity Page Organization chart
.ui-organizationchart {
    padding: 30px;
    overflow-x: auto;
    display: block;
    width: 100%;

    .ui-organizationchart-table {

        // margin: 30px auto !important;
        tr {
            td {

                .node-header {
                    color: rgba(255, 255, 255, 0.8);
                    padding: 5px;
                    border-radius: 0;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-width: 260px;
                    font-weight: 500;
                    font-size: 14px;
                    width: 100%;
                    border-bottom: 1px solid #4a4c4f;
                    margin-bottom: 10px;
                    max-height: 38px;
                    height: 38px;
                    transition: all 0.3s ease-in-out;
                    line-height: 18px;
                    position: absolute;
                    // top: 15px;
                    top: 3px;
                    left: 0;
                    background: #242e38;
                    z-index: 11;

                    span {
                        display: block;
                        width: 100%;
                    }

                    &.node-header-lg {
                        align-items: flex-start;
                        span {
                            display: block;
                        }

                        &:after {
                            content: '';
                            width: 100%;
                            height: 16px;
                            background-image: linear-gradient(rgba(36, 46, 56, 0.5), rgba(36, 46, 56, 1));
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }

                        &:hover {
                            overflow: inherit;
                            max-height: 500px;
                            height: auto;
                            transition: all 0.3s ease-in-out;

                            &:after {
                                height: 16px;
                                background-image: linear-gradient(rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.01));
                                bottom: -16px;
                            }
                        }
                    }


                }

                .ui-organizationchart-node-content {
                    // max-width: 100%;
                    background: #242e38;
                    // min-width: 220px;
                    border-radius: 2px;
                    padding: 50px 5px 5px 5px;
                    color: #adb7be;
                    font-size: 12px;
                    height: 100%;
                    border: 1px solid #4a4c4f;

                    p {
                        color: #adb7be;
                        font-size: 12px;
                        text-align: left;
                        margin-bottom: 6px;
                    }
                }

                .no-data-text {
                    display: block;
                    width: 100%;
                    margin: 0px 0 0;

                    p {
                        font-size: 11px;
                        color: #adb7be;
                        margin: 0;
                    }
                }

                .chart-hdr-box {
                    // display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 250px;
                    padding: 0px 8px 0px 8px;
                    div {
                        margin: 2px 0 6px 0;
                    }

                    .count-blk {
                        border-radius: 2px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 5px;

                        p {
                            color: rgba(255, 255, 255, 0.4);
                            font-size: 12px;
                        }

                        &.vulnerabilities-col {
                            color: #ffa21d;
                        }

                        &.license-col {
                            color: #d61bad;
                        }

                        &.components-col {
                            color: #00acc1;
                        }

                        &.assets-col {
                            color: #4680ff;
                        }

                        p {
                            margin: 0 5px 0 0;
                        }


                    }
                }
            }

        }
    }
}

.ui-organizationchart .ui-organizationchart-line-down {
    background: rgba(255, 255, 255, 0.06);
}

.ui-organizationchart .ui-organizationchart-line-top {
    border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.ui-organizationchart .ui-organizationchart-line-left {
    border-right: 1px solid rgba(255, 255, 255, 0.06);
}

.ui-organizationchart .ui-organizationchart-line-left {
    border-right: 1px solid rgba(255, 255, 255, 0.06);
}

.ui-organizationchart .ui-organizationchart-node-content .ui-node-toggler {
    position: absolute;
    bottom: -13px;
    margin: 0 auto;
    z-index: 2;
    left: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #242e38;
    width: 22px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 50% 50%;
    left: 0;
    right: 0;
}

.sparkline-chart-blk {
    display: flex;
    align-items: center;

    span {
        margin-right: 10px;
    }
}

.ui-organizationchart .ui-organizationchart-table>tr>td {
    padding: 0 5px;
    min-width: 85px;
}


.tree-table-card {
    position: relative;

    .type-icon {
        position: absolute;
        bottom: -25px;
        right: 10px;
        font-size: 14px;
    }
}

.supply-chart {
    svg {
        height: 130px;
    }

    .apexcharts-canvas {
        height: auto !important;
    }
}

.supply-external-class {
    div {
        &:first-child {
            min-height: inherit !important;
        }
    }
}

.tooltip-inner {
    background: #2e3944;
}

.tooltip .arrow:before {
    border-top-color: #2e3944 !important;
}

.tree-spinner {
    margin-top: 50px;
    margin-bottom: 50px;

    .mat-progress-spinner circle,
    .mat-spinner circle {
        stroke: #6078ea !important;
        height: 50px;
        width: 50px;
    }
}

.entity-table-overflow-tooltip {
    .ng-trigger-collapsedCard {
        overflow: inherit !important;
    }
}

//Added tooltip border 1px to donut chart tooltip
.entity-chart-blk .apexcharts-tooltip-series-group {
    border: 1px solid #adb7be;
    box-shadow: 0 -1px 0px 0px black inset;
}

@media screen and (min-width: 1280px) and (max-width: 1366px) {
    .org-chart {
        perfect-scrollbar {
            max-height: 550px !important;
        }

        .table-card {
            margin-bottom: 0;
        }
    }

    .org-tree-selected-card {
        height: auto;
        margin-bottom: 0;
    }

    .org-tree-selected-card {
        height: auto;
    }

}

@media screen and (min-width: 1800px) and (max-width: 3200px) {
    .org-chart {
        perfect-scrollbar {
            max-height: 3000px !important;
        }

        .pcoded-content {
            padding-bottom: 30px;
        }
    }

    .org-tree-selected-card {
        height: auto;
        margin-bottom: 0;
    }

    .org-tree-selected-card {
        height: auto;
    }

}