// PROJECT DASHBOARD CHART STYLES

.chart-class {
    filter: saturate(70%) !important;
}

.project-chart-blk {
    .apexcharts-legend {
        display: none;
    }

    .proj-t-card {
        overflow: inherit;
    }

    .card {
        margin-bottom: 15px;
    }
}

.proj-t-card {
    overflow: inherit;
}

.arrow_box {
    position: relative;
    background: #fff;
}

.arrow_box:after,
.arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(85, 85, 85, 0);
    border-right-color: #555;
    border-width: 10px;
    margin-top: -10px;
}

.arrow_box:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000000;
    border-width: 13px;
    margin-top: -13px;
}

.chart-overlay {

    border-radius: 4px;
    font-size: 14px;
    color: #000;
    text-align: center;
    width: 250px;
    white-space: initial;

    .active-fig {
        padding: 5px;
        background: rgba(0, 0, 0, 0.1);
        color: #000;
        font-size: 16px;
        border-radius: 4px;
        display: block;
        width: 100%;
    }


    ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding-left: 0;
        list-style: none;
        margin: 0;
        padding: 10px;

        li {
            width: 50%;
            position: relative;
            padding: 0 15px 0 20px;
            font-size: 14px;
            color: #000;
            margin: 5px 0;
            text-align: left;
            word-break: break-all;

            &:after {
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 5px;
                background: #f2f2f2;
            }

            &:nth-child(2n) {
                padding-right: 0;
            }

            &.red:after {
                background: rgb(255, 43, 43);
            }

            &.orange:after {
                background: rgb(255, 82, 82);
            }

            &.yellow:after {
                background: rgb(255, 162, 29);
            }

            &.lgt-blue:after {
                background: rgb(0, 172, 193);
            }

            &.green:after {
                background: rgb(0, 227, 150);
            }

            &.blue::after {
                background: rgb(70, 128, 255);
            }

            &.pink::after {
                background: rgb(199, 21, 133);
            }

            &.white::after {
                background: rgb(248, 248, 255);
            }

        }
    }
}

//Project dashboard chart styles End
////////////////////////////////////////////////////////////////

//Entity Page Chart Style
.entity-chart-tabbing {
    .nav-tabs {
        display: table;
        margin: 0 auto;
        border-radius: 2px;
        padding: 7px;
        background: #242e38;
  
        .nav-item {
          margin: 0 3px;
          display: inline-block;
          .nav-link {
            box-shadow: none;
            min-width: 80px;
            line-height: 27px;
            text-align: center;
            padding: 0 10px;
            background: #32404e !important;
  
            &.active, &:hover {
              background: #4680ff !important;
              border-color: #4680ff !important;
            }
  
  
          }
        }
    }
  
    .tab-content {
      box-shadow: none !important;
  
      .tab-info-text {
        margin-bottom: 0;
      }
    }
  }
  
  body.next-dark .entity-chart-tabbing .nav-tabs .nav-item .nav-link:hover {
    background: #4680ff !important;
    border-color: #4680ff !important;
  }
  
  .entity-chart-row {
    padding: 10px 0 0;
  
    .proj-t-card {
      .card-body {
        padding: 10px;
  
        app-apex-chart {
          div:first-of-type {
            height: 150px;
            min-height: inherit !important;
          }
        }
      }
    }
  
    .apexcharts-canvas {
      transform: scale(0.75);
      -webkit-transform-origin: top center;
      transform-origin: top center;
      svg {
          overflow: inherit;
      }
    }
  
    .card {
      margin-bottom: 15px;
    }
  }
  
  .entity-ttl {
    margin-bottom: 3px;
  }
  
  .entity-btns {
    .btn {
      padding: 0.25rem 0.5rem;
    }
  }


  .ui-treetable .ui-treetable-thead>tr>th, .ui-treetable .ui-treetable-tbody>tr>td, .ui-treetable .ui-treetable-tfoot>tr>td {
    padding: 5px 7px;
    height: 40px;
    font-size: 14px;
    font-family: "Mada", sans-serif;
    line-height: 16px;
}

.ui-treetable .ui-treetable-thead>tr>th {
    background: #2e3d48;
    font-weight: 400;

    &:nth-child(2) {
        padding-left: 15px;
    }

    &.lg-col {
        width: 270px;
    }

    &.type-col {
        width: 115px;
    }

    &.projects-col {
        width: 75px;
    }

    &.license-risk-col {
        width: 85px;
    }
}

.ui-treetable .ui-treetable-toggler {
    font-size: 10px;
    top: 0;
    margin-right: 3px;
}

.ui-treetable {
    .ui-treetable-tbody {
        tr {
            td {
                font-size: 13px;
                padding: 2px 7px;
                height: 34px;

                &:first-child {
                    border-right: 1px solid #1082fe;
                }

                &:nth-child(2) {
                    padding-left: 15px;
                }

                .tree-data-parent {
                    display: flex;
                    align-items: flex-start;
                }
            }

            &:first-child {
                td {
                    padding-top: 5px;
                }
            }
        }
    }
}


//Entity Page Organization chart
.ui-organizationchart {
    padding: 30px;
    .ui-organizationchart-table {
        // margin: 30px auto !important;
        tr {
            td {

                .node-header  {
                    color: rgba(255,255,255,0.8);
                    background: #2e3944;
                    padding: 5px;
                    border-radius: 2px;
                }
                .ui-organizationchart-node-content {
                    // max-width: 100%;
                    background: #242e38;
                    // min-width: 220px;
                    border-radius: 2px;
                    padding: 5px;
                    color: #adb7be;
                    font-size: 12px;

                    p {
                        color: #adb7be;
                        font-size: 12px;
                    }
                }

                .chart-hdr-box {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .count-blk {
                        border-radius: 2px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        padding: 5px 5px 0;
                        margin: 0 5px;

                        p {
                            color: rgba(255,255,255,0.4);
                            font-size: 12px;
                        }

                        &.vulnerabilities-col {
                            color: #ffa21d;
                        }

                        &.license-col {
                            color: #d61bad;
                        }

                        &.components-col {
                            color: #00acc1;
                        }

                        &.assets-col {
                            color: #4680ff;
                        }

                        p {
                            margin: 0 0 5px 0;
                        }

                        span {
                            color: 12px;
                            font-weight: 700;
                        }

                    }
                }
            }

        }
    }
}

.ui-organizationchart .ui-organizationchart-line-down {
    background: rgba(255,255,255,0.06);
}

.ui-organizationchart .ui-organizationchart-line-top {
    border-top: 1px solid rgba(255,255,255,0.06);
}

.ui-organizationchart .ui-organizationchart-line-left {
    border-right: 1px solid rgba(255,255,255,0.06);
}
.ui-organizationchart .ui-organizationchart-line-left {
    border-right: 1px solid rgba(255,255,255,0.06);
}

.ui-organizationchart .ui-organizationchart-node-content .ui-node-toggler {
    position: absolute;
    bottom: -13px;
    margin: 0 auto;
    z-index: 2;
    left: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #242e38;
    width: 22px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 50% 50%;
    left: 0;
    right: 0;
}

/////////////////////////================Entity Page style End================//////////////