.form-filter {
    input[name=q] {
        min-width: 250px;
    }
}

// dark theme styles
body.next-dark {

    // Common Input,Button, select dropdown and other input controls styles
    .input-group-text {
        background: #586580;
        border-color: #7a8085;
    }

    button {
        &:focus {
            box-shadow: 0 0 0.4rem 0.15rem rgba(20, 177, 255, 0.5);
        }

        &.btn-outline-warning:focus {
            box-shadow: 0 0 0.4rem 0.15rem rgba(255, 157, 20, 0.5);
        }
    }

    select {
        &:focus {
            //box-shadow: 0 1px 20px 0 rgba(255, 255, 255, 0.16);
            //box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
            box-shadow: 0 0 0.4rem 0.15rem rgba(20, 177, 255, 0.5);
        }
    }

    input.form-control {
        //background: #586580;
        border: 1px solid #7a8085 !important;
        &:focus {
            //box-shadow: 0 1px 20px 0 rgba(255, 255, 255, 0.16);
            //box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
            box-shadow: 0 0 0.4rem 0.15rem rgba(20, 177, 255, 0.5);
        }
    }

    .table {
        .ui-dropdown {
            background: #2a3641;
            border: 1px solid #6c757d;
            height: 35px;
            border-radius: 2px;
            padding: 0 1.95rem 0 0.95rem;

            &.ui-state-focus {
                box-shadow: 0 0 0.4rem 0.15rem rgba(20, 177, 255, 0.5);
            }

            .ui-dropdown-trigger-icon {
                margin-top: -.4em;
                background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%238796a3' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat center;
                width: 7px;
                height: 14px;

                &:before {
                    display: none;
                }
            }

            &:hover {
                background: #6c757d;
                border-color: #6c757d;
                color: #fff;

                .ui-dropdown-trigger-icon {
                    color: #fff;
                }
            }

            .ui-dropdown-label {
                height: 100%;
                line-height: 29px;
            }
        }

        .ui-dropdown-panel {
            background: #2a3641;
            border-color: #6c757d;
            box-shadow: none;
        }

        .ui-dropdown-panel .ui-dropdown-items-wrapper {
            background: #6c757d;
        }

        .ui-dropdown-panel .ui-dropdown-list {
            padding: 0;
        }

        .ui-dropdown-panel .ui-dropdown-item {
            font-size: 14px;
            color: #fff;
            padding: 0 15px;
            line-height: 22px;

            &:hover {
                background: #0094fc;
            }
        }
    }

    select.form-control {
        cursor: pointer;
        border-color: #6c757d;
        // transition: background 0.3s ease-in-out;

        &:hover {
            color: #fff;
            background-color: #6c757d;
            border-color: #6c757d;
        }
    }

    .custom-select {
        background: #2a3641 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%238796a3' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.95rem center/8px 10px;
        transition: none !important;

        option {
            background: #8a8f94;
            color: #fff;
        }
        optgroup{
            background: #8a8f94;
            color: #fff;
        }
    }
}
