.form-filter {
    input[name=q] {
        min-width: 250px;
    }
}

// dark theme styles
body.next-dark {
    select.form-control {
        cursor: pointer;
        border-color: #6c757d;

        &:hover {
            color: #fff;
            background-color: #6c757d;
            border-color: #6c757d;
        }
    }
}
