// dark theme colors fixes
// todo: consider to move following color fixes to common styles
body.next-dark {

    .input-group-text {
        background: #586580;
        border-color: #7a8085;
    }

    button {
        &:focus {
            box-shadow: 0 0 0.4rem 0.15rem rgba(20, 177, 255, 0.5);
        }

        &.btn-outline-warning:focus {
            box-shadow: 0 0 0.4rem 0.15rem rgba(255, 157, 20, 0.5);
        }
    }

    select {
        &:focus {
            //box-shadow: 0 1px 20px 0 rgba(255, 255, 255, 0.16);
            //box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
            box-shadow: 0 0 0.4rem 0.15rem rgba(20, 177, 255, 0.5);
        }
    }

    input.form-control {
        //background: #586580;
        border: 1px solid #7a8085 !important;
        &:focus {
            //box-shadow: 0 1px 20px 0 rgba(255, 255, 255, 0.16);
            //box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
            box-shadow: 0 0 0.4rem 0.15rem rgba(20, 177, 255, 0.5);
        }
    }
}


// FILTER -------------------------------------------------------------------------------------------------
.report-filter {
    .report-filter-row {
        display: flex;
        align-items: flex-start;
        margin-bottom: 15px;


        > * {
            margin-right: 20px;
        }

        .date-interval {
            .date-fields {
                display: flex;
                align-items: center;
                > div {
                    margin-right: 20px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        label {
            justify-content: left;
            margin-bottom: 4px;
        }

        .form-group {
            margin-bottom: 0;
        }



        > button {
            margin-top: 25px;
        }

        &.filter-actions {
            button {
                margin-top: 0;
            }
        }

        .slider-box {
            margin-right: 30px;
            min-width: 200px;
            .ng2-nouislider {
                margin-top: 7px;
            }
        }

        .report-include-checkboxes {
            display: flex;
            > div {
                margin-top: 5px;
            }
            .checkbox {
                margin-right: 15px;
                label:before {
                    margin-right: 5px;
                }
            }
        }
    } // report-filter-row

    .input-date {
        width: 105px;
    }


    button.btn {
        min-width: 120px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    .ngb-dp-header {
        button.btn {
            min-width: auto;
        }
    }

    select.form-control {
        min-width: 150px;
    }

    .input-group {
        flex-wrap: nowrap;
    }

    .tree-box {
        .dropdown-menu {
            color: #7c8294;
        }
    }


} // report-filter



// ACTIONS -------------------------------------------------------------------------------------------------
.report-primary-actions {
    text-align: left;
    margin: 3rem 0 3rem 0;

    button {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }

        &.btn-lg {
            //padding: 0.5rem 1rem;
            //padding: 0.375rem 0.95rem;
            padding: 0.55rem 1.2rem;
            font-size: 1.1rem;
            line-height: 1.2;
            border-radius: 2px;
        }

        &.btn-outline-danger {
            //color: #EB1000;
            color: #eb3b2f;
            border-color: #eb3b2f;

            &:hover {
                color: #fff;
                background-color: #eb3b2f;
                border-color: #eb3b2f;
            }
        }

        &.btn-outline-success {
            color: #1ba566;
            border-color: #1ba566;

            &:hover {
                color: #fff;
                background-color: #1ba566;
                border-color: #1ba566;
            }
        }
    }
} // report-primary-actions



// PREVIEW -------------------------------------------------------------------------------------------------
.report-preview {
    background: #242e38;

    //margin-top: 2rem;
    padding: 0 0 2rem 0;



    > .container {
        padding: 0;
    }

    .report-preview-close {
        display: none;
        position: fixed;
        top: 3px;
        right: 5px;
        font-size: 26px;
        z-index: 3001;
        > i {
            cursor: pointer;
        }
    }

    &.open {
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        overflow-y: scroll;
        z-index: 3000;
        padding: 2rem 0 2rem 0;

        .report-preview-close {
            display: block;
        }

        .report-logos, .report-title, .report-totals {
            display: block;
        }

        .report-data-preview-caption {
            display: none;
        }
    }



    .report-logos {
        display: none;

        img {
            max-height: 40px;
            height: 40px;
        }

        > div > div:last-child {
            text-align: right;
        }
    }

    .report-title {
        display: none;

        text-align: center;
        font-size: 2.5rem;
        font-weight: 200;
        text-transform: uppercase;
        margin-top: 3.5rem;
        margin-bottom: 5rem;

        > .report-date {
            font-size: 0.85rem;
            font-weight: 500;
            font-style: italic;
        }
    }

    .report-totals {
        display: none;

        margin-bottom: 2rem;

        .bg-total {
            background-color: #394959;
            border: 1px solid #5a738c;
        }

        .card-body {
            font-size: 1.25rem;
        }

        .severities {
            margin-top: 1rem;
            text-align: center;
            font-size: 1rem;

            label {
                display: block;
                font-size: 1.25rem;
                font-weight: 200;
                text-transform: uppercase;
            }

            .badge {
                font-size: 1.1rem;
                margin-right: 3px;
                margin-left: 20px;
                border-width: 1px;

                &.badge-light-danger {
                    border: 1px solid #ff5252;
                }
                &.badge-light-warning {
                    border: 1px solid #ffa21d;
                }
                &.badge-light-success {
                    border: 1px solid #11c15b;
                }
                &.badge-light-info {
                    border: 1px solid #00acc1;
                }
                &.badge-light-primary {
                    border: 1px solid #4680ff;
                }
            }
        }
    }// report-totals

    .report-data {
        .entity-caption {
            font-size: 1.5rem;
            padding: 0 1px 0;
            margin: 2rem 0 0.5rem;
        }

        td.no-padding {
            .alert {
                margin: 0;
            }
        }
    }


} // report-preview
