  <div *ngIf='obsScanComponent | async as scanComponent;'>

    <div class="row" style="margin-bottom:20px">
      <div class="col-md-12" *ngIf="!!breadcumDetail">
        <span style="font-size:15px">
            <a class="cursor-pointer" [routerLink]="['/dashboard/entity']"><i class="far fa-building"></i>&nbsp;{{breadcumDetail.SelectedEntity.name}}</a> /
            <a class="cursor-pointer" (click)="gotoProject()">{{breadcumDetail.SelectedProject.name}}</a> /
            <a  *ngIf="breadcumDetail.SelectedLicense && licenseId" class="cursor-pointer" (click)="gotoLicense()">{{breadcumDetail.SelectedLicense.name}}/</a> 
            <span style="color: #ffffff;">{{component.name}}</span>
          </span>
      </div>

    </div>

    <div class="row" style="margin-bottom:40px">
      <div class="col-md-6">
        <h3><span style="font-size:15px">{{component.group}}</span> | {{component.name}}</h3>
        Version: <span title="Info" class="badge m-r-5 badge-light-primary">{{component.version}}</span>
        Released: <span title="Info" class="badge m-r-5 badge-light-primary">{{scanComponent.releaseDate | date:'MMM dd, yyyy'}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ngb-tabset type="pills" class="tab-card" [activeId]="stateService.component_tabs_selectedTab" (tabChange)="onTabChange($event)">

          <!-- VULNERABILITIES TAB -->
          <ngb-tab title="Vulnerabilities" id="vulnerabilities">
            <ng-template ngbTabContent>
                <app-card cardClass="mb-0" [hidHeader]="true" blockClass="align-items-center justify-content-between">
                  <div class="row">
                    <perfect-scrollbar [style.max-height]="'650px'">
                      <p-table #dt [columns]="vulnerabilityColumns" [value]="vulnerabilityDetails.edges" [paginator]="false" [rows]="50"
                        tableStyleClass="table table-striped table-bordered table-hover dataTable no-footer table-width"
                        [autoLayout]="true" [globalFilterFields]="['vulnId','cwe.name']">
                  
                        <ng-template pTemplate="caption">
                          <!-- <div style="display: flex;text-align: left">
                                            <div style="flex: 50%;font-weight:bold">
                  
                                            </div>
                                            <div style="flex: 50%;text-align: right">
                                              <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                              <input type="text" class="form-control" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;display:inline">
                                            </div>
                                          </div> -->
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th *ngFor="let col of columns">
                              {{col}}
                            </th>
                          </tr>
                        </ng-template>
                  
                        <ng-template pTemplate="body" let-vulnerability>
                          <tr (click)="gotoOtherDetailsPage(vulnerability?.node.vulnerabilityId,'vulnerability')" class="cursor-pointer">
                            <td><span class="badge m-r-5 badge-light-info">{{vulnerability?.node.source}}</span>
                              {{vulnerability?.node.vulnId}}</td>
                            <td><span *ngIf="vulnerability?.node.cwe"> CWE-{{vulnerability?.node.cwe?.cweId}} :
                                {{vulnerability?.node.cwe?.name}}</span></td>
                            <td>{{vulnerability?.node.severity}}</td>
                            <td>{{vulnerability?.node.cvssV2BaseScore}}</td>
                            <td>{{vulnerability?.node.cvssV3BaseScore | number : '1.1-1'}}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </perfect-scrollbar>
                  
                  
                    <div class="col-sm-12" *ngIf="vulnerabilityDetails.edges.length >= 1">
                      <mat-paginator [hidePageSize]="false" [disabled]="false" [length]="vulnerabilityDetails?.totalCount"
                        [pageSize]="defaultPageSize" [pageSizeOptions]="[25, 50, 100]" (page)="changePage($event)">
                      </mat-paginator>
                    </div>
                  </div>

                  <div class="row text-center" *ngIf="vulnerabilityDetails.edges.length == 0" style="margin-top: 20px;">
                    <h5 class="col-12">{{component.name}} have no vulnerabilities yet.</h5>
                  </div>
                </app-card>
            </ng-template>
          </ngb-tab>

          <!-- LICENSES TAB -->
          <ngb-tab title="Licenses" id="licenses">
            <ng-template ngbTabContent>

              <div style="display: flex; flex-wrap: wrap;">
                <div class="card m-3" style="flex: 30%; flex-grow: 0;" *ngFor="let license of scanComponent.licenses.edges">
                  <div class="card-body" (click)="gotoOtherDetailsPage(license.node.licenseId,'license')">
                    <h6 class="card-title">{{license.node.name}}</h6>
                      <div class="card p-2 m-3">
                        <form>
                          <div class="form-group row  p-l-5">
                            <label class="col-sm-12 col-form-label">Category</label>
                            <div class="col-xl-12">
                              <span *ngIf="license.node.category === 'COPYLEFT_STRONG'" title="Copyleft Strong" class="badge m-r-5 badge-light-danger">COPYLEFT STRONG</span>
                              <span *ngIf="license.node.category === 'COPYLEFT_WEAK'" title="Copyleft Weak" class="badge m-r-5 badge-light-warning">COPYLEFT WEAK</span>
                              <span *ngIf="license.node.category === 'COPYLEFT_PARTIAL'" title="Copyleft Partial" class="badge m-r-5 badge-light-warning">COPYLEFT PARTIAL</span>
                              <span *ngIf="license.node.category === 'COPYLEFT_LIMITED'" title="Copyleft Limited" class="badge m-r-5 badge-light-warning">COPYLEFT LIMITED</span>
                              <span *ngIf="license.node.category === 'COPYLEFT'" title="Copyleft" class="badge m-r-5 badge-light-warning">COPYLEFT</span>
                              <span *ngIf="license.node.category === 'PERMISSIVE'" title="Permissive" class="badge m-r-5 badge-light-success">PERMISSIVE</span>

                              <span *ngIf="license.node.category === 'PROPRIETARY_FREE'" title="Permissive" class="badge m-r-5 badge-light-success">PROPRIETARY FREE</span>
                              <span *ngIf="license.node.category === 'PUBLIC_DOMAIN'" title="Permissive" class="badge m-r-5 badge-light-success">PUBLIC DOMAIN</span>
                              <span *ngIf="license.node.category === 'PROPRIETARY'" title="Permissive" class="badge m-r-5 badge-light-warning">PROPRIETARY</span>
                            </div>
                          </div>
                          <div class="form-group row  p-l-5">
                            <label for="spdx" class="col-sm-12 col-form-label">SPDX</label>
                            <div class="col-xl-12">
                              <input type="text" class="form-control" id="spdx" readonly placeholder="{{license.node.spdxId}}">
                            </div>
                          </div>
                          <div class="form-group row  p-l-5">
                            <label for="style" class="col-sm-12 col-form-label">Style</label>
                            <div class="col-xl-12">
                              <input type="text" class="form-control" id="style" readonly placeholder="{{license.node.style}}">
                            </div>
                          </div>
                          <div class="form-group row  p-l-5">
                            <label for="publicationYear" class="col-sm-12 col-form-label">Publication Year</label>
                            <div class="col-xl-12">
                              <input type="text" class="form-control" id="publicationYear" readonly placeholder="{{license.node.publicationYear}}">
                            </div>
                          </div>
                          <div class="form-group row  p-l-5">
                            <label for="publicationYear" class="col-sm-12 col-form-label">License discovery</label>
                            <div class="col-xl-12">
                              <input type="text" class="form-control" id="licenseDiscovery" readonly placeholder="{{messages.license.discovery[license.node.licenseDiscovery]}}">
                            </div>
                          </div>
                          <div class="form-group row  p-l-5">
                            <label for="publicationYear" class="col-sm-12 col-form-label">License origin</label>
                            <div class="col-xl-12">
                              <input type="text" class="form-control" id="licenseOrigin" readonly placeholder="{{messages.license.origin[license.node.licenseOrigin]}}">
                            </div>
                          </div>

                        </form>
                      </div>

                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- REPOSITORIES TAB -->
          <ngb-tab title="Repositories" id="repositories">
            <ng-template ngbTabContent>
              <div class="row" style="padding:10px 0px 10px 0px;margin-left:5px;margin-right:5px">
                <div class="col-md-6">
                  <app-card [hidHeader]="true" cardClass="mb-0" blockClass="pb-0">
                    <div>
                      <div style="width:38%;float:left;">
                        <div>
                          <div style="width:50%;float:left;margin-bottom:5px;font-size:16px"><span class="badge m-r-5 badge-light-info">{{component.repositoryMeta.repositoryType}}</span></div>
                          <div style="width:50%;float:left;text-align:right;margin-bottom:5px;font-size:16px"><span class="badge m-r-5 badge-light-success">BINARY</span></div>
                        </div>
                        <div class="form-group">
                          <label>Namespace</label>
                          <input class="form-control" disabled placeholder="Text" value="{{binaryGroup}}">
                        </div>
                        <div class="form-group">
                          <label>Name</label>
                          <input class="form-control" disabled placeholder="Text" value="{{binaryName}}">
                        </div>
                        <div class="form-group">
                          <label>Latest Version</label>
                          <input class="form-control" disabled placeholder="Text" value="{{component.repositoryMeta?.latestVersion}}">
                        </div>
                        <div class="form-group">
                          <label>Published</label>
                          <input class="form-control" disabled placeholder="Text" value="{{component.repositoryMeta?.published | date :'MMMM d, y'}}">
                        </div>
                        <div class="form-group">
                          <label>Last Checked</label>
                          <input class="form-control" disabled placeholder="Text" value="{{component.repositoryMeta?.lastCheck | date :'MMMM d, y'}}">
                        </div>
                      </div>
                      <div style="width:60%;float:right;">
                        <perfect-scrollbar [style.max-height]="'410px'" #perfectScrollBinaryRelese (psYReachEnd)="loadBinaryReleasesLazy($event)">
                          <p-table #dtBinary [columns]="releaseCols" [value]="binaryReleases"
                                   [scrollable]="false" [rows]="25" [style]="{width:'100%'}" scrollHeight="373px"
                                   [virtualScroll]="false" [virtualRowHeight]="34"
                                   [lazy]="false"
                                   tableStyleClass="table table-striped table-bordered table-hover dataTable no-footer table-width">
                            <ng-template pTemplate="colgroup">
                              <colgroup>
                                <col style="width:63%">
                                <col style="width:37%">
                              </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header">
                              <tr>
                                <th style="width:63%">Version</th>
                                <th style="width:37%">Release Date</th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-binaryRelease>
                              <tr *ngIf="binaryRelease.cvssV3 != null; else noCvssB" [placement]="'top'" style="height:34px"
                                  ngbTooltip="{{binaryRelease.cvssV3.cveId}} : {{binaryRelease.cvssV3.cvssV3BaseScore}} : {{binaryRelease.cvssV3.severity}}">
                                <td style="width:63%">
                                  <span [ngClass]="[binaryRelease.cvssV3.severity == 'CRITICAL' ? 'badge m-r-5 badge-light-danger': 'badge m-r-5',
                                              binaryRelease.cvssV3.severity === 'HIGH' ? 'badge m-r-5 badge-light-danger': 'badge m-r-5',
                                              binaryRelease.cvssV3.severity === 'MEDIUM' ? 'badge m-r-5 badge-light-warning': 'badge m-r-5',
                                              binaryRelease.cvssV3.severity === 'LOW' ? 'badge m-r-5 badge-light-primary': 'badge m-r-5',
                                              binaryRelease.cvssV3.severity === 'INFO' ? 'badge m-r-5 badge-light-success': 'badge m-r-5']">
                                    {{binaryRelease.version}}
                                  </span>
                                </td>
                                <td style="width:37%">
                                  <span [ngClass]="[binaryRelease.cvssV3.severity == 'CRITICAL' ? 'badge m-r-5 badge-light-danger': 'badge m-r-5',
                                              binaryRelease.cvssV3.severity === 'HIGH' ? 'badge m-r-5 badge-light-danger': 'badge m-r-5',
                                              binaryRelease.cvssV3.severity === 'MEDIUM' ? 'badge m-r-5 badge-light-warning': 'badge m-r-5',
                                              binaryRelease.cvssV3.severity === 'LOW' ? 'badge m-r-5 badge-light-primary': 'badge m-r-5',
                                              binaryRelease.cvssV3.severity === 'INFO' ? 'badge m-r-5 badge-light-success': 'badge m-r-5']">
                                    {{binaryRelease.releaseDate}}
                                  </span>
                                </td>
                              </tr>
                              <ng-template #noCvssB>
                                <tr style="height:34px">
                                  <td style="width:63%"><span class="badge m-r-5">{{binaryRelease.version}}</span></td>
                                  <td style="width:37%"><span class="badge m-r-5">{{binaryRelease.releaseDate}}</span></td>
                                </tr>
                              </ng-template>
                            </ng-template>
                          </p-table>
                        </perfect-scrollbar>
                      </div>
                    </div>
                  </app-card>
                </div>
                <div class="col-md-6">
                  <app-card [hidHeader]="true" cardClass="mb-0" blockClass="pb-0">
                    <div>
                      <div style="width:38%;float:left;">
                        <div>
                          <div style="width:50%;float:left;margin-bottom:5px;font-size:16px"><span class="badge m-r-5 badge-light-info">{{sourcePurlType?.toUpperCase()}}</span></div>
                          <div style="width:50%;float:left;text-align:right;margin-bottom:5px;font-size:16px"><span class="badge m-r-5 badge-light-success">SOURCE</span></div>
                        </div>
                        <div class="form-group">
                          <label>Namespace</label>
                          <input class="form-control" disabled placeholder="Text" value="{{sourceGroup}}">
                        </div>
                        <div class="form-group">
                          <label>Name</label>
                          <input class="form-control" disabled placeholder="Text" value="{{sourceName}}">
                        </div>
                        <div class="form-group">
                          <label>Latest Version</label>
                          <input class="form-control" disabled placeholder="Text" value="{{component.repositoryMeta?.latestVersion}}">
                        </div>
                        <div class="form-group">
                          <label>Published</label>
                          <input class="form-control" disabled placeholder="Text" value="{{component.repositoryMeta?.published | date :'MMMM d, y'}}">
                        </div>
                        <div class="form-group">
                          <label>Last Checked</label>
                          <input class="form-control" disabled placeholder="Text" value="{{component.repositoryMeta?.lastCheck | date :'MMMM d, y'}}">
                        </div>
                      </div>
                      <div style="width:60%;float:right;">
                        <perfect-scrollbar [style.max-height]="'410px'" #perfectScrollSourceRelese (psYReachEnd)="loadSourceReleasesLazy($event)">
                          <p-table #dtSource [columns]="releaseCols" [value]="sourceReleases" [scrollable]="false" [rows]="25"
                            [style]="{width:'100%'}" scrollHeight="300px" [virtualScroll]="false" [virtualRowHeight]="34" [lazy]="false"
                            tableStyleClass="table table-striped table-bordered table-hover dataTable no-footer table-width">
                            <ng-template pTemplate="colgroup" let-columns>
                              <colgroup>
                                <col style="width:63%">
                                <col style="width:37%">
                              </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header">
                              <tr>
                                <th style="width:63%">Version</th>
                                <th style="width:37%">Release Date</th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-sourceRelease>
                              <tr *ngIf="sourceRelease.cvssV3 != null; else noCvssS" [placement]="'top'" style="height:34px"
                                ngbTooltip="{{sourceRelease.cvssV3.cveId}} : {{sourceRelease.cvssV3.cvssV3BaseScore}} : {{sourceRelease.cvssV3.severity}}">
                                <td style="width:63%">
                                  <span
                                    [ngClass]="[sourceRelease.cvssV3.severity == 'CRITICAL' ? 'badge m-r-5 badge-light-danger': 'badge m-r-5',
                                                                      sourceRelease.cvssV3.severity === 'HIGH' ? 'badge m-r-5 badge-light-danger': 'badge m-r-5',
                                                                      sourceRelease.cvssV3.severity === 'MEDIUM' ? 'badge m-r-5 badge-light-warning': 'badge m-r-5',
                                                                      sourceRelease.cvssV3.severity === 'LOW' ? 'badge m-r-5 badge-light-primary': 'badge m-r-5',
                                                                      sourceRelease.cvssV3.severity === 'INFO' ? 'badge m-r-5 badge-light-success': 'badge m-r-5']">
                                    {{sourceRelease.version}}
                                  </span>
                                </td>
                                <td style="width:37%">
                                  <span
                                    [ngClass]="[sourceRelease.cvssV3.severity == 'CRITICAL' ? 'badge m-r-5 badge-light-danger': 'badge m-r-5',
                                                                      sourceRelease.cvssV3.severity === 'HIGH' ? 'badge m-r-5 badge-light-danger': 'badge m-r-5',
                                                                      sourceRelease.cvssV3.severity === 'MEDIUM' ? 'badge m-r-5 badge-light-warning': 'badge m-r-5',
                                                                      sourceRelease.cvssV3.severity === 'LOW' ? 'badge m-r-5 badge-light-primary': 'badge m-r-5',
                                                                      sourceRelease.cvssV3.severity === 'INFO' ? 'badge m-r-5 badge-light-success': 'badge m-r-5']">
                                    {{sourceRelease.releaseDate}}
                                  </span>
                                </td>
                              </tr>
                              <ng-template #noCvssS>
                                <tr style="height:34px">
                                  <td style="width:63%"><span class="badge m-r-5">{{sourceRelease.version}}</span></td>
                                  <td style="width:37%"><span class="badge m-r-5">{{sourceRelease.releaseDate}}</span></td>
                                </tr>
                              </ng-template>
                            </ng-template>
                          </p-table>
                        </perfect-scrollbar>
                      </div>
                    </div>

                  </app-card>
                </div>
              </div>
            </ng-template>
          </ngb-tab>

          <!-- COPYRIGHTS TAB -->
          <ngb-tab title="Copyrights" id="copyrights">
            <ng-template ngbTabContent>
              <div class="row m-t-20">
                <div class="col-sm-12">

                  <div class="table-responsive" *ngIf="component.copyrightList && component.copyrightList.length > 0">
                    <perfect-scrollbar>
                      <table class="table table-hover m-b-0">
                        <thead>
                        <tr>
                          <th style="border-bottom:1px solid #4680ff;font-weight:bold" width="250px">TEXT</th>
                          <th style="border-left:1px solid #4680ff;border-bottom:1px solid #4680ff;font-weight:bold">
                            START YEAR</th>
                          <th style="border-bottom:1px solid #4680ff;font-weight:bold">END YEAR</th>
                          <th style="border-bottom:1px solid #4680ff;font-weight:bold">To Present</th>
                          <th style="border-bottom:1px solid #4680ff;font-weight:bold">Owners</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let copyright of component.copyrightList">
                          <td>{{copyright.text}}</td>
                          <td style="border-left:1px solid #4680ff">{{copyright.startYear}}</td>
                          <td>{{copyright.endYear !=0 ? copyright.endYear: "-"}}</td>
                          <td>{{copyright.toPresent}}</td>
                          <td>{{copyright.owners.join(", ")}}</td>
                        </tr>

                        </tbody>
                      </table>
                    </perfect-scrollbar>
                  </div>
                  <div *ngIf="!component.copyrightList || component.copyrightList.length == 0" style="text-align: center; margin-top: 20px; font-size: 20px;">
                    No copyrights found for {{component.name}} version {{component.version}}.
                  </div>

                </div>
              </div>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>
      </div>
    </div>
  </div>
