<app-card [hidHeader]="true" cardClass="flat-card" blockClass="p-0">
  <div class="card-body">

      <div class="row" style="margin-left:-6px;margin-right:-6px">
        <div class="col-xl-6"  style="height:50px">
          <div >
            Filename, file size, path,
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <td-ngx-text-diff [left]="leftContent" [right]="diffContent" [showToolbar]=false [showBtnToolbar]=false outerContainerClass="diff-container"></td-ngx-text-diff>
        </div>
      </div>
  </div>
</app-card>
