
<div class="col-xl-12" *ngIf='obsLicense | async as license;'>
  <ngb-tabset type="pills" class="tab-card">
    <ngb-tab title="License" >
      <ng-template ngbTabContent>
        <div class="row">
          <div class="col-xl-12" >
            <div class="inner-card">
              <div class="card-body">
                <div class="container">
                  <div class="row">

                    <!-- LEFT COLUMN -->
                    <div class="col-xl-4" style="padding-right:30px">
                        <div class="col-xl-12">
                          <div style="width=20%;height:30px;border-bottom:1px solid gray;text-align:center">
                            THREAT CATEGORY
                          </div>
                          <div style="width=100%;font-size:20px;text-align:center;padding-top:15px">
                            <span *ngIf="license.category === 'COPYLEFT_STRONG'" title="Copyleft Strong" class="badge m-r-5 badge-light-danger f-18">COPYLEFT STRONG</span>
                            <span *ngIf="license.category === 'COPYLEFT_WEAK'" title="Copyleft Weak" class="badge m-r-5 badge-light-warning f-18">COPYLEFT WEAK</span>
                            <span *ngIf="license.category === 'COPYLEFT_PARTIAL'" title="Copyleft Partial" class="badge m-r-5 badge-light-warning f-18">COPYLEFT PARTIAL</span>
                            <span *ngIf="license.category === 'COPYLEFT_LIMITED'" title="Copyleft Limited" class="badge m-r-5 badge-light-warning f-18">COPYLEFT LIMITED</span>
                            <span *ngIf="license.category === 'COPYLEFT'" title="Copyleft" class="badge m-r-5 badge-light-warning f-18">COPYLEFT</span>
                            <span *ngIf="license.category === 'PERMISSIVE'" title="Permissive" class="badge m-r-5 badge-light-success f-18">PERMISSIVE</span>
                            <span *ngIf="license.category === 'PUBLIC_DOMAIN'" title="Permissive" class="badge m-r-5 badge-light-success f-18">PUBLIC DOMAIN</span>
                            <span *ngIf="license.category === 'UNDEFINED'" title="Copyleft Limited" class="badge m-r-5 badge-light-warning f-18">UNDEFINED</span>
                          </div>
                        </div>
                        <div class="col-xl-12" style="margin-top:40px">
                          <div class="form-group row  p-l-5">
                            <label for="spdx" class="col-sm-12 col-form-label">SPDX</label>
                            <div class="col-xl-12">
                              <input type="text" class="form-control" id="spdx" readonly placeholder="{{license.spdxId}}">
                            </div>
                          </div>
                          <div class="form-group row  p-l-5">
                            <label for="style" class="col-sm-12 col-form-label">Style</label>
                            <div class="col-xl-12">
                              <input type="text" class="form-control" id="style" readonly placeholder="{{license.style}}">
                            </div>
                          </div>
                          <div class="form-group row  p-l-5">
                            <label for="publicationYear" class="col-sm-12 col-form-label">Publication Year</label>
                            <div class="col-xl-12">
                              <input type="text" class="form-control" id="publicationYear" readonly placeholder="{{license.publicationYear}}">
                            </div>
                          </div>
                          <div class="form-group row  p-l-5">
                            <label for="type" class="col-sm-12 col-form-label">Type</label>
                            <div class="col-xl-12">
                              <input type="text" class="form-control" id="type" readonly placeholder="{{license.type}}">
                            </div>
                          </div>
                          <div class="form-group row  p-l-5">
                            <label for="compat" class="col-sm-12 col-form-label">Compatible</label>
                            <div class="col-xl-12">
                              <input type="text" class="form-control" id="compat" readonly placeholder="GPL-2.0 GPL-3.0">
                            </div>
                          </div>
                        </div>

                    </div>

                    <!-- RIGHT COLUMN -->
                    <div class="col-xl-8">

                      <!-- DESCRIPTION -->

                        <div class="col-xl-12">
                            <div class="f-18" style="margin-bottom:20px;text-align:center;width=100%;">{{license.name}}</div>
                            <div>{{license.description}}</div>
                        </div>


                      <!-- ATTRIBUTES -->
                      <div class="row" style="padding-left:15px;margin-top:40px">
                        <div class="col-xl-4">
                          <div class="caption">Permissions</div>
                          <div *ngFor="let licenseAttribute of permissions">
                            <i class="fas fa-check color-success m-r-5"></i> {{licenseAttribute.key}}
                          </div>
                        </div>
                        <div class="col-xl-4">
                          <div class="caption">Limitations</div>
                          <div *ngFor="let licenseAttribute of limitations">
                            <i class="fas fa-times color-danger m-r-5"></i> {{licenseAttribute.key}}
                          </div>
                        </div>
                        <div class="col-xl-4">
                          <div class="caption">Conditions</div>
                          <div *ngFor="let licenseAttribute of conditions">
                            <i class="fas fa-info-circle color-info m-r-5"></i> {{licenseAttribute.key}}
                          </div>
                        </div>
                      </div>

                      <!-- LICENSE BODY -->
                      <div class="col-xl-12" style="margin-top:40px">
                        <div class="card card-body bg-light" style="padding-left:50px">
                          <pre class="asset-pane">{{license.body}}</pre>
                        </div>
                      </div>


                    </div>

                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <!-- Components -->  
    <ngb-tab *ngIf="!isFromComponent && scanId">
      <ng-template ngbTabTitle>Components&nbsp;
        <span class="badge badge-light">
          {{licenseComponents?.totalCount}}
        </span>
      </ng-template>
      <ng-template ngbTabContent>
        <app-card cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
          <div class="row">
            <perfect-scrollbar [style.max-height]="'650px'" [style.padding-right]="'10px'" class="col-sm-12">
              <p-table #dt [columns]="componentColumns" [value]="licenseComponents?.edges" [paginator]="false" [rows]="50"
                      tableStyleClass="table table-striped table-bordered table-hover dataTable no-footer"
                      class="m-r-5"
                      [autoLayout]="true" [filterDelay]="0" [globalFilterFields]="['node.name', 'node.group', 'node.version']">

                <ng-template pTemplate="caption">
                  <div style="text-align: right">
                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" class="form-control" pInputText size="50" placeholder="Component Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto;display:inline">
                  </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-component let-columns="columns">
                  <tr class="cursor-pointer" (click)="gotoComponentDetails(component.node.componentId)">
                    <td>{{component.node.name}}</td>
                    <td>{{component.node.group}}</td>
                    <td>{{component.node.version}}</td>
                    <td>File System/POM</td>
                    <td>
                      <ng-container *ngIf="component.node.licenses.edges.length > 0">
                        <span *ngIf="component.node.licenses.edges[0].node.category === 'Copyleft Strong'" title="Copyleft Strong" class="badge m-r-5 badge-light-danger">COPYLEFT STRONG</span>
                        <span *ngIf="component.node.licenses.edges[0].node.category === 'Copyleft Weak'" title="Copyleft Weak" class="badge m-r-5 badge-light-warning">COPYLEFT WEAK</span>
                        <span *ngIf="component.node.licenses.edges[0].node.category === 'Copyleft Partial'" title="Copyleft Partial" class="badge m-r-5 badge-light-warning">COPYLEFT PARTIAL</span>
                        <span *ngIf="component.node.licenses.edges[0].node.category === 'Copyleft Limited'" title="Copyleft Limited" class="badge m-r-5 badge-light-warning">COPYLEFT LIMITED</span>
                        <span *ngIf="component.node.licenses.edges[0].node.category === 'Copyleft'" title="Copyleft" class="badge m-r-5 badge-light-warning">COPYLEFT</span>
                        <span *ngIf="component.node.licenses.edges[0].node.category === 'Permissive'" title="Permissive" class="badge m-r-5 badge-light-success">Permissive</span>
                        <span>{{component.node.licenses.edges[0].node.name}}</span>
                      </ng-container>
                      <span *ngIf="!component.node.licenses">No License</span>
                    </td>
                    <td>
                      <div *ngFor="let vulnerabilityEdge of component.node.vulnerabilities.edges">
                          <span>{{component.node.vulnerabilities.edges[0]?.node.vulnId}}:{{component.node.vulnerabilities.edges[0]?.node.severity}}</span>
                          <span *ngIf="vulnerabilityEdge.node.severity === 'CRITICAL'"  title="Critical" class="badge m-l-5 badge-light-danger">CRITICAL</span>
                          <span *ngIf="vulnerabilityEdge.node.severity === 'HIGH'"  title="Critical" class="badge m-l-5 badge-light-danger">HIGH</span>
                          <span *ngIf="vulnerabilityEdge.node.severity === 'MEDIUM'"  title="Critical" class="badge m-l-5 badge-light-warning">MEDIUM</span>
                          <span *ngIf="vulnerabilityEdge.node.severity === 'LOW'"  title="Critical" class="badge m-l-5 badge-light-primary">LOW</span>
                          <span *ngIf="vulnerabilityEdge.node.severity === 'INFO'"  title="Critical" class="badge m-l-5 badge-light-success">INFO</span>
                      </div>
                      <div *ngIf="component.node.vulnerabilities.edges.length>0">
                        <button class="btn btn-outline-primary" data-toggle="modal" type="button" (click)="$event.stopPropagation();selectVersionDialog.show()">Fix</button>
                        <app-ui-modal #selectVersionDialog dialogClass="modal-dialog-centered" (click)="$event.stopPropagation();">
                          <div class="app-modal-header">
                            <h5 class="modal-title">Fix component version</h5>
                            <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="$event.stopPropagation();selectVersionDialog.hide()"><span aria-hidden="true">&times;</span></button>
                          </div>
                          <div class="app-modal-body">
                            <p>Choose version:</p>
                            <div *ngFor="let vulnerabilityEdge of component.node.vulnerabilities.edges">
                              <div class="form-group">
                                <div class="radio radio-primary d-inline">
                                  <input [(ngModel)]="newVersion" type="radio" value="{{vulnerabilityEdge.node.vulnId}}||{{vulnerabilityEdge.node.patchedVersions}}" name="radio-p-1" id="{{vulnerabilityEdge.node.vulnId}}">
                                  <label for="{{vulnerabilityEdge.node.vulnId}}" class="cr">"{{vulnerabilityEdge.node.vulnId}} : {{component.node.version}}->{{vulnerabilityEdge.node.patchedVersions}}"</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="app-modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="$event.stopPropagation();selectVersionDialog.hide()">Close</button>
                            <button type="button" class="btn btn-primary" (click)="$event.stopPropagation();selectVersionDialog.hide(); fixVersion(component.node.group,component.node.name)">Fix</button>
                          </div>
                        </app-ui-modal>
                      </div>
                    </td>
                  </tr>
              </ng-template>
              </p-table>
            </perfect-scrollbar>
            <div class="col-sm-12">
              <mat-paginator [hidePageSize]="false" [disabled]="false" [length]="licenseComponents?.totalCount" [pageSize]="defaultPageSize"
                [pageSizeOptions]="[25, 50, 100]" (page)="changePage($event)">
              </mat-paginator>
            </div>
          </div>
        </app-card>  
      </ng-template>
    </ngb-tab>
  </ngb-tabset>      
</div>