<div class="row">

  <div class="col-xl-9">
    <app-card cardTitle="Project Scans by Date" [options]="false">
      <app-apex-chart chartID="bar-chart-2-cac" [chartConfig]="bar2CAC"></app-apex-chart>
    </app-card>
  </div>

  <!-- table card start -->
  <div class="col-md-12 col-xl-3">
    <app-card [hidHeader]="true" cardClass="flat-card" blockClass="p-0">
      <div class="row-table">
        <div class="col-xl-12 card-body br">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-eye text-c-green mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>10k</h5>
              <span>Visitors</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row-table">
        <div class="col-xl-12 card-body">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-music text-c-red mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>100%</h5>
              <span>Volume</span>
            </div>
          </div>
        </div>

      </div>
      <!--

      <div class="col-xl-12 card-body br">
        <div class="row">
          <div class="col-sm-4">
            <i class="icon feather icon-file-text text-c-blue mb-1 d-block"></i>
          </div>
          <div class="col-sm-8 text-md-center">
            <h5>2000 +</h5>
            <span>Files</span>
          </div>
        </div>
      </div>
      <div class="col-xl-12 card-body">
        <div class="row">
          <div class="col-sm-4">
            <i class="icon feather icon-mail text-c-yellow mb-1 d-block"></i>
          </div>
          <div class="col-sm-8 text-md-center">
            <h5>120</h5>
            <span>Mails</span>
          </div>
        </div>
      </div>-->


    </app-card>
  </div>
</div>


<app-card [hidHeader]="true" cardClass="tab-card">
  <ngb-tabset type="pills">
    <ngb-tab class="mb-3">
      <ng-template ngbTabTitle>
        <span class="tab-title">LICENSE DIMENSION</span>
      </ng-template>
      <ng-template ngbTabContent>
        <license-dimension></license-dimension>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="SOURCE DIMENSION">
      <ng-template ngbTabContent>
        <tc-source-dimension></tc-source-dimension>
      </ng-template>

    </ngb-tab>
    <ngb-tab title="COMPONENT DIMENSION">
      <ng-template ngbTabContent>
        <p>Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex. Nulla
          ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim exercitation
          fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit aliquip nostrud.
          Amet ex cupidatat excepteur aute veniam incididunt mollit cupidatat esse irure officia elit do ipsum ullamco
          Lorem. Ullamco ut ad minim do mollit labore ipsum laboris ipsum commodo sunt tempor enim incididunt. Commodo
          quis sunt dolore aliquip aute tempor irure magna enim minim reprehenderit. Ullamco consectetur culpa veniam
          sint cillum aliqua incididunt velit ullamco sunt ullamco quis quis commodo voluptate. Mollit nulla nostrud
          adipisicing aliqua cupidatat aliqua pariatur mollit voluptate voluptate consequat non.</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</app-card>

