<div class="simm-box" *ngIf='sourceAsset && matchAsset && stateOpen'>

    <!-- TOOLBAR -->
    <div class="simm-toolbar">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-outline-secondary btn-sm btn-next" (click)="prevMatch()" [placement]="'bottom'" ngbTooltip="Prev match">
                <i class="feather icon-arrow-up"></i></button>
            <button class="btn btn-outline-secondary btn-sm btn-prev" (click)="nextMatch()" [placement]="'bottom'" ngbTooltip="Next match">
                <i class="feather icon-arrow-down"></i></button>
        </div>
        <div class="mr-auto">
            <span class="hint"><< jump to next/prev match (use up/down keys)</span>
        </div>

        <div class="float-right"><span class="hint">type Esc to close >></span></div>
        <button class="btn btn-outline-secondary btn-sm btn-close float-right" (click)="close()" [placement]="'bottom'" ngbTooltip="Close SIMM Tool (Esc key press works too.)">
            <i class="feather icon-x"></i></button>
    </div>

    <!-- HEAHER -->
    <div class="simm-header">
        <div><span><b>{{sourceAsset.name}}</b> | File size: {{sourceAsset.assetSize | number:'1.0-0'}} B</span></div>
        <div><span><b>{{matchAsset.name}}</b> | File size: {{matchAsset.assetSize | number:'1.0-0'}} B</span></div>
    </div>

    <!-- FILES -->
    <div class="simm-files">
        <div class="simm-file simm-file-source" #sourceScroll>
            <markdown [data]="sourceAsset.content | language : 'java'" lineHighlight [line]="sourceLineHighlights" lineNumbers></markdown>
        </div>

        <div class="matches-links"></div>

        <div class="simm-file simm-file-match" #matchScroll>
            <markdown [data]="matchAsset.content | language : 'java'" lineHighlight [line]="matchLineHighlights" lineNumbers></markdown>
        </div>
    </div>

</div>
