<div>
  <nav aria-label="breadcrumb" class="float-right">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard/policy/list/{{entityId}}/{{projectId}}">Policies</a></li>
          <li class="breadcrumb-item active text-muted" aria-current="page">Policy</li>
      </ol>
  </nav>
  <h1>Edit Policy</h1>
</div>


<app-messages [messages]="messages"></app-messages>


<ng-template [ngIf]="policy != undefined">
  <form>
    <div style="padding:40px 0px 40px 0px;margin-left:5px;margin-right:5px">
      <ngb-tabset type="pills" [activeId]="activeTabIdString">    
        <ngb-tab title="Policy" id="policyGeneralInfo">
          <ng-template ngbTabContent>
            <app-card cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between" cardTitle="General Info">
              <div class="pt-4" style="width: 100%;">
                <ng-template [ngIf]="policy.active">
                  <span title="Info" class=" badge m-r-5 badge-light-success" style="margin-bottom: 16px;">Active</span>
                </ng-template>
                
                <div *ngIf="policy.entity" class="form-group " style="padding-left: 0px">
                  <label class="font-weight-bolder">Entity</label>
                  <input disabled class="form-control" style="width: 100%;" value="{{policy.entity?.name}}"/>
                </div>
                <div *ngIf="policy.project" class="form-group " style="padding-left: 0px">
                  <label class="font-weight-bolder">Project</label>
                  <input disabled class="form-control" style="width: 100%;" value="{{policy.project?.name}}"/>
                </div>
                  <div class="form-group " style="padding-left: 0px">
                  <label class="font-weight-bolder">Policy Name</label>
                  <input name="name" required placeholder="Name..." class="form-control" style="width: 100%;" [(ngModel)]="policy.name"/>
                </div>
                <div class="form-group" style="padding-left: 0px" *ngIf="false">
                  <label class="font-weight-bolder">Policy Title</label>
                  <input name="title" required placeholder="Title..." class="form-control" [(ngModel)]="policy.title"/>
                </div>
                <div class="form-group" style="padding-left: 0px">
                  <label class="font-weight-bolder">Policy Type</label>
                  <select [(ngModel)]="policy.conditionType" name="conditionType" (ngModelChange)="onTypeChange($event)"
                      class="form-control form-control-sm input-sm ng-select custom-select">
                    <option *ngFor="let item of conditionTypeItems" [ngValue]="item.code">{{ item.name }}</option> 
                  </select>
                </div>  
                <div class="form-group">
                  <label for= "applyToChilds" class="font-weight-bolder">Apply to childs</label>
                  <input name="applyToChilds" id="applyToChilds" type="checkbox" class="ml-3" [(ngModel)]="policy.applyToChilds"/>
                </div>
                <div class="form-group">
                  <label class="font-weight-bolder">Policy Description</label>
                  <textarea name="description" placeholder="Description..." class="form-control" [(ngModel)]="policy.description" rows="5"></textarea>
                </div>
                <div class="form-group" style="padding-left: 0px" *ngIf="false">
                  <label class="font-weight-bolder">Overrides</label>
                  <input disabled class="form-control" value="{{policy.overridePolicyTitle}}"/>
                </div>
                <div class="form-group" style="padding-left: 0px" *ngIf="false">
                    <label class="font-weight-bolder">Created by</label>
                    <input disabled class="form-control" value="{{policy.createdBy}}"/>
                </div>
                <div class="form-group" style="padding-left: 0px" *ngIf="false">
                  <label class="font-weight-bolder">Created date</label>
                  <input disabled class="form-control" value="{{policy.createDate | date :'M/d/y h:mmaa' | lowercase}}"/>
                </div>
                <div *ngIf="false" class="form-group" >
                  <label class="font-weight-bolder">Last state change</label>
                  <input disabled class="form-control" value="{{policy.dateLastStateChange | date :'M/d/y h:mmaa' | lowercase}}"/>
                </div>

                <div class="actions mt-4">
                  <button  (click)="gotoTab('policyConditions')" class="btn btn-outline-secondary float-right">
                    Conditions
                    <i class="feather icon-chevrons-right" style="font-size: medium;"></i>
                  </button>
                </div>  
              </div>
            </app-card>
          </ng-template>
        </ngb-tab>  
        <!-- Conditions -->
        <ngb-tab id="policyConditions">
          <ng-template ngbTabTitle>Conditions&nbsp;
            <span class="badge badge-light">
              {{policy.conditions?.groups[0]?.conditions.length+policy.conditions?.groups[1]?.conditions.length}}
            </span>
          </ng-template>
          <ng-template ngbTabContent>
            <app-card cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between" [cardTitle]="conditionType.name+' Conditions'">
              <div class="pt-4" style="width: 100%;">
                <condition-builder id="conditions" style="width: 100%" [parentGroup]="policy.conditions" [readonly]="false" [policy]="policy">
                </condition-builder>  
                <div class="actions mt-4">
                  <button  (click)="gotoTab('policyActions')" class="btn btn-outline-secondary float-right">
                    Actions
                    <i class="feather icon-chevrons-right" style="font-size: medium;"></i>
                  </button>
                  <button  (click)="gotoTab('policyGeneralInfo')" class="btn btn-outline-secondary float-left mr-2">
                    <i class="feather icon-chevrons-left" style="font-size: medium;"></i>
                    General Info
                  </button>
                </div>  
              </div>  
            </app-card>  
          </ng-template>  
        </ngb-tab>   
        <!-- Actions  -->
        <ngb-tab id="policyActions">
          <ng-template ngbTabTitle>Actions&nbsp;
            <span class="badge badge-light">
              {{policy.actions?.length}}
            </span>
          </ng-template>
          <ng-template ngbTabContent>
            <app-card blockClass="align-items-center justify-content-between" cardTitle="Actions">
              
              <div style="padding-bottom: 60px">
                <!-- <p-table #dt [value]="policy.actions" [filterDelay]="0" [globalFilterFields]="['actionName']"  dataKey="actionName" tableStyleClass="table table-bordered">

                  <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                      <col style="width:40%;text-align: center">
                      <col style="width:40%;text-align: center">
                      <col style="width:30px;text-align: center">
                    </colgroup>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Type</th>
                      <th>Name</th>
                      <th></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-action>
                    <tr>
                      <td pEditableColumn class="active">
                        <p-cellEditor class="dopdown-view" style="width: 100%">
                            <ng-template pTemplate="input">
                                <p-dropdown name="actionType" [options]="actionTypes" [(ngModel)]="action.actionType" (onChange)="onActionTypeChange(action,$event)" 
                                [style]="{'width':'100%','min-width': '4em' , 'margin-top': '6px'}"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{!!action.actionType?actionTypeMap[action.actionType]:''}}
                            </ng-template>
                        </p-cellEditor>
                      </td>  
                      <td pEditableColumn class="active">
                        <p-cellEditor class="dopdown-view" style="width: 100%">
                            <ng-template pTemplate="input">
                                <p-dropdown name="actionName" [options]="actionNames[action.actionType]" [(ngModel)]="action.actionName" 
                                [style]="{'width':'100%','min-width': '4em', 'margin-top': '6px'}"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{!!action.actionName?actionNameMap[action.actionType][action.actionName]:''}}
                            </ng-template>
                        </p-cellEditor>
                      </td> 
                      <td>
                        <button type="button" class="btn btn-icon" title="Remove action" (click)="this.removeAction(action)" 
                        style="color: #c9d0d5; padding: 2px; margin: 0 auto;">
                          <i class="feather icon-x" style="font-size: 10px; font-weight: 800;"></i>
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <tr>
                      <th colspan="3">
                        <button type="button" class="btn btn-outline-secondary" title="Add Action"
                          (click)="this.addAction()" style="color: #c9d0d5;">
                          <i class="feather icon-plus" style="font-size: 14px; font-weight: 800;"></i> ADD ACTION
                        </button>
                      </th>
                    </tr>
                  </ng-template>
                </p-table> -->

                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width:40%">Type</th>
                      <th style="width:40%">Name</th>
                      <th style="width:30px"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let action of policy.actions;let index = index;">
                      <td>
                        <select name="{{index}}actionType" class="form-control custom-select" (change)="onActionTypeChange(action,$event,index)" 
                          [(ngModel)]="policy.actions[index].actionType">
                          <option *ngFor="let type of actionTypes" [ngValue]="type.value">
                            {{type.label}}</option>
                        </select>
                      </td>
                      <td><select name="{{index}}actionName" class="form-control custom-select" [(ngModel)]="policy.actions[index].actionName">
                          <option *ngFor="let type of actionNames[action.actionType]" [value]="type.value">
                            {{type.label}}</option>
                        </select>
                      </td>
                      <td>
                        <button type="button" class="btn btn-icon" title="Remove action" (click)="this.removeAction(action)"
                          style="color: #c9d0d5; padding: 2px; margin: 0 auto;">
                          <i class="feather icon-x" style="font-size: 10px; font-weight: 800;"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th colspan="3">
                        <button type="button" class="btn btn-outline-secondary" title="Add Action" (click)="this.addAction()"
                          style="color: #c9d0d5;">
                          <i class="feather icon-plus" style="font-size: 14px; font-weight: 800;"></i> ADD ACTION
                        </button>
                      </th>
                    </tr>
                  </tfoot>
                </table>
                <div class="actions mt-4">
                  <button  (click)="gotoTab('policyConditions')" class="btn btn-outline-secondary float-left mr-2">
                    <i class="feather icon-chevrons-left" style="font-size: medium;"></i>
                    Conditions
                  </button>
                </div>  
            </div>

            </app-card>
          </ng-template>  
        </ngb-tab>
      </ngb-tabset>    
    </div>   
    <div class="actions mt-4">
      <button type="button" class="btn btn-success" [disabled] = "saveDisabled" (click)="savePolicy()" >
          <i class="feather icon-save"></i>
          Save
      </button>


      <a *ngIf="!newPolicy" routerLink="/dashboard/policy/show/{{policy.policyId}}/{{entityId}}/{{projectId}}" class="btn btn-outline-secondary">
          <i class="feather icon-list"></i>
          Back to policy
      </a>

      <a routerLink="/dashboard/policy/list/{{entityId}}/{{projectId}}" class="btn btn-outline-secondary">
          <i class="feather icon-list"></i>
          Back to list
      </a>
    </div>

  </form>  
</ng-template>


<ng-template [ngIf]="policy === undefined">
  <app-alert type="warning">Policy not found.</app-alert>

  <a routerLink="/dashboard/policy/list/{{entityId}}/{{projectId}}" class="btn btn-outline-secondary">
      <i class="feather icon-list"></i>
      Back to list
  </a>
</ng-template>
