<div>
    <nav aria-label="breadcrumb" class="float-right">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin/user/list">Users</a></li>
            <li class="breadcrumb-item active text-muted" aria-current="page">User</li>
        </ol>
    </nav>
    <h1>User</h1>
</div>

<app-messages [messages]="messages"></app-messages>


<ng-template [ngIf]="user !== undefined">
    <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && userForm.form.dirty && saveUser()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control {{newUser ? '' : 'readonly'}}" [disabled]="!newUser"
            #emailAddress="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email..." required [(ngModel)]="user.email">
            <div class="invalid-form"
                *ngIf="userForm.submitted || (emailAddress.errors && (emailAddress.dirty || emailAddress.touched))">
                <span *ngIf="emailAddress.errors && emailAddress.errors?.required">Email is required.</span>
                <span *ngIf="emailAddress.errors && emailAddress.errors?.pattern">Enter a valid email address.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="fname">First name</label>
            <input type="text" id="fname" name="fname" class="form-control" placeholder="First name..." #fName="ngModel" required [(ngModel)]="user.fname">
            <div class="invalid-form"
                *ngIf="userForm.submitted || (fName.errors && (fName.dirty || fName.touched))">
                <span *ngIf="fName.errors && fName.errors?.required">First name is required.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="lname">Last name</label>
            <input type="text" id="lname" name="lname" class="form-control" placeholder="Last name..." required #lName="ngModel" [(ngModel)]="user.lname">
            <div class="invalid-form"
                *ngIf="userForm.submitted || (lName.errors && (lName.dirty || lName.touched))">
                <span *ngIf="lName.errors && lName.errors?.required">Last name is required.</span>
            </div>
        </div>

        <div class="form-group">
            <label for="entities">Entities</label>
            <ng-select name="entities" id="entities" [ngClass]="'ng-select'" [options]="entitySelectItems" [(ngModel)]="entitySelectSelectedItems" [multiple]="true" [placeholder]="'Select entities...'" (ngModelChange)="updateListForDefaultEntity()" required></ng-select>
            <div class="invalid-form"
                *ngIf="userForm.submitted && !entitySelectSelectedItems">
                <span>Entity is required.</span>
            </div>
        </div>

        <div *ngIf="entitySelectSelectedItems && entitySelectSelectedItems.length>0" class="form-group">
            <label for="defaultEntityId">Default Entity</label>
            <ng-select name="defaultEntityId" id="defaultEntityId" [ngClass]="'ng-select'" [options]="defaultEntitySelectionItems" [(ngModel)]="defaultEntityId" [placeholder]="'Select default entity...'"></ng-select>
        </div>

        <!-- [(destination)]="selectedRoles" -->
        <label>Roles</label>
        <dual-list [source]="roles" [sort]="true" [key]="'roleId'" [display]="roleDisplay" [filter]="false"
                   [(destination)]="selectedRoles" height="265px" [format]="format" [disabled]="false"></dual-list>
                   
        <span class="mt-4" *ngIf="userForm.submitted && (!selectedRoles || selectedRoles.length == 0)">
            <app-alert type="danger">Role is required.</app-alert>
        </span>

        <div class="actions mt-5 mb-5">
            <button type="submit" class="btn btn-success" (click)="save(userForm)">
                <i class="feather icon-save"></i>
                Save
            </button>


            <a *ngIf="!newUser" routerLink="/admin/user/show/{{user.username}}" class="btn btn-outline-secondary">
                <i class="feather icon-user"></i>
                Back to user
            </a>

            <a routerLink="/admin/user/list" class="btn btn-outline-secondary">
                <i class="feather icon-users"></i>
                Back to list
            </a>
        </div>
    </form>
</ng-template>


<ng-template [ngIf]="user === undefined">
    <app-alert type="warwing">User not found.</app-alert>
</ng-template>
