<div *ngIf='obsProject | async as project; '>
    <div class="row">
        <div class="col-6">
            <h3 class="entity-ttl"> <a [routerLink]="['/dashboard/entity',project.entityId]">
                    <i class="fas fa-level-up-alt mr-1"></i> Team Dashboard</a> / {{project.name}}
            </h3>
        </div>
        <div class="col-6 entity-btns" style="text-align:right">
            <a [routerLink]="['/dashboard/policy/list/',project.entityId, project.projectId]"
                *ngIf="authorizationService.hasPermissions('PROJECT_POLICY_MANAGE')">
                <button type="submit" class="btn btn-outline-info ml-2">
                    <i class="fas fa-feather-alt mr-1"></i>Policies
                </button>
            </a>
            <a>
                <button type="submit" class="btn btn-outline-info ml-2" (click)="openProjectTagDialog(projectTags)"
                    *ngIf="authorizationService.hasPermissions('PROJECT_EDIT')">
                    <i class="fas fa-feather-alt mr-1"></i>Project Tags
                </button>
            </a>
        </div>
    </div>
</div>