<div style="width: 100%;">
  <div class = "card pr-2 no-border">
    <div *ngFor="let condition of parentGroup.groups[0].conditions" class="ml-4">
      <div class="card p-2 no-border mb-0">
        <div class="form-group row" >
          <div class="col-sm-3">
            <select [(ngModel)]="condition.conditionName"  (ngModelChange)="onChangeName($event, condition)"
            [disabled]="readonly"  class="form-control form-control-sm input-sm ng-select custom-select" >
              <option *ngFor="let cond of getConditionTypeNames(categories.mainConditions.get(condition.conditionType).conditionMetadatas)" [ngValue]="cond.code">{{ cond.title }}</option> 
            </select>
          </div>
          <div class="col-sm-1" stype="min-width: 70px;">
            <select [(ngModel)]="condition.operator" 
            [disabled]="readonly"  class="form-control form-control-sm input-sm ng-select custom-select" >
              <option *ngFor="let operator of getOperators('MAIN', condition.conditionType, condition.conditionName)" [ngValue]="operator.code">{{ operator.name }}</option> 
            </select>
          </div>

          <div class="col-sm-7 row">
            <select  *ngIf="condition.conditionType && condition.conditionName && categories.mainConditions.get(condition.conditionType).conditionMetadatas.get(condition.conditionName).inputType==='CMB'" 
              [ngModel]="getConditionValue(condition)" (ngModelChange)="onChangeValue($event, condition)"
            [disabled]="readonly" class="form-control form-control-sm ng-select custom-select col-sm-12" style="overflow-y: auto;" >
              <option *ngFor="let item of categories.mainConditions.get(condition.conditionType).conditionMetadatas.get(condition.conditionName).values" [ngValue]="item.code">{{ item.name }}</option> 
            </select> 

            <input *ngIf="condition.conditionType && condition.conditionName && categories.mainConditions.get(condition.conditionType).conditionMetadatas.get(condition.conditionName).inputType==='STR'"
            [disabled]="readonly" class="form-control col-sm-12" [ngModel]="getConditionValue(condition)" (ngModelChange)="onChangeValue($event, condition)"/>

            <input *ngIf="condition.conditionType && condition.conditionName && categories.mainConditions.get(condition.conditionType).conditionMetadatas.get(condition.conditionName).inputType==='NUM'"
            [disabled]="readonly" class="form-control" [ngClass] = "condition.conditionName === 'THRESHOLD'?'col-sm-9': 'col-sm-12'" type="number" [ngModel]="getConditionValue(condition)" (ngModelChange)="onChangeValue($event, condition)"/>


            <select  *ngIf="condition.conditionType && condition.conditionName && categories.mainConditions.get(condition.conditionType).conditionMetadatas.get(condition.conditionName).inputType==='CMM'" 
              [ngModel]="getConditionValue(condition)" (ngModelChange)="onChangeValue($event, condition)"
            [disabled]="readonly" multiple class="form-control form-control-sm ng-select custom-select col-sm-12" style="overflow-y: auto;" >
              <option *ngFor="let item of categories.mainConditions.get(condition.conditionType).conditionMetadatas.get(condition.conditionName).values" [ngValue]="item.code">{{ item.name }}</option> 
            </select> 
            <div class="col-sm-3 mt-2 float-right" *ngIf="condition.conditionName === 'THRESHOLD'">
              <label for="autoAdjustThreshold" class="font-weight-bolder float-right">Auto adjust</label>
              <input [disabled]="readonly" name="autoAdjustThreshold" id="autoAdjustThreshold" type="checkbox" class="ml-1 mt-1 mr-1 float-right" [(ngModel)]="condition.autoAdjustThreshold"/>
            </div>
 
          </div>

          <div class="col-sm-1">
            <button *ngIf="!readonly" [disabled]="isFirstCondition(parentGroup.groups[0], condition)" type="button" class="btn btn-icon float-right" title="Remove condition" (click)="this.removeCondition(parentGroup.groups[0], condition)" 
            style="color: #c9d0d5; padding-left: 8px; padding-right: 8px;">
              <i class="feather icon-x" style="font-size: 12px; font-weight: 800;"></i>
            </button>
            <button *ngIf="!readonly" [disabled]="isLastCondition(parentGroup.groups[0], condition)" type="button" class="btn btn-icon float-right" title="Move down" (click)="this.moveDown(parentGroup.groups[0], condition)" 
            style="color: #c9d0d5; padding-left: 8px; padding-right: 8px;">
              <i class="feather icon-chevron-down" style="font-size: 12px; font-weight: 800;"></i>
            </button>
            <button *ngIf="!readonly" [disabled]="isFirstCondition(parentGroup.groups[0], condition)" type="button" class="btn btn-icon float-right" title="Move up" (click)="this.moveUp(parentGroup.groups[0], condition)" 
            style="color: #c9d0d5; padding-left: 8px; padding-right: 8px;">
              <i class="feather icon-chevron-up" style="font-size: 12px; font-weight: 800;"></i>
            </button>
          </div>  
        </div>  
        <div class="row ml-4">
          <div class="col-sm-1">
            <button *ngIf="condition.logicalOperator" type="button" class="btn btn-outline-secondary" 
              [disabled]= "readonly"
              (click)="condition.logicalOperator === 'AND'? condition.logicalOperator = 'OR': condition.logicalOperator = 'AND'" 
              style="color: #c9d0d5;">
              {{condition.logicalOperator}}
            </button>
          </div>
        </div>
  
      </div>
    </div>  
    <div class="row ml-4">
      <div class="col-sm-3">
        <button *ngIf="!readonly" type="button" class="btn btn-outline-secondary" title="Add condition" (click)="this.addCondition(parentGroup.groups[0])" 
        style="color: #c9d0d5;">
          <i class="feather icon-plus" style="font-size: 14px; font-weight: 800;"></i> ADD CONDITION
        </button>
      </div>
    </div>
  </div>  

  <!-- Subordinate conditions -->

  <div class = "card pr-2 no-border">
    <div *ngIf="!readonly || parentGroup.groups[1].conditions.length>0"class="mt-2 ml-2 mb-2 h5">
      AND Subordinate Conditions
    </div>  
        <div *ngFor="let condition of parentGroup.groups[1].conditions" class="ml-4">
          <div class="card p-2 no-border mb-0">
            <div class="form-group row" >
              <div class="col-sm-3">
                <select [(ngModel)]="condition.conditionName" (ngModelChange)="onChangeSubordinateName($event, condition)"
                  [disabled]="readonly" class="form-control form-control-sm input-sm ng-select custom-select">
                  <optgroup *ngFor="let cond of getConditionItemLists(true,null)" label="{{cond.title}}">
                    <option *ngFor="let condChild of getConditionItemLists(false,cond.conditionType)" [ngValue]="condChild.code">
                      {{condChild.title}}</option>
                  </optgroup>
                </select>
              </div>
    
              <div class="col-sm-1">
                <select [(ngModel)]="condition.operator" 
                [disabled]="readonly"  class="form-control form-control-sm input-sm ng-select custom-select" >
                  <option *ngFor="let operator of getOperators('SUBORDINATE', condition.conditionType, condition.conditionName)" [ngValue]="operator.code">{{ operator.name }}</option> 
                </select>
              </div>
    
              <div class="col-sm-7 row">
                <select  *ngIf="condition.conditionType && condition.conditionName && categories.subordinateConditions.get(condition.conditionType).conditionMetadatas.get(condition.conditionName)?.inputType==='CMB'" 
                  [ngModel]="getConditionValue(condition)" (ngModelChange)="onChangeValue($event, condition)"
                [disabled]="readonly" class="form-control form-control-sm ng-select custom-select col-sm-12" style="overflow-y: auto;" >
                  <option *ngFor="let item of categories.subordinateConditions.get(condition.conditionType).conditionMetadatas.get(condition.conditionName).values" [ngValue]="item.code">{{ item.name }}</option> 
                </select> 
    
                <input *ngIf="condition.conditionType && condition.conditionName && categories.subordinateConditions.get(condition.conditionType).conditionMetadatas.get(condition.conditionName)?.inputType==='STR'"
                [disabled]="readonly" class="form-control col-sm-12" [ngModel]="getConditionValue(condition)" (ngModelChange)="onChangeValue($event, condition)"/>
    
                <input *ngIf="condition.conditionType && condition.conditionName && categories.subordinateConditions.get(condition.conditionType).conditionMetadatas.get(condition.conditionName)?.inputType==='NUM'"
                [disabled]="readonly" class="form-control" [ngClass] = "condition.conditionName === 'THRESHOLD'?'col-sm-9': 'col-sm-12'" type="number" [ngModel]="getConditionValue(condition)" (ngModelChange)="onChangeValue($event, condition)"/>
                
                <select  *ngIf="condition.conditionType && condition.conditionName && categories.subordinateConditions.get(condition.conditionType).conditionMetadatas.get(condition.conditionName)?.inputType==='CMM'" 
                  [ngModel]="getConditionValue(condition)" (ngModelChange)="onChangeValue($event, condition)"
                  [disabled]="readonly" multiple class="form-control form-control-sm ng-select custom-select col-sm-12" style="overflow-y: auto;" >
                  <option *ngFor="let item of categories.subordinateConditions.get(condition.conditionType).conditionMetadatas.get(condition.conditionName).values" [ngValue]="item.code">{{ item.name }}</option> 
                </select> 
                <mat-chip-list #tagList *ngIf="condition.conditionType && condition.conditionName && categories.subordinateConditions.get(condition.conditionType).conditionMetadatas.get(condition.conditionName)?.inputType==='CHP'" >
                  <mat-chip *ngFor="let tag of condition.strValue?.split(',')" 
                           removable="true">
                    {{tag}}
                    <button *ngIf="!readonly" type="button" class="btn btn-icon float-right" title="Remove Tag" (click)="removeProjectTag(condition, tag)" 
                    style="color: #c9d0d5; padding: unset;">
                      <i class="feather icon-x" style="font-weight: 800;"></i>
                    </button>
                  </mat-chip>
                  <input placeholder="Tags..." class = "next-dark form-control"
                         [matChipInputFor]="tagList" [(ngModel)]="condition.strInputValue"
                         (matChipInputTokenEnd)="addProjectTagHandler(condition, $event)">
                </mat-chip-list>                
                <div class="col-sm-3 mt-2 float-right" *ngIf="condition.conditionName === 'THRESHOLD'">
                  <label for="autoAdjustThreshold" class="font-weight-bolder float-right">Auto adjust</label>
                  <input [disabled]="readonly" name="autoAdjustThreshold" id="autoAdjustThreshold" type="checkbox" class="ml-1 mt-1 mr-1 float-right" [(ngModel)]="condition.autoAdjustThreshold"/>
                </div>
              </div>
    
              <div class="col-sm-1">
                <button *ngIf="!readonly" type="button" class="btn btn-icon float-right" title="Remove condition" (click)="this.removeCondition(parentGroup.groups[1], condition)" 
                style="color: #c9d0d5; padding-left: 8px; padding-right: 8px;">
                  <i class="feather icon-x" style="font-size: 12px; font-weight: 800;"></i>
                </button>
                <button *ngIf="!readonly" [disabled]="isLastCondition(parentGroup.groups[1], condition)" type="button" class="btn btn-icon float-right" title="Move down" (click)="this.moveDown(parentGroup.groups[1], condition)" 
                style="color: #c9d0d5; padding-left: 8px; padding-right: 8px;">
                  <i class="feather icon-chevron-down" style="font-size: 12px; font-weight: 800;"></i>
                </button>
                <button *ngIf="!readonly" [disabled]="isFirstCondition(parentGroup.groups[1], condition)" type="button" class="btn btn-icon float-right" title="Move up" (click)="this.moveUp(parentGroup.groups[1], condition)" 
                style="color: #c9d0d5; padding-left: 8px; padding-right: 8px;">
                  <i class="feather icon-chevron-up" style="font-size: 12px; font-weight: 800;"></i>
                </button>
              </div>  
            </div>  
            <div class="row ml-4">
              <div class="col-sm-1">
              <button *ngIf="condition.logicalOperator" type="button" class="btn btn-outline-secondary" 
              (click)="condition.logicalOperator === 'AND'? condition.logicalOperator = 'OR': condition.logicalOperator = 'AND'" 
              style="color: #c9d0d5;">
              {{condition.logicalOperator}}
              </button>
              </div>
            </div>
      
          </div>
        </div>  
        <div class="row ml-4">
          <div class="col-sm-3">
          <button *ngIf="!readonly" type="button" class="btn btn-outline-secondary" title="Add condition" (click)="this.addCondition(parentGroup.groups[1])" 
          style="color: #c9d0d5;">
            <i class="feather icon-plus" style="font-size: 14px; font-weight: 800;"></i> ADD CONDITION
          </button>
          </div>
        </div>
      </div>  
    
</div>
