<div style="width: 100%;">
  <div>
      <p-table #dt [columns]="columns" [value]="entitySettings.alertSlackUrls" [paginator]="false" [rows]="50"
               tableStyleClass="table table-striped table-bordered table-hover dataTable no-footer">

        <ng-template pTemplate="caption">
          <button type="button" class="btn btn-outline-info float-right" title="Add Slack URL" (click)="openAddUrlDialog(urlDialog)"
          style="color: #c9d0d5; padding: 6px; margin: 2px auto;">
            <span>Add Slack URL</span>
          </button>
          <p class = "float-left" style="margin-top:8px;">SLACK Integration</p>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width:80%;text-align: center">
            <col style="width:30px;text-align: center">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Slack URL</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-url>
          <tr>
            <td style="padding: 10px;">
              <a routerLink="" (click)="openEditUrlDialog(urlDialog, url)">{{url}}</a>
            </td>  
            <td>
              <button type="button" class="btn btn-icon" title="Remove Slack URL" (click)="this.removeUrl(url)"
              style="color: #c9d0d5; padding: 2px; margin: 0 auto;">
                <i class="feather icon-x" style="font-size: 10px; font-weight: 800;"></i>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
  </div>  
    
  <ng-template #urlDialog let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Alert Slack URL</h4>
    </div>
    <div class="modal-body">
      <form>
      <div class="form-group">
        <label>Slack URL:</label>
        <input type="text" name="editUrl" class = "form-control" [(ngModel)] = "editUrl" required/>
      </div>  
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" [disabled] = "!validateUrl()" (click)="modal.close('click'); setUrl();">Save</button>
      <button type="button" class="btn btn-outline-light" (click)="modal.close('click')">Close</button>
    </div>
  </ng-template>

</div>
