<div class="row entry-page">
    <div class="col-6 col-lg-6 col-xl-8 graph-background-col">
        <div class="graph-background"></div>
        <div class="threatrix-title">
            <div><img class="logo" src="/assets/images/website_logo_white-letters-transparent_background-large.png">
            </div>
            <div class="app-title">ThreatCenter</div>
            <div class="app-tagline">Advanced Threat Intelligence</div>
        </div>
    </div>
    <div class="col-6 col-lg-6 col-xl-4 white-col">
        <div>

            <div class="row">
                <h5>We are currently in beta, so all accounts are pre-moderated.</h5>
            </div>


            <!-- OAuth login -->
            <div class="caption-blue-underline mt-40">OAuth
                Authentication<i style="margin-top:3px;margin-left:3px" class="far fa-question-circle"></i></div>
            <div>
                {{errorMessage}}
            </div>
            <div id="auth01" class="row" style="margin-bottom:20px">
                <div class="col-xl-6">
                    <a href="{{apiUrl}}/github_login">
                        <div class="auth-button"><i class="fab fa-github"></i></div>
                    </a>
                </div>
                <div class="col-xl-6">
                    <a href="{{apiUrl}}/gitlab_login">
                        <div class="auth-button"><i class="fab fa-gitlab"></i></div>
                    </a>
                </div>
            </div>
            <div id="auth02" class="row mb-0">
                <div class="col-xl-6">
                    <a href="{{apiUrl}}/bitbucket_login">
                        <div class="auth-button"><i class="fab fa-bitbucket"></i></div>
                    </a>
                </div>
                <div class="col-xl-6">
                    <a href="{{apiUrl}}/google_login">
                        <div class="auth-button"><i class="fab fa-google"></i></div>
                    </a>
                </div>
            </div>
            <div class="hint-block">By clicking login you agree to our <a href="#">Terms of Service</a></div>


            <!-- link to registration -->
            <div class="caption-blue-underline mt-50">Don't have an account?</div>
            <a routerLink="/create-account" class="btn btn-primary btn-block">Sign Up!</a>


            <!-- Basic Authentication -->
            <!--<div class="caption-blue-underline mt-50">Basic Authentication</div>
            <form name="form" class="auth-form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
              <div [ngClass]="{ 'has-error': f.submitted && !username.valid }" class="row" style="padding:0px 10px 10px 10px">
                <div class="col-xl-12" style="padding:10px 0px 10px 0px">
                  <input  class="form-control" name="username"  [(ngModel)]="model.username" #username="ngModel"  required placeholder="Username or email">
                  <div *ngIf="f.submitted && !username.valid">Username is required</div>
                </div>
              </div>
              <div [ngClass]="{ 'has-error': f.submitted && !password.valid }" class="row" style="padding:0px 10px 10px 10px">
                <div class="col-xl-12" style="padding:10px 0px 10px 0px">
                  <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel"  required text="password">
                  <div *ngIf="f.submitted && !password.valid">Password is required</div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12" style="padding:0px 10px 0px 10px">
                  <button [disabled]="loading" class="btn btn-primary btn-block ">Login</button>
                </div>
              </div>
              <div class="hint-block">By clicking login you agree to our <a href="#">Terms of Service</a></div>
            </form>-->

        </div>
    </div>
</div>
