<div class="row entry-page">
    <div class="col-6 col-lg-6 col-xl-8 graph-background-col">
        <div class="graph-background"></div>
        <div class="threatrix-title" >
            <div><img class="logo" src="/assets/images/website_logo_white-letters-transparent_background-large.png">
            </div>
            <div class="app-title">Threat Center</div>
            <div class="app-tagline">Open Source Supply Chain <br/>Risk Analysis & Mitigation</div>
        </div>
    </div>

    <div class="col-6 col-lg-6 col-xl-4 white-col">

        <div>
            <!-- Registration via username/password -->
            <div class="caption-blue-underline mt-50">Don't have an account?</div>
            <a routerLink="/create-account" class="btn btn-primary btn-block">Sign Up!</a>

            <div class="alert-box mt-50" *ngIf="!!loginPageError && loginPageError !== ''">
                <app-alert type="warning">{{loginPageError}}</app-alert>
            </div>
            <!-- OAuth login -->
            <div class="caption-blue-underline" [ngClass]="{ 'mt-50': !loginPageError || loginPageError == '' }">
                OAuth Authentication
                <a href="javascript:" [placement]="'top'" [popoverTitle]="'OAuth Authentication'" ngbPopover="Login or sign up with your GitHub, GitLab, BitBucket or Google account.">
                    <i class="far fa-question-circle" ></i>
                </a>
            </div>
            <div>
                <app-alert type="warning" *ngIf="errorMessage">{{errorMessage}}</app-alert>
            </div>
            <div id="auth01" class="row" style="margin-bottom:20px">
                <div class="col-xl-6">
                    <a (click)="externalLogin('github_login', repoTypeDialog)" class="cursor-pointer">
                        <div class="auth-button"><i class="fab fa-github"></i></div>
                    </a>
                </div>
                <div title="Gitlab disabled during Beta" class="col-xl-6">
                    <a  (click)="externalLogin('gitlab_login', repoTypeDialog)" class="cursor-pointer disabled">
                        <div class="auth-button disabled"><i class="fab fa-gitlab"></i></div>
                    </a>
                </div>
            </div>
            <div id="auth02" class="row mb-0">
                <div title="Bitbucket during Beta" class="col-xl-6">
                    <a (click)="externalLogin('bitbucket_login', repoTypeDialog)" class="cursor-pointer ">
                        <div class="auth-button "><i class="fab fa-bitbucket"></i></div>
                    </a>
                </div>
                <div title="Google disabled during Beta" class="col-xl-6">
                    <a (click)="externalLogin('google_login', repoTypeDialog)" class="cursor-pointer disabled">
                        <div class="auth-button disabled"><i class="fab fa-google"></i></div>
                    </a>
                </div>
            </div>
            <div class="hint-block">By clicking login you agree to our <a href="#">Terms of Service</a></div>

            <!-- Basic Authentication -->
            <div class="caption-blue-underline mt-50">Basic Authentication</div>
            <form name="form" class="auth-form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <!-- username || email -->
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <input class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required placeholder="Username or email">
                    <div class="text-danger" *ngIf="f.submitted && !username.valid">Username is required</div>
                </div>
                <!-- password -->
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <input class="form-control" name="password" type="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Password">
                    <div class="text-danger" *ngIf="f.submitted && !password.valid">Password is required</div>
                </div>
                <!-- submit -->
                <button [disabled]="loading" class="btn btn-primary btn-block ">Login</button>
                <div class="hint-block">By clicking login you agree to our <a href="#">Terms of Service</a></div>
            </form>

        </div>
        
        <ng-template #repoTypeDialog let-modal>
            <div class="modal-header">
              <h3 class="modal-title" id="modal-basic-title">Choose the available types of repositories</h3>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Repository types</h5>
                    <div class="form-group">
                        <div class="radio radio-primary d-inline">
                            <input [(ngModel)]="choosenRepoType" type="radio" value="public" name="choosenRepoType-public" id="choosenRepoType-public">
                            <label for="choosenRepoType-public" class="cr">Only public repositories.</label>
                            <p class="m-l-30 m-b-0">Only your public repositories will be available for processing</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="radio radio-primary d-inline">
                            <input [(ngModel)]="choosenRepoType" type="radio" value="private" name="choosenRepoType-private" id="choosenRepoType-private">
                            <label for="choosenRepoType-private" class="cr">Public and private repositories.</label>
                            <p class="m-l-30 m-b-0">Public and private repositories will be available for processing </p>
                        </div>
                    </div>
       
                </div>
            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="modal.close('click'); setGithubRepoType();">OK</button>
              <button type="button" class="btn btn-secondary" (click)="modal.close('click')">Cancel</button>
            </div>
          </ng-template>
              
    </div>
</div>
