<div>
  <nav aria-label="breadcrumb" class="float-right">
    <ol class="breadcrumb" *ngIf="!!user">
      <li class="breadcrumb-item"><a href="javascript:" (click)="goToUserList()">Users</a></li>
      <li class="breadcrumb-item"><a href="javascript:" (click)="goToUserShow(user?.username)">User</a></li>
      <li class="breadcrumb-item active text-muted" aria-current="page">API key</li>
    </ol>
    <ol class="breadcrumb" *ngIf="!user">
      <li class="breadcrumb-item"><a href="javascript:" (click)="goToOrgSettings()">Organization settings</a></li>
      <li class="breadcrumb-item active text-muted" aria-current="page">API key</li>
    </ol>
  </nav>
  <h1>API key</h1>
</div>


<app-messages [messages]="messages"></app-messages>


<ng-template [ngIf]="apiKey !== undefined">
  <div class="row">
    <div *ngIf="!!user" class="col-md-4">

      <!-- User card -->
      <app-user-card  [user]="user" [showMenu]="true"></app-user-card>

    </div>
    <div [ngClass]="isUserKey ? 'col-md-8' : 'col-md-12'">
      <app-card cardTitle="API key data">
        <div class="pt-4" style="width: 100%;">
          <div class="form-group " style="padding-left: 0px">
            <label >Title</label>
            <input class="form-control" style="width: 100%;" required [(ngModel)]="apiKey.title"/>
          </div>
          <div class="form-group " style="padding-left: 0px">
            <label >Description</label>
            <textarea name="description" style="width: 100%;"
            class="form-control input-contrast comment-form-textarea js-comment-field"
            [(ngModel)]="apiKey.description"></textarea>
          </div>
          <div *ngIf="this.keyId !== 'new'" class="form-group" style="padding-left: 0px">
            <label class="font-weight-bolder">Created date</label>
            <input disabled class="form-control" value="{{apiKey.createdDate | date :'M/d/y h:mmaa' | lowercase}}"/>
          </div>
          <div class="form-group" style="padding-left: 0px">
            <label class="font-weight-bolder">Expired date</label>
            <input *ngIf="this.keyId == 'new'" class="form-control" autocomplete="off" [(ngModel)]="apiKey.expiredDate"
              ngbDatepicker #dateStartPicker="ngbDatepicker" (click)="dateStartPicker.toggle()">
            <input *ngIf="this.keyId !== 'new'" disabled class="form-control" value="{{apiKey.expiredDate | date :'M/d/y h:mmaa' | lowercase}}"/>
          </div>
        </div>
        <div class="actions mt-5">
          <button type="button" class="btn btn-success" (click)="saveApiKey()" >
            <i class="feather icon-save"></i>
            {{keyId === 'new'?'Generate API key':'Save'}}
          </button>
          <a *ngIf="!!user" (click)="gotoUser()" class="btn btn-outline-secondary">
            <i class="feather  icon-user"></i>
            Back to user
          </a>
          <a *ngIf="!user" routerLink="/dashboard/org-setting/integration/org-apikeys" class="btn btn-outline-secondary">
            <i class="fas fa-bars"></i>
            Back to settings
          </a>
        </div>
      </app-card>
    </div>          
  </div>
</ng-template>  


<ng-template [ngIf]="apiKey === undefined">
  <app-alert type="warning">API key is not found.</app-alert>

  <a *ngIf="!!user" (click)="gotoUser()" class="btn btn-outline-secondary">
      <i class="feather icon-user"></i>
      Back to user
  </a>
  <a *ngIf="!user" routerLink="/dashboard/org-setting/integration/org-apikeys" class="btn btn-outline-secondary">
    <i class="fas fa-bars"></i>
    Back to settings
  </a>
</ng-template>
