<app-card [hidHeader]="true" cardClass="tab-card">


  <ngb-tabset [activeId]="activeTab" type="pills" *ngIf="!loadingScan; else loading" (tabChange)="onTabChange($event)">
    <!-- DRAG & DROP -->
    <ngb-tab class="mb-3" id="DragDrop">
      <ng-template ngbTabTitle>
        <span class="tab-title">Drag And Drop</span>
      </ng-template>

      <ng-template ngbTabContent>
        <app-card cardTitle="File Upload" [options]="false">
          <form id="file-upload-form" [formGroup]="fileForm" (ngSubmit)="onSubmitFileForm()">
            <file-upload formControlName="files"
              accept="application/zip,application/tar,application/x-tar,application/gzip,application/x-gzip" [multiple]="false">
            </file-upload>
          </form>

          <div class="text-center m-t-20">
            <button class="btn btn-primary" form="file-upload-form" [disabled]="fileForm.invalid">Upload Now</button>
          </div>
        </app-card>
      </ng-template>
    </ngb-tab>

    <!-- Github -->
    <ngb-tab id="Github">
      <ng-template ngbTabTitle>
        <span class="tab-title">Github</span>
      </ng-template>
      <ng-template ngbTabContent>
        <div *ngIf='activeTab=="Github"; else getGithub'>
          <div *ngIf='obsGithubUser | async as user; else loading' style="margin-top:40px">
            <div class="container">
              <div class="row">
                <div class="col-xl-8 col-md-12">
                  <!-- Select repository header -->
                  <ng-container *ngTemplateOutlet="headertem"></ng-container>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                      <app-card [hidHeader]="true" [options]="false" cardClass="nested-card repo-card">
                        <ng-container
                          *ngTemplateOutlet="repoHeader;context:{img: user.avatarUrl, user: user.login,repoRef:repoList }">
                        </ng-container>
                        <perfect-scrollbar [style.max-height]="'385px'">
                          <repo-list [tabColumns]="ghUserCols" [values]="user.repositories.edges" [ispaginator]="false"
                            [rows]="50" [filterDelay]="0" [globalFilterFields]="['node.name']" [isLanguage]="true"
                            (rowSelect)="onRowSelect($event);orgRepoList.deSelection()"
                            (rowUnSelect)="onRowUnselect($event)" #repoList>
                          </repo-list>
                        </perfect-scrollbar>
                      </app-card>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12" *ngFor="let orgEdge of user.organizations.edges">
                      <app-card [hidHeader]="true" [options]="false" cardClass="nested-card repo-card">
                        <ng-container
                          *ngTemplateOutlet="repoHeader;context:{img: orgEdge.node.avatarUrl, user: orgEdge.node.name,repoRef:orgRepoList }">
                        </ng-container>
                        <perfect-scrollbar [style.max-height]="'385px'">
                          <repo-list [tabColumns]="ghUserCols" [values]="orgEdge.node.repositories.edges"
                            [ispaginator]="false" [rows]="50" [filterDelay]="0" [globalFilterFields]="['node.name']"
                            [isLanguage]="true" (rowSelect)="onRowSelect($event);repoList.deSelection()"
                            (rowUnSelect)="onRowUnselect($event)" #orgRepoList>
                          </repo-list>
                        </perfect-scrollbar>
                      </app-card>
                    </div>
                  </div>
                </div>

                <div class="col-xl-4 col-lg-6 col-md-12">
                  <ng-container *ngTemplateOutlet="scanReadyheadertemplate"></ng-container>
                  <app-card [hidHeader]="true" [options]="false" cardClass="nested-card selected-repo-card">
                    <div class="col-xl-12">
                      <perfect-scrollbar [style.max-height]="'425px'">
                        <ready-scan-repo [tabColumns]="ghUserCols" [values]="selectedRepos" [ispaginator]="false"
                          [rows]="50" (branchChange)="changeBranch($event)" #readyScanRepo>
                        </ready-scan-repo>
                      </perfect-scrollbar>
                      <div style="float:right;margin-top:10px">
                        <button
                          [ngClass]="{'disabled' : (!selectedRepos || selectedRepos.length === 0) || isDisableScanBtn == true || (!selectedItem || selectedItem == '')}"
                          class="btn btn-primary" ngbtooltip="Run Scan"
                          [disabled]="(!selectedRepos || selectedRepos.length === 0) || isDisableScanBtn == true || (!selectedItem || selectedItem == '')"
                          type="button" (click)="submitScan('github')"><i style="color:greenyellow" class="fas fa-power-off">
                          </i> Execute Threat Scan
                        </button>
                      </div>
                    </div>
                  </app-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <!--GitLab-->
    <ngb-tab class="mb-3" id="Gitlab">
      <ng-template ngbTabTitle>
        <span class="tab-title">Gitlab</span>
      </ng-template>
      <ng-template ngbTabContent>
        <div *ngIf='activeTab=="Gitlab"; else getGitlab'>
          <div *ngIf='obsGitlabUser | async as user; else loading' style="margin-top:40px">
            <div class="container">
              <div class="row">
                <div class="col-xl-8 col-md-12">
                  <!-- Select repository header -->
                  <ng-container *ngTemplateOutlet="headertem"></ng-container>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                      <app-card [hidHeader]="true" [options]="false" cardClass="nested-card repo-card">
                        <ng-container
                          *ngTemplateOutlet="repoHeader;context:{img: user.avatarUrl, user: user.username,repoRef:gitLabRepoList }">
                        </ng-container>
                        <perfect-scrollbar [style.max-height]="'475px'">
                          <repo-list [tabColumns]="ghUserCols" [values]="user.gitLabProjects" [ispaginator]="false"
                            [rows]="50" [filterDelay]="0" [globalFilterFields]="['name']" [isLanguage]="false"
                            (rowSelect)="onRowSelect($event);" (rowUnSelect)="onRowUnselect($event)" #gitLabRepoList>
                          </repo-list>
                        </perfect-scrollbar>
                      </app-card>
                    </div>

                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12">
                  <ng-container *ngTemplateOutlet="scanReadyheadertemplate"></ng-container>
                  <app-card [hidHeader]="true" [options]="false" cardClass="nested-card selected-repo-card">
                    <div class="col-xl-12">
                      <perfect-scrollbar [style.max-height]="'425px'">
                        <ready-scan-repo [tabColumns]="ghUserCols" [values]="selectedRepos" [ispaginator]="false"
                          [rows]="50" (branchChange)="changeBranch($event)" #readyScanRepo>
                        </ready-scan-repo>
                      </perfect-scrollbar>
                      <div style="float:right;margin-top:10px">
                        <button
                          [ngClass]="{'disabled' : (!selectedRepos || selectedRepos.length === 0) || isDisableScanBtn == true || (!selectedItem || selectedItem == '')}"
                          class="btn btn-primary" ngbtooltip="Run Scan"
                          [disabled]="(!selectedRepos || selectedRepos.length === 0) || isDisableScanBtn == true || (!selectedItem || selectedItem == '')"
                          type="button" (click)="submitScan('gitlab')"><i style="color:greenyellow" class="fas fa-power-off">
                          </i> Execute Threat Scan
                        </button>
                      </div>
                    </div>
                  </app-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>


    <!--Bitbucket-->
    <!-- <ngb-tab class="mb-3" id="Bitbucket">
      <ng-template ngbTabTitle>
        <span class="tab-title">Bitbucket</span>
      </ng-template>
      <ng-template ngbTabContent>
        <div *ngIf='activeTab=="Bitbucket"; else getBitbucket'>
          <div *ngIf='obsBitbucketUser | async as user; else loading' style="margin-top:40px">
            <div class="container">
              <div class="row">
                <div class="col-xl-8 col-md-12">

                  <ng-container *ngTemplateOutlet="headertem"></ng-container>
                  <div class="row ">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                      <app-card [hidHeader]="true" [options]="false" cardClass="nested-card repo-card">
                        <ng-container
                          *ngTemplateOutlet="repoHeader;context:{img: user.avatarUrl, user: user.username,repoRef:bitbucketRepoList }">
                        </ng-container>
                        <perfect-scrollbar [style.max-height]="'475px'">
                          <repo-list [tabColumns]="ghUserCols" [values]="user.bitBucketRepositories"
                            [ispaginator]="false" [rows]="50" [filterDelay]="0" [globalFilterFields]="['name']"
                            [isLanguage]="true" (rowSelect)="onRowSelect($event);" (rowUnSelect)="onRowUnselect($event)"
                            #bitbucketRepoList>
                          </repo-list>
                        </perfect-scrollbar>
                      </app-card>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12">
                  <ng-container *ngTemplateOutlet="scanReadyheadertemplate"></ng-container>
                  <app-card [hidHeader]="true" [options]="false" cardClass="nested-card selected-repo-card">
                    <div class="col-xl-12">
                      <perfect-scrollbar [style.max-height]="'425px'">

                        <ready-scan-repo [tabColumns]="ghUserCols" [values]="selectedRepos" [ispaginator]="false"
                          [rows]="50" (branchChange)="changeBranch($event)" #readyScanRepo>
                        </ready-scan-repo>
                      </perfect-scrollbar>
                      <div style="float:right;margin-top:10px">
                        <button
                          [ngClass]="{'disabled' : (!selectedRepos || selectedRepos.length === 0) || isDisableScanBtn == true || (!selectedItem || selectedItem == '')}"
                          class="btn btn-primary" ngbtooltip="Run Scan"
                          [disabled]="(!selectedRepos || selectedRepos.length === 0) || isDisableScanBtn == true || (!selectedItem || selectedItem == '')"
                          type="button" (click)="submitScan('bitbucket')"><i style="color:greenyellow" class="fas fa-power-off"></i> Execute Threat Scan
                        </button>
                      </div>
                    </div>
                  </app-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <!-- SNIPPET *ngIf="( authorizationService.hasPermissions('FEATURE_PREVIEW'))" -->
    <ngb-tab class="mb-3" id="Snippet" >
      <ng-template ngbTabTitle>
        <span class="tab-title">Super Snippet Matcher</span>
      </ng-template>
      <ng-template ngbTabContent>
        <app-card cardTitle="Paste a snippet!" [options]="false">
          <form >
            <textarea class="form-control form-control-sm" id="snippetText"
                   [(ngModel)]="snippetText" name="snippetText"
                      required rows="20" cols="30"></textarea>
          </form>

          <div class="text-center m-t-20">
            <select class="form-control form-control-sm custom-select" style="width: 100px;margin-right: 20px" id="languageType"
                    [(ngModel)]="languageType" name="languageType" required>
              <option value="" selected>Select language type</option>
              <option value="C">C</option>
              <option value="CPP">C++</option>
              <option value="CSHARP">C#</option>
              <option value="GO">Go</option>
              <option value="GROOVY">Groovy</option>
              <option value="JAVA">Java</option>
              <option value="JAVASCRIPT">Javascript</option>
              <option value="KOTLIN">Kotlin</option>
              <option value="OBJECTIVE_C">Objective-C</option>
              <option value="PERL">Perl</option>
              <option value="PERL6">Perl6</option>
              <option value="PLPGSQL">PLPGSQL</option>
              <option value="PHP">PHP</option>
              <option value="PYTHON">Python</option>
              <option value="R">R</option>
              <option value="RUBY">Ruby</option>
              <option value="RUST">Rust</option>
              <option value="SCALA">Scala</option>
              <option value="SHELL">Shell</option>
              <option value="TYPESCRIPT">Javascript</option>
            </select>
            <button class="btn btn-primary" (click)="submitSnippet()">Find Matches</button>
          </div>
          <div *ngIf='obsSnippetMatch | async as results;' style="margin-top:20px;font-size:14px; ">
            <div style="margin-bottom:10px; border: #7a8085 1px solid; background: #2a3641;font-weight: bold">
              Scan Results
            </div>
            <div style="margin-bottom:20px;">
              Scan time: {{results.scanTime}}ms <br/>
              Match time: {{results.matchTime}}ms <br/>

              <div *ngIf="results.snippetSize > 1024; else showSnippetBytes">
                Snippet size: {{results.snippetSize/1024| number: '1.0-2'}} KB<br/>
              </div>
              <ng-template #showSnippetBytes>
                Snippet size: {{results.snippetSize}} Bytes<br/>
              </ng-template>

              <div *ngIf="results.matchSize > 1024; else showMatchBytes">
                Match size: {{results.matchSize/1024| number: '1.0-2'}} KB
              </div>
              <ng-template #showMatchBytes>
                Match size: {{results.matchSize}} Bytes
              </ng-template>

            </div>


            <div class="row" *ngFor="let match of results.snippetMatches" style="margin:0px;margin-top:10px;padding:15px;border: 1px solid #4680ff;">

              <!--
              <div class="step-header-stepnum" style="border-color: #4680ff;font-size: 17px;">
                {{matchCounter=matchCounter+1}}
              </div>
              -->

              <div class="col-xl-4 col-lg-4 col-md-4" style="">

                <div style="margin-bottom:10px; border: #7a8085 1px solid; background: #2a3641">
                  Asset Details
                </div>
                <span style="font-weight: bold;color: cyan">{{match.matchPercent*100| number: '1.0-2'}}% match</span><br/>
                Asset: {{match.assetName}}<br/>
                {{match.repositoryOwner}} / {{match.repositoryName}}<br/>
                SHA-1: {{match.matchAssetId}}<br/>
                <!--<i class="btn-outline-info fab fa-github fa-1x align-middle m-r-5"></i>-->
                <div *ngFor="let assetLicense of match.assetLicenses">
                  {{assetLicense.licenseName}} : {{assetLicense.licenseContext}}

                </div>

              </div>
              <div class="col-xl-4 col-lg-4 col-md-4" style="">
                <div style="margin-bottom:10px; border: #7a8085 1px solid; background: #2a3641">
                  Earliest Release
                </div>
                {{match.earliestRelease.releaseName}} / {{match.earliestRelease.releaseDate|date:'MMM d, yyyy'}} <br/>
                <div *ngFor="let earliestReleaseLicense of match.earliestReleaseLicenses">
                  {{earliestReleaseLicense.licenseName}}
                </div>

              </div>
              <div class="col-xl-4 col-lg-4 col-md-4" >
                <div style="margin-bottom:10px; border: #7a8085 1px solid; background: #2a3641">
                  Latest Release
                </div>
                {{match.latestRelease.releaseName}} / {{match.latestRelease.releaseDate|date:'MMM d, yyyy'}}<br/>
                <div *ngFor="let latestReleaseLicense of match.latestReleaseLicenses">
                  {{latestReleaseLicense.licenseName}}
                </div>
              </div>
            </div>
            <!--
            <div style="clear: both;">
              {{obsSnippetMatch|async|json}}
            </div>
            -->
          </div>
        </app-card>
      </ng-template>
    </ngb-tab>


  </ngb-tabset>
  <ng-template #loading>
    <div *ngIf="!loadingScan">
      <p>You don’t have any repositories available for scanning.</p>
      <p>You must use Github/Gitlab OAuth login in order for Threatrix to access your repositories to run scans from Threat Center</p>
    </div>
    <span *ngIf="loadingScan">Loading...</span>
  </ng-template>

  <ng-template ngbTabContent #getGithub>
    <button *ngIf="!!authService.currentUser && !!authService.currentUser.repositoryAccounts && authService.currentUser.repositoryAccounts.githubAccount" class="btn btn-outline-primary" type="button">Get Github Repositories</button>
  </ng-template>

  <ng-template ngbTabContent #getGitlab>
    <button class="btn btn-outline-primary" type="button">Get Gitlab Repositories</button>
  </ng-template>

  <ng-template ngbTabContent #getBitbucket>
    <button class="btn btn-outline-primary" type="button">Get BitBucket Repositories</button>
  </ng-template>

  <ng-template ngbTabContent #headertem>
    <div class="step-header active">
      <div class="step-header-stepnum active">1</div>
      <div style="float:left;padding-top:3px">Select Repositories &nbsp;</div>
      <div>
        <button class="btn btn-primary btn-sm btn-custom-sm" ngbtooltip="Refresh"
          type="button" (click)="refreshData()"><i style="color:greenyellow" class="far fa-sync-alt">
          </i> Refresh
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template ngbTabContent #scanReadyheadertemplate>
    <div [ngClass]="{'active' : selectedRepos.length>0}" class="step-header">
      <div [ngClass]="{'active' : selectedRepos.length>0}" class="step-header-stepnum">2</div>
      <div style="float:left;padding-top:3px">Repositories Ready To Scan</div>
    </div>
  </ng-template>

  <ng-template #repoHeader let-img="img" let-user="user" let-badge="badge">
    <div class="repository-usr">
      <div class="repo-usr-img">
        <img width="30" src="{{img}}">
      </div>
      <div class="repo-usr-lbl">
        {{user}}
      </div>
      <div class="repo-filter">
        <input class="form-control" placeholder="Filter" pInputText size="50" (input)="onRepositoryFilterInput($event)">
      </div>
    </div>
  </ng-template>
  <ngx-spinner [fullScreen]="true" color="#4680ff" type="pacman" size="large"></ngx-spinner>
</app-card>
