<div class="dash-passed-row">
    <div class="dash-passed-lt">
        <div
            [ngClass]="{'passed-lbl':mostRecentScan?.node?.status === 'SUCCESS','failed-lbl':mostRecentScan?.node?.status === 'FAIL','warning-lbl':mostRecentScan?.node?.status === 'WARNING'}">
            <span class="cursor-pointer"
                (click)="openLogs(scanError, mostRecentScan?.node?.errorMsg, mostRecentScan?.node?.log)"
                *ngIf="mostRecentScan?.node?.status === 'SUCCESS'">Passed</span>
            <span class="cursor-pointer"
                (click)="openLogs(scanError, mostRecentScan?.node?.errorMsg, mostRecentScan?.node?.log)"
                *ngIf="mostRecentScan?.node?.status === 'FAIL'">Failed</span>
            <span class="cursor-pointer"
                (click)="openLogs(scanError, mostRecentScan?.node?.errorMsg, mostRecentScan?.node?.log)"
                *ngIf="mostRecentScan?.node?.status === 'WARNING'">WARNINGS</span>
        </div>  
        <ul class="matrix-data">
            <li>
                <small>Scan Date</small>
                <span *ngIf="!!mostRecentScan.node && !!mostRecentScan.node.created">{{mostRecentScan?.node?.created | date:'MMM d, HH:mm '}}</span>
                <span *ngIf="!mostRecentScan.node || !mostRecentScan?.node?.created" class="text-center">-</span>
            </li>

            <li>
                <small>CommitID</small>
                <span *ngIf="!!mostRecentScan.node && !!mostRecentScan?.node?.versionHash">{{mostRecentScan?.node?.versionHash}}</span>
                <span *ngIf="!mostRecentScan.node || !mostRecentScan?.node?.versionHash" class="text-center">-</span>
            </li>

            <li>
                <small>Branch</small>
                <span *ngIf="!!mostRecentScan.node && !!mostRecentScan.node.branch">{{mostRecentScan?.node?.branch}}</span>
                <span class="text-center" *ngIf="!mostRecentScan.node || !mostRecentScan.node.branch">-</span>
            </li>

            <li>
                <small>Scan Tag</small>
                <span *ngIf="!!mostRecentScan.node && !!mostRecentScan.node.tag">{{mostRecentScan?.node?.tag}}</span>
                <span class="text-center" *ngIf="!mostRecentScan.node || !mostRecentScan.node.tag">-</span>
            </li>

            <li>
                <small>Phase</small>
                <span>development</span>
            </li>

            <li class="history">
                <small></small>
                <span (click)="openScanTable()" class="mt-3">Scan History({{totalScanCount}})</span>
            </li>
        </ul>
    </div>
</div>

<ng-template #scanError let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Scan info</h4>
    </div>
    <div class="modal-body">
        <ngb-tabset style="margin-top: 10px;" type="pills">
            <!-- ERRORS TAB -->
            <ngb-tab id="scanErrors" *ngIf="!!errorMsg">
                <ng-template ngbTabTitle>
                    ERRORS
                </ng-template>
                <ng-template ngbTabContent>
                    <perfect-scrollbar [style.max-height]="'500px'"
                        [config]="{useBothWheelAxes: true, suppressScrollX: false, suppressScrollY: false}">
                        <div style="display: inline-block; margin-top: 10px;">
                            <pre style="text-align: left;color: #fff;">{{errorMsg}}</pre>
                        </div>
                    </perfect-scrollbar>
                </ng-template>
            </ngb-tab>
            <!-- LOGS TAB -->
            <ngb-tab id="scanLogs" *ngIf="!!log">
                <ng-template ngbTabTitle>
                    LOG
                </ng-template>
                <ng-template ngbTabContent>
                    <perfect-scrollbar [style.max-height]="'500px'"
                        [config]="{useBothWheelAxes: true, suppressScrollX: false, suppressScrollY: false}">
                        <div style="display: inline-block; margin-top: 10px;">
                            <pre style="text-align: left;color: #fff;">{{log}}</pre>
                        </div>
                    </perfect-scrollbar>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" (click)="modal.close('click')">Close</button>
    </div>
</ng-template>
