/* You can add global styles to this file, and also import other style files */

/* SCSS */
@import "scss/style";
@import '~@circlon/angular-tree-component/css/angular-tree-component.css';
@import '@angular/material/prebuilt-themes/purple-green.css';

.mat-paginator {
    background: none;
}

.mat-selected {
    color: #fff !important;
}

#projectVulnerabilityChart {
    filter: saturate(70%) !important;
}

#projectLicenseChart {
    filter: saturate(70%) !important;
}

#projectComponentChart {
    filter: saturate(70%) !important;
}

#projectAssetChart {
    filter: saturate(70%) !important;
}

#projectSourceCodeLeakChart {
    filter: saturate(70%) !important;
}

.project-chart-blk {
    .apexcharts-legend {
        display: none;
    }

    .proj-t-card {
        overflow: inherit;
    }

    .card {
        margin-bottom: 15px;
    }
}

.arrow_box {
    position: relative;
    background: #fff;
}

.arrow_box:after,
.arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(85, 85, 85, 0);
    border-right-color: #555;
    border-width: 10px;
    margin-top: -10px;
}

.arrow_box:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000000;
    border-width: 13px;
    margin-top: -13px;
}

#chart .apexcharts-tooltip {
    color: #fff;
    transform: translateX(10px) translateY(10px);
    overflow: visible !important;
    white-space: normal !important;
}

#chart .apexcharts-tooltip span {
    padding: 5px 10px;
    display: inline-block;
}


.chart-overlay {

    border-radius: 4px;
    font-size: 14px;
    color: #000;
    text-align: center;
    width: 250px;
    white-space: initial;

    .active-fig {
        padding: 5px;
        background: rgba(0, 0, 0, 0.1);
        color: #000;
        font-size: 16px;
        border-radius: 4px;
        display: block;
        width: 100%;
    }


    ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding-left: 0;
        list-style: none;
        margin: 0;
        padding: 10px;

        li {
            width: 50%;
            position: relative;
            padding: 0 15px 0 20px;
            font-size: 14px;
            color: #000;
            margin: 5px 0;
            text-align: left;
            word-break: break-all;

            &:after {
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 5px;
                background: #f2f2f2;
            }

            &:nth-child(2n) {
                padding-right: 0;
            }

            &.red:after {
                background: rgb(255, 43, 43);
            }

            &.orange:after {
                background: rgb(255, 82, 82);
            }

            &.yellow:after {
                background: rgb(255, 162, 29);
            }

            &.lgt-blue:after {
                background: rgb(0, 172, 193);
            }

            &.green:after {
                background: rgb(0, 227, 150);
            }

            &.blue::after {
                background: rgb(70, 128, 255);
            }
            &.pink::after {
                background: rgb(199, 21, 133);
            }
            &.white::after {
                background: rgb(248, 248, 255);
            }

        }
    }
}

.invalid-form {
    width: 100%;
    color: #ff5252;
    margin-top: 0.25rem;
}

.tree-node {
    font-size: 14px;
    border-left: none;
}


.entiy-tree .node-content-wrapper-active,
.entiy-tree .node-content-wrapper.node-content-wrapper-active:hover,
.entiy-tree .node-content-wrapper-active.node-content-wrapper-focused {
    background: #6078ea !important;

    span {
        color: var(--white) !important;
    }
}