.dash-tab-form {
    padding: 15px;
    background: #29333e;//#445361;
    border: 1px solid #888888;

    .form-group {
        margin-bottom: 0;
    }

    .checkbox {
        &.checkbox-info {
            input[type=checkbox]+.cr:before {
                width: 16px;
                height: 16px;
                margin-right: 5px;
                font-size: 13px;
                line-height: 12px;
                position: relative;
                top: -1px;
            }
        }
    }
}

.vulnerabilites-data {
    margin-top: 20px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        .data-item {
            // display: flex;
            // flex-wrap: wrap;
            padding: 15px;
            background: #202932;
            border-left: 5px solid transparent;
            margin-bottom: 10px;
            line-height: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            &.high-data-card {
                border-color: #CE6262;
            }

            &.PERMISSIVE {
                border-color: #11C15B;
            }

            &.PUBLIC_DOMAIN {
                border-color: #11C15B;
            }

            &.COPYLEFT_STRONG {
                border-color: #ff5252;
            }

            &.COPYLEFT_WEAK {
                border-color: #ffa21d;
            }

            &.UNDEFINED {
                border-color: #ffa21d;
            }

            &.COPYLEFT_PARTIAL {
                border-color: #ffa21d;
            }

            &.COPYLEFT_LIMITED {
                border-color: #ffa21d;
            }

            &.COPYLEFT {
                border-color: #ffa21d;
            }

            &.PROPRIETARY_FREE {
                border-color: #ffa21d;
            }



            p {
                font-size: 15px;
                color: #fff;
                font-weight: 300;
                margin-bottom: 0;
                line-height: 20px;
            }

            .vulner-data-lt {
                width: 100%;
                padding-right: 10px;

                .data-tag-ttl {
                    display: flex;
                    align-items: center;
                    width: 100%;
                }

                .data-code {
                    font-size: 16px;
                    font-weight: 700;
                    color: #fff;
                }

                .data-hdng {
                    font-size: 18px;
                    font-weight: 700;
                    color: #fff;
                    margin: 0 0 5px 5px;
                }
            }

            .vulner-data-rt {
                width: 100%;
                display: flex;
                align-items: flex-end;
                flex-direction: column;

                .info-cols {
                    flex-direction: column;
                    font-size: 13px;
                    align-items: flex-start;
                    line-height: 18px;
                }
            }

            .component-fixed-box {
                display: flex;
                padding: 15px;
                border: 1px solid #888;

                .vulner-data-rt {
                    width: 50%;
                    align-items: flex-start;

                    &.vulner-sts-data {
                        width: 50%;
                    }
                }
            }

            .data-row {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 10px;
            }
        }
    }
}



.data-tag {
    display: inline-block;
    min-width: 60px;
    line-height: 28px;
    text-align: center;
    padding: 0 5px;
    font-size: 14px;
    // color: #029eab;
    // background: #1a4554;
    border-radius: 2px;
    margin-bottom: 0;
    flex-shrink: 0;

    &.red-tag {
        background: rgba(252, 16, 16, 0.2);
        color: #EC6755;
    }

    &.blue-tag {
        background: #1a4554;
        color: #00acc1;
    }

    &.purple-tag {
        background: #283b5b;
        color: #467ff8;
    }

    &.PERMISSIVE {
        background: rgba(17, 204, 17, 0.2);
        color: #11C15B;
    }

    &.PUBLIC_DOMAIN {
        background: rgba(17, 204, 17, 0.2);
        color: #11C15B;
    }

    &.COPYLEFT_STRONG {
        color: #ff5252;
        background: rgba(17, 204, 17, 0.2);
    }

    &.COPYLEFT_WEAK {
        color: #ffa21d;
        background: rgba(17, 204, 17, 0.2);
    }

    &.UNDEFINED {
        color: #ffa21d;
        background: rgba(17, 204, 17, 0.2);
    }

    &.COPYLEFT_PARTIAL {
        color: #ffa21d;
        background: rgba(17, 204, 17, 0.2);
    }

    &.COPYLEFT_LIMITED {
        color: #ffa21d;
        background: rgba(17, 204, 17, 0.2);
    }

    &.COPYLEFT {
        color: #ffa21d;
        background: rgba(17, 204, 17, 0.2);
    }

    &.PROPRIETARY_FREE {
        color: #ffa21d;
        background: rgba(17, 204, 17, 0.2);
    }
}

.info-cols {
    display: flex;
    width: 150px;
    font-size: 15px;
    color: #fff;
    align-items: center;
    font-weight: 300;

    small {
        color: #2DC6DB;
        margin-right: 5px;
        font-size: 15px;
    }
}
